.yangmanModule{

    background-color: #ffffff;
    color: #000000;
    height: 100%;

    h1, h2, h3, h4, h5, h6, span{
        color: #000000;
    }

    md-tabs{
        height: 100%;
    }

    md-tabs-wrapper{
        display: none;
    }

    md-tabs-content-wrapper{
        top: 0!important;
    }

    md-tab-content md-tabs-wrapper{
        display: inline;
    }

}
