<div ng-controller="filterTypeBitCtrl">
    <div ng-repeat="bit in type.getChildren('bit')">
        <div ng-hide="$index > 3 && !node.expandedBits">
            <input class="bitCheckbox" type="checkbox" ng-model="type.bitsValues[$index]" ng-checked="type.bitsValues[$index] === 1" ng-true-value="1" ng-false-value="0" ng-change="valueChanged()">
            <span>{{bit.label}}</span>
        </div>
        <div class='clear'></div>
    </div>

    <button ng-if="type.getChildren('bit').length > 4" class="yangButton inlineBlock filterBitsIcon" ng-class="node.expandedBits ? 'iconCollapseBits' : 'iconExpandBits'" tooltip="EXPAND" ng-click="node.expandedBits = !node.expandedBits"></button>

    <div class="filterBitsValue">
        <input class="leaf-input form-control input-small" type="text" ng-model="node.filterBitsValue" ng-show="node.filterType !== 'range'" placeholder="Value"></input>

        <input class="leaf-input form-control input-small adv-fil-range" type="text" ng-model="node.filterRangeFrom" placeholder="From" ng-show="node.filterType === 'range'"></input>
        <input class="leaf-input form-control input-small adv-fil-range" type="text" ng-model="node.filterRangeTo" placeholder="To" ng-show="node.filterType === 'range'"></input>

        <select class="form-control input-sm adv-fil-sel" ng-model="node.filterType" ng-options="value as value for value in filterConstants.ADVANCED_FILTERING_TYPES.string"></select>
    </div>
</div>