<div ng-controller="spvCtrl">
    <span class="col-md-3">{{'ELINE_SWITCH' | translate}}</span><input type="text" class="elineInput input-small col-md-7" ng-model="switch" placeholder="2" />
    <div class="clear"></div>
    <span class="col-md-3">{{'ELINE_PORT' | translate}}</span><input type="text" class="elineInput input-small col-md-7" ng-model="port" placeholder="7" />
    <div class="clear"></div>
    <span class="col-md-3">{{'ELINE_VLAN' | translate}}</span><input type="text" class="elineInput input-small col-md-7" ng-model="vlan" placeholder="101" />
    <div class="clear"></div>
</div>