<button class="btn btn-default ng-scope btn-slim" ng-click='reqHistoryFunc()'>
    {{ 'YANGUI_SHOW_HISTORY' | translate }}
</button>
<div class="popUpWrapperFix" ng-show="popupHistory.show">
    <div class='topologyContainer previewContainer historyPopUp draggablePopup' ng-show="popupHistory.show">
        <button class="yangButton icon-remove close" ng-click="close_popup(popupHistory)"></button>
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="btn-like-tab active" ng-click="tabs($event, 0)">
                    <a><span>HISTORY</span></a>
                </li>
                <li class="btn-like-tab" ng-click="tabs($event, 1)">
                    <a><span>COLLECTION</span></a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active">
                  <div class="tableWrapper">
                      <table class="table dataTable">
                        <thead>
                          <tr>
                            <th>{{ 'YANGUI_HISTORY_METHOD' | translate }}</th>
                            <th>{{ 'YANGUI_HISTORY_PATH' | translate }}</th>
                            <th>{{ 'YANGUI_HISTORY_STATUS' | translate }}</th>
                            <th></th>
                            <th></th>
                            <th class="actions">{{ 'YANGUI_HISTORY_ACTION' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody  ng-repeat="req in requestList track by $index"><!--class="table-striped table-hover"-->
                            <tr>
                                <!-- <td colspan="5"><pre>{{req}}</pre></td> -->
                                <td><span>{{ req.method }}</span></td>
                                <td><span>{{ req.path }}</span></td>
                                <td><span>{{ req.status }}</span></td>
                                <td>
                                    <button class="btn btn-primary ng-scope btn-slim {{!req.sentData ? 'disabled' : ''}}" ng-click='show_history_data(req, true, req.sentData ? false : true)'>
                                        {{ req.sentData ? 'YANGUI_HISTORY_SEND_DATA' : 'YANGUI_HISTORY_NO_SEND_DATA' | translate }}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-primary ng-scope btn-slim {{!req.receivedData ? 'disabled' : ''}}" ng-click='show_history_data(req, false, req.receivedData ? false : true)'>
                                        {{ req.receivedData ? 'YANGUI_HISTORY_REC_DATA': 'YANGUI_HISTORY_NO_REC_DATA' | translate }}
                                    </button>
                                </td>
                                <td>
                                    <div class="requestActions">
                                        <button ng-disabled="!req.availability" class="yangButton iconPlus {{ req.availability ? '' : 'disabled' }}" ng-click='addHistoryItemToColl($index)' tooltip="{{ 'YANGUI_ADD_TO_COLLECTION' | translate }}"></button>
                                        <button ng-disabled="!req.availability" class="yangButton iconFillData {{ req.availability ? '' : 'disabled' }}" ng-if="req.receivedData || req.sentData" ng-click='fillApiAndData(req.path,req.receivedData, req.sentData)' tooltip="Fill data"></button>
                                        <button ng-disabled="!req.availability" class="yangButton iconNext {{ req.availability ? '' : 'disabled' }}" ng-click='executeCollectionRequest(req)' tooltip="{{ 'YANGUI_RUN' | translate }}"></button>
                                        <button class="yangButton iconClose" ng-click="deleteRequestItem($index, 'requestList')" tooltip="{{ 'YANGUI_DELETE' | translate }}"></button>
                                        <button class="yangButton iconDanger" tooltip="{{ 'YANGUI_API_NOT_AVAILABLE' | translate }}" ng-hide="req.availability"></button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="req.show">
                                <td colspan="6" class="pre">
                                    <button class="close" ng-click="close_popup(req)">&times;</button>
                                    <textarea disabled>
                                        {{ req.data }}
                                    </textarea>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </div>
                  <button class="btn btn-primary ng-scope btn-slim" ng-click='clearHistoryData(true)'>
                    {{ 'YANGUI_CLEAR_HISTORY' | translate }}
                  </button>
                </div>
                <div class="tab-pane">
                   <div class="tableWrapper">
                      <table class="table dataTable">
                        <thead>
                          <tr>
                            <th>{{ 'YANGUI_HISTORY_METHOD' | translate }}</th>
                            <th>{{ 'YANGUI_HISTORY_PATH' | translate }}</th>
                            <th>{{ 'YANGUI_HISTORY_STATUS' | translate }}</th>
                            <th></th>
                            <th></th>
                            <th class="actions">{{ 'YANGUI_HISTORY_ACTION' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="req in collectionList track by $index"><!--class="table-striped table-hover"-->
                        <tr>
                                <!-- <td colspan="5"><pre>{{req}}</pre></td> -->
                                <td><span>{{ req.method }}</span></td>
                                <td><span>{{ req.path }}</span></td>
                                <td><span>{{ req.status }}</span></td>
                                <td>
                                    <button class="btn btn-primary ng-scope btn-slim {{!req.sentData ? 'disabled' : ''}}" ng-click='show_history_data(req, true, req.sentData ? false : true)'>
                                        {{ req.sentData ? 'YANGUI_HISTORY_SEND_DATA' : 'YANGUI_HISTORY_NO_SEND_DATA' | translate }}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-primary ng-scope btn-slim {{!req.receivedData ? 'disabled' : ''}}" ng-click='show_history_data(req, false, req.receivedData ? false : true)'>
                                        {{ req.receivedData ? 'YANGUI_HISTORY_REC_DATA': 'YANGUI_HISTORY_NO_REC_DATA' | translate }}
                                    </button>
                                </td>
                                <td>
                                    <button ng-disabled="!req.availability" class="yangButton iconFillData {{ req.availability ? '' : 'disabled' }}" ng-if="req.receivedData || req.sentData" ng-click='fillApiAndData(req.path,req.receivedData, req.sentData)' tooltip="Fill data"></button>
                                    <button ng-disabled="!req.availability" class="yangButton iconNext {{ req.availability ? '' : 'disabled' }}" ng-click='executeCollectionRequest(req)' tooltip="{{ 'YANGUI_RUN' | translate }}"></button>
                                    <button class="yangButton iconClose" ng-click="deleteRequestItem($index, 'collectionList')" tooltip="{{ 'YANGUI_DELETE' | translate }}"></button>
                                    <button class="yangButton iconDanger" tooltip="{{ 'YANGUI_API_NOT_AVAILABLE' | translate }}" ng-hide="req.availability"></button>
                                </td>
                            </tr>
                            <tr ng-show="req.show">
                                <td colspan="6">
                                    <pre>
                                        <button class="close" ng-click="close_popup(req)">&times;</button>
                                        {{ req.data }}
                                    </pre>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                  </div>
                  <button class="btn btn-primary ng-scope btn-slim" ng-click='clearHistoryData(false)'>
                    {{ 'YANGUI_CLEAR_HISTORY' | translate }}
                  </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" ng-show="popupHistory.show"></div>