<div class="tabs unionType">
    <ul class="nav nav-tabs">
        <li class="{{$index === 0 ? 'btn-selected' : ''}} btn-like-tab" ng-repeat="type in type.getChildren('type') track by $index" ng-click="tabs($event, $index)">
            <a data-target="{{'#' + type.label + type.id}}" data-toggle="tab"><span>{{type.label}}</span></a>
        </li>
    </ul>

    <div class="tab-content simpleContainer">
        <div id="{{type.label + type.id}}" class="tab-pane {{ $index === 0 ? 'active' : ''}}" ng-repeat="type in type.getChildren('type') track by $index">
            <div ng-include="currentPath+'/types/'+type.label+'.tpl.html'"></div>
        </div>
    </div>
</div>