<div ng-controller="outputCtrl" class="customContainer {{ node.expanded ? '' : 'withoutBorder' }}">
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_ELEM' | translate }}" ng-click='toggleExpanded()'></button>
        <span>
            <b>{{getNodeName(node.localeLabel, node.label)}}</b>
            <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>
        </span>
    </div>

    <div ng-show="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY)" ng-include="currentPath+'/filter/'+node.type+'.tpl.html'">
        </div>
    </div>

    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>

</div>