*.sw*
*~
build/
bin/
node_modules/
vendor/
.DS_Store

# for java
*.class
**/target
bin/
dist
**/logs
products
repository
workspace
*~
target
target-ide
.classpath
.project
.settings
MANIFEST.MF
opendaylight/northbound/integrationtest/logs/*
*.ipr
*.iml
*.iws
.idea
xtend-gen
yang-gen-config
yang-gen-sal
classes
out/
.externalToolBuilders
maven-eclipse.xml
.DS_STORE
.metadata
