[access]
	inheritFrom = All-Projects
[project]
	description = OpenDaylight UX
[access "refs/*"]
	owner = group ldap/gerrit-dlux-committers
	read = group GitHub Replication
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
