[access]
	inheritFrom = All-Projects
[project]
	state = active
	description = OpenDaylight View + UX
[access "refs/*"]
	owner = group ldap/gerrit-vieux-committers
	read = group Non-interactive vieux users
	read = group ldap/gerrit-vieux-committers
	forgeAuthor = group ldap/gerrit-vieux-committers
[access "refs/for/refs/*"]
	push = group ldap/gerrit-vieux-committers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-vieux-committers
	label-Code-Review = -1..+1 group Non-interactive vieux users
	label-Verified = -1..+1 group Non-interactive vieux users
	label-Verified = -1..+1 group ldap/gerrit-vieux-committers
	submit = group ldap/gerrit-vieux-committers
	create = group Non-interactive vieux users
	forgeAuthor = group Non-interactive vieux users
	forgeCommitter = group Non-interactive vieux users
	push = group Non-interactive vieux users
	pushMerge = group Non-interactive vieux users
[access "refs/tags/*"]
	pushTag = group Non-interactive vieux users
	pushTag = +force group ldap/gerrit-vieux-committers
	create = group ldap/gerrit-vieux-committers
	forgeCommitter = group Non-interactive vieux users
	push = group Non-interactive vieux users
	push = +force group ldap/gerrit-vieux-committers
