[access]
	inheritFrom = All-Projects
[project]
	description = OpenDaylight UX - archived\n\nhttps://lists.opendaylight.org/g/Discuss/message/8930
	state = read only
[access "refs/*"]
	owner = group saml/odl-gerrit-dlux-committers
	read = group GitHub Replication
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
