<div ng-controller="listCtrl" class="simpleContainer">
    
    <button class="btn add-row btn-orange ng-scope btn-slim" ng-click='addListElem()'><i class="icon-plus-sign"></i> {{ 'ADD_ELEM' | translate }} {{node.localeLabel | translate}}</button>
    <button ng-repeat="elem in node.listElems" class="btn btn-orange {{ (elem.isValid ? '':'btn-red') }} add-row ng-scope btn-slim" style="margin-right: 5px" ng-click="setActElement(elem)">
        {{elem.localeLabel | translate}}
    </button>
    <div ng-repeat="elem in node.listElems" class="simpleContainer" ng-show='elem === node.actElement'>
        <button class="btn btn-md btn-danger floatRight btn-slim" ng-click='removeListElem(elem)'><i class="icon-remove-sign"></i> {{ 'REMOVE_ELEM' | translate }}</button>
        <div ng-repeat="node in elem.children" ng-include="currentPath+'/'+node.type+'.tpl.html'" ></div>
    </div>
</div>
