<md-list class="directive__abn-tree">
        <md-list-item ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid"
                      ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')"
                      ng-click="user_clicks_branch(row.branch)"
                      id="branch-{{row.index}}"
                      ng-init="(_dataCollection = []).length = row.level; idIndex = idIndex + 1;">
            <span ng-repeat="i in _dataCollection track by $index" ng-class="{'empty-box' : $index !== 0}"></span>
            <md-icon md-font-set="material-icons" class="pointer" id="toggle-branch-{{row.index}}" ng-click="row.branch.expanded = !row.branch.expanded">{{row.tree_icon}}</md-icon>
            <span flex class="indented tree-label">{{ row.label }} {{ row.branch.identifier }}</span>
        </md-list-item>
</md-list>

