<div ng-if="isActionMenu()" class="menu-container md-menu">
    <!-- Close menu (click catcher) -->
    <div ng-show="isActive">
        <md-backdrop ng-click="closeMenu()" class="md-menu-backdrop md-click-catcher" style="position: fixed;"></md-backdrop>
    </div>
    <!-- open menu button -->
    <md-button class="md-icon-button" ng-click="openMenu(); hideInfoBox();">
        <md-icon md-font-set="material-icons">reorder</md-icon>
    </md-button>

    <!-- Menu content -->
    <div class="yang-menu-content md-menu-content" ng-show="isActive">
        <h5 class="title">
            {{ 'YANGMAN_YANG_MENU' | translate }}
            <md-icon md-font-set="material-icons">reorder</md-icon>
        </h5>
        <md-divider></md-divider>

        <!-- add list item -->
        <div class="yang-menu-item md-menu-item" ng-if="addListItem">
            <md-button ng-click="addListItemFunc(); closeMenu();">
                <md-icon md-font-set="material-icons">library_add</md-icon>
                <span md-menu-align-target>{{'YANGMAN_ADD_LIST_ITEM' | translate}}</span>
            </md-button>
        </div>

        <!-- show items list -->
        <div class="yang-menu-item md-menu-item" ng-if="yangList && node.actElemStructure">
            <md-button ng-click="switchSection('items'); setItemList();">
                <md-icon md-font-set="material-icons">list</md-icon>
                <span md-menu-align-target>{{'YANGMAN_SHOW_LIST_ITEM' | translate}}</span>
            </md-button>
        </div>

        <!-- augmentations menu item -->
        <div class="yang-menu-item md-menu-item" ng-if="node.augmentionGroups.length">
            <md-button ng-click="switchSection('augmentations')">
                <md-icon md-font-set="material-icons">brightness_auto</md-icon>
                <span md-menu-align-target>{{'YANGMAN_AUGMENTATIONS' | translate}}</span>
            </md-button>
        </div>

        <!-- info box -->
        <div class="md-whiteframe-z2 info-box" ng-show="infoBox" ng-switch="infoBoxSection">
            <div ng-switch-when="augmentations">
                <md-list flex>
                    <md-list-item ng-repeat="augmentation in node.augmentionGroups">
                        <md-switch ng-model="augmentations.getAugmentation(node, augmentation).expanded"
                                   aria-label="{{augmentation}}"
                                   md-prevent-menu-close>
                            {{augmentation}}
                        </md-switch>
                    </md-list-item>
                </md-list>
            </div>

            <!-- yang list items -->
            <div ng-switch-when="items">
                <md-list>
                    <md-list-item ng-repeat="_ in node.listData" class="no-wrap">
                        <!-- icon -->
                        <md-icon md-font-set="material-icons">
                            {{ [yangList.currentDisplayIndex, yangList.currentDisplayIndex + 1, yangList.currentDisplayIndex - 1].indexOf($index) !== -1 ? 'remove_red_eye' : ''}}
                        </md-icon>

                        <!-- title -->
                        <p ng-class="{'active' : node.actElemIndex === $index}"
                           class="pointer"
                           ng-click="node.changeActElementData($index)">
                            {{yangForm.getNodeName(node.localeLabel, node.label)}}&nbsp;{{node.createListName($index) || '[' + $index + ']'}}
                        </p>

                        <!-- duplicated key -->
                        <md-icon md-font-set="material-icons" ng-show="node.doubleKeyIndexes.indexOf($index) > -1">
                            <md-tooltip md-direction="top">{{ 'LIST_INDEX_DUPLICATE' | translate }}</md-tooltip>
                            error_outline
                        </md-icon>

                        <!-- remove button -->
                        <md-icon md-font-set="material-icons"
                                 class="pointer"
                                 ng-if="addListItem"
                                 ng-click="yangList.removeListElem($index)">
                            <md-tooltip md-direction="top">{{ 'LIST_DELETE_ITEM' | translate }}</md-tooltip>
                            remove_circle_outline
                        </md-icon>

                        <md-ink-bar ng-if="node.actElemIndex === $index" class="custom"></md-ink-bar>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>