<span ng-mouseenter="executeInfoBox(true)" ng-mouseleave="executeInfoBox(false)" class="info-box-container__hover-wrapper">
    <span ng-transclude></span>

    <div class="md-whiteframe-z2 info-box" ng-show="showBoxCheck()">
        <div class="info-box__padding">
            <!-- key -->
            <span ng-show="node.isKey()">
                {{'Key for "' + node.parent.label + '"'}}
                <md-menu-divider ng-show="dividerCheck(true)"></md-menu-divider>
            </span>
            <!-- augment -->
            <span ng-show="node.augmentationId">
                {{ 'YANGMAN_IS_AUGMENT' | translate }} <i>{{node.type}}</i> "{{ node.augmentationId }}"
                <md-menu-divider ng-show="dividerCheck()"></md-menu-divider>
            </span>
            <!-- description -->
            <span ng-show="description.length">{{description}}</span>
        </div>
    </div>
</span>
