Flow Composition
<!--<div>
  <div class="well well-sm" ng-repeat="(key, value) in chosedOptions">
    <div ng-switch="value">
      <div ng-switch-default>
        {{value}}
      </div>
    </div>
    {{key}}
  </div>
</div>
-->

<table class="footable table">
  <thead>
    <tr>
      <th data-toggle="true">Name</th>
      <th>Property</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in chosedOptions">
      <td>{{item.displayName}}</td>
      <td>{{item.value}}</td>
      <td>
        <a class="row-delete" href="">
          <i class="icon-remove"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
