  <form role="form" name="createForm" style="width: 100%">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control input-sm control-label" ng-model="flow.name" id="name" placeholder="Flow name" required>
      </div>

      <div class="form-group">
        <label for="installInHw">Enabled</label>
        <input type="checkbox" id="installInHw" ng-model="flow.installInHw">
      </div>

      <div class="form-group">
        <label for="node">Node</label>
        <select class="form-control input-sm" id="node" ui-select2 ng-model="nodeString" ng-required="true" data-placeholder="Select a node">
          <option value=""></option>
          <option ng-repeat="np in nodes.nodeProperties" value="{{np.node.type}}/{{np.node.id}}">{{np.properties.description.value}}: {{np.node.type}}/{{np.node.id}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="ingressPort">Ingress Port</label>
        <select class="form-control input-sm" id="ingressPort" ui-select2 ng-model="flow.ingressPort"  ng-required="true" ng-disabled="!connectors" data-placeholder="Select ingress port">
          <option value=""></option>
          <option ng-repeat="ncp in connectors.nodeConnectorProperties | noRootPorts | orderBy:'properties.name.value'" value="{{ncp.nodeconnector.id}}">{{ncp.properties.name.value}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input type="text" class="form-control input-sm" ng-model="flow.priority" id="priority" placeholder="Flow Priority">
      </div>

      <div class="form-group">
        <label for="hardTimeout">Hard Timeout</label>
        <input type="text" class="form-control input-sm" ng-model="flow.hardTimeout" id="hardTimeout" placeholder="Hard Timeout">
      </div>
      <div class="form-group">
        <label for="idleTimeout">Idle Timeout</label>
        <input type="text" class="form-control input-sm" ng-model="flow.idleTimeout" id="idleTimeout" placeholder="Idle Timeout">
      </div>

      <div class="form-group">
        <label for="cookie">Cookie</label>
        <input type="text" class="form-control input-sm" ng-model="flow.cookie" id="cookie" placeholder="Cookie">
      </div>

      <h3>Layer 2</h3>
      <div class="form-group">
        <label for="etherType">Ehternet Type</label>
        <input type="text" class="form-control input-sm" ng-model="flow.etherType" id="etherType" placeholder="Ethernet Type">
      </div>

      <div class="form-group">
        <label for="vlanPriority">VLAN Priority</label>
        <input type="text" class="form-control input-sm" ng-model="flow.vlanPriority" id="vlanPriority" placeholder="VLAN Priority">
      </div>

      <div class="form-group">
        <label for="dlSrc">Source MAC Address</label>
        <input type="text" class="form-control input-sm" ng-model="flow.dlSrc" id="dlSrc" placeholder="Source MAC Address">
      </div>

      <div class="form-group">
        <label for="dlDst">Destination MAC Address</label>
        <input type="text" class="form-control input-sm" ng-model="flow.dlDst" id="dlDst" placeholder="Destination MAC Address">
      </div>

      <div class="form-group">
        <label for="nwSrc">Source IP</label>
        <input type="text" class="form-control input-sm" ng-model="flow.nwSrc" id="nwSrc" placeholder="Source IP">
      </div>

      <div class="form-group">
        <label for="nwDst">Destination IP</label>
        <input type="text" class="form-control input-sm" ng-model="flow.nwDst" id="nwDst" placeholder="Destination IP">
      </div>

      <div class="form-group">
        <label for="tosBits">TOS Bits</label>
        <input type="text" class="form-control input-sm" ng-model="flow.tosBits" id="tosBits" placeholder="TOS Bits">
      </div>

      <h3>Layer 3</h3>
      <div class="form-group">
        <label for="tpSrc">Source Port</label>
        <input type="text" class="form-control input-sm" ng-model="flow.tpSrc" placeholder="Source Port">
      </div>

      <div class="form-group">
        <label for="tpDst">Destination Port</label>
        <input type="text" class="form-control input-sm" ng-model="flow.tpDst" placeholder="Destination Port">
      </div>

      <div class="form-group">
        <label for="protocol">Protocol</label>
        <input type="text" class="form-control input-sm" ng-model="flow.protocol" id="protocol" placeholder="Protocol (Example: TCP)">
      </div>
    </div>

    <div class="col-md-4">
    <h3>Actions</h3>
    <div class="form-group">
      <label for="actions">Actions</label>
      <select ng-init="actionOptions[0]" class="form-control input-sm" id="actions" ng-click="changeOptions(actionActive)" ng-model="actionActive" ui-select2>
        <option ng-repeat="(key, value) in actionOptions" ng-show="!value.hidden">{{value.displayName}}</option>
      </select>
    </div>
</div>
<div class="col-md-6">
    <div ui-view="composer"></div>

    <button-submit form="createForm" function="submit"></button-submit>
    <button-cancel state="main.flows.index"></button-cancel>
    </div>


  </form>
