<!--<ctrl-reload service="svc"></ctrl-reload>
<span>Selected: {{numberSelectedItems}}</span>-->
<!--<div class="indexGrid" ng-grid="gridOptions"></div>-->

<!--<a class="btn btn-info add-row" href="index.html#/node/create">
    Add New Node
</a>-->
<div class="form-group searchDiv">
    <input class="form-control" ng-model="nodeSearch.id" placeholder="{{'SEARCH_NODES' | translate}}">
</div>
<table class="footable table" data-page-size="5">
	<thead>

      <tr>
        <th>{{ 'NODE_ID' | translate }}</th>
        <th data-hide="phone">{{ 'NODE_NAME' | translate }}</th>
        <th>{{ 'NODE_CONNECTORS' | translate }}</th>
      </tr>
	</thead>
	<tbody>
	    <tr ng-hide="data.length"><td colspan="3" class="centerAlign">{{ 'NO_DATA_FOUND' | translate }}</td></tr>
		<tr ng-repeat="item in data | filter:{id:'!config'} | filter:nodeSearch" node-table>
        <td tooltip="{{item['flow-node-inventory:description']}}">{{item.id}}</td>
        <td>{{item['flow-node-inventory:description']}}</td>
        <td><a href="index.html#/node/{{item.id}}/detail">{{item['node-connector'].length}}</a></td>
        <!--<td>
        	<a class="row-delete" href="#">
    			<i class="icon-remove"></i>
			</a>
		</td>-->
      </tr>
	</tbody>
    <tfoot class="hide-if-no-paging">
      <tr>
        <td colspan="3">
          <div class="pagination pagination-centered"></div>
        </td>
      </tr>
    </tfoot>
</table>