<div ng-controller="classifierRefCtrl" ng-init="init()">

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>
    
    <section ng-show="view.classifierRef">
        <form name="classifierRefForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Name:</span>
                    <i class="icon-exclamation-sign red" tooltip="Required field" ng-show="classifierRefForm.name.$error.required"></i>
                </label>
                <input class="form-control" type="text" ng-model="newClassifierRefObj.name" name="name" ng-required="true" ng-disabled="view.edit" />
            </div>
            
            <div class="rowWrapper">
                <label class="block basicLabel"><span>Instance name:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj['instance-name']" ng-options="c.name as getDisplayLabel(c, instanceNames.labels) for c in instanceNames.options">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Direction:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj.direction" ng-options="c for c in formDirections">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Connection tracking:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj['connection-tracking']" ng-options="c for c in formConnectionTracking">
                    <option>--</option>
                </select>
            </div>
            
            <button class="btn btn-primary col-md-12" ng-click="save()">Save</button>
        </form>
    </section>

</div>