<div ng-controller="classifiersCtrl" ng-init="init()">
    <h2 class="text-center">Classifiers</h2> 

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

     <section class="formWrapper clearfix" ng-show="classifiersView">
        <form name="classifierForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>
            <label class="block"><span>Add classifiers</label>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Name</span>
                    <i class="icon-exclamation-sign red" tooltip="Required field" ng-show="classifierForm.name.$error.required"></i>
                </label>
                <input class="form-control" type="text" name="name" ng-required="true" ng-model="newClassifierObj.name" ng-disabled="edit" />
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Definition</span></label>
                <select class="form-control" ng-model="newClassifierObj['classifier-definition-id']" ng-options="d.id as getDisplayLabel(d, classifierDefinitions.labels) for d in classifierDefinitions.options" ng-change="reloadDefs()">
                    <option>--</option>
                </select>
            </div>

        <div class="rowWrapper clearfix">
                <div ng-repeat="param in defs">
                <div class="rowWrapper" ng-controller="paramCtrl" ng-init="init(param, newClassifierObj['parameter-value'])">
                        <div ng-show="param.type !== 'range'">
                        <label class="block basicLabel">{{ parameter.name + ' (' + parameter.type + ')' }}:</label>
                            <input class="form-control" type="text" ng-model="value"></input>
                        </div>
                        <div ng-show="param.type === 'range'">
                        <label class="block basicLabel">{{ parameter.name + ' (' + parameter.type + ')' }}:</label>

                        <div class="col-md-6 inputWrapper leftInput">
                            <input class="form-control" type="text" ng-model="value.min"></input>
                        </div>
                        <div class="col-md-6 inputWrapper rightInput">
                            <input class="form-control col-md-6" type="text" ng-model="value.max"></input>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <button class="btn btn-primary col-md-12" ng-click="save()" ng-show="classifiersView && selectedTenant.id">Save</button>
    <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('renderers')">Back</button>
</div>