<div ng-controller="epgCtrl" ng-init="init()">
    <h2 class="text-center">EPG</h2>

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

    <section class="formWrapper clearfix" ng-show="epgView">
        <form name="epgForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>

            <div class="rowWrapper">
                <label class="block basicLabel">Id:</label>
                <input class="form-control" type="text" ng-model="newEpgObj.id" disabled />
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel">Name:
                    <i class="icon-exclamation-sign red" tooltip="Required field" ng-show="epgForm.name.$error.required"></i>
                </label>
                <input class="form-control" type="text" name="name" ng-model="newEpgObj.name" ng-required="true" />
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel">Description:</label>
                <input class="form-control" type="text" ng-model="newEpgObj.description" />
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel">Intra group policy:</label>
                <select class="form-control" ng-model="newEpgObj['intra-group-policy']" ng-options="opt for opt in igpOpts">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel">Network domain:
                    <i class="icon-exclamation-sign red" tooltip="Invalid pattern" ng-show="epgForm.netDomain.$error.pattern"></i>
                </label>
                <input class="form-control" type="text" ng-model="newEpgObj['network-domain']" name="netDomain" ng-pattern="/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/"/>
            </div>

            <div class="rowWrapper">
                <label class="block basicLabel">Parent:</label>
                <select class="form-control" ng-model="newContractObj.parent" ng-options="d.id as getDisplayLabel(d, displayLabel) for d in list">
                    <option>--</option>
                </select>
            </div>

            <button class="btn btn-primary col-md-12" ng-click="save()">Save</button>
        </form>
    </section>

    <section class="formWrapper clearfix" ng-show="selectedEpg">
        <div ng-include src="view_path+'cns.tpl.html'"></div>
    </section>

    <section class="formWrapper clearfix" ng-show="selectedEpg">
        <div ng-include src="view_path+'pns.tpl.html'"></div>
    </section>

    <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('policy')">Back</button>

</div>