<div ng-controller="gatewayCtrl" ng-init="init()">

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

    <section class="formWrapper clearfix" ng-show="view.gateway">
        <form name="gatewayForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>

            <div class="rowWrapper">
                <label class="block basicLabel">Gateway:
                    <i class="icon-exclamation-sign red" tooltip="Invalid pattern" ng-show="gatewayForm.gateway.$error.pattern"></i>
                    <i class="icon-exclamation-sign red" tooltip="Required field" ng-show="gatewayForm.gateway.$error.required"></i>
                </label>
                <input class="form-control" type="text" ng-model="newGatewayObj.gateway" ng-disabled="view.edit" name="gateway" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(%[\p{N}\p{L}]+)?$/" ng-required="true"/>
            </div>

            <button class="btn btn-primary col-md-12" ng-click="save()">Save</button>
        </form>
    </section>

    <section class="formWrapper clearfix" ng-show="selectedGateway">
        <div ng-include src="view_path+'prefix.tpl.html'"></div>
    </section>

</div>