<section class="gbpWrapper clearfix">

    <!-- TOPOLOGY -->
    <section class="sigmaWrapper col-md-9">
        
        


        <section class="sigmaModalWrapper" ng-show="viewTopo.box" ng-controller="topoDataCtrl">

            <div class="legend" ng-show="showLegend">
              <ul>
                <li><span>{{ 'GBP_LABEL_LEGEND' | translate }}:</span></li>
                <li ng-repeat="(key, value) in legend" class="clearfix">
                  <div class="itemWrapper left">
                    <div class="color left" style="background: {{value}};"></div>
                    <div class="left text">{{key}}</div>
                  </div>
                </li>
              </ul>
            </div>

            <button class="btn btn-primary" ng-show="viewTopo.button" ng-click="show()">{{'GBP_SHOW_TOPO_DATA' | translate}}</button>

            <div class="tableWrapper" ng-show="showTable">
                <i class="icon-remove" ng-click="close()"></i>

                <div class="dataWrapper">
                    <div class="rowWrapper" ng-repeat="edge in topologyData.links">
                        <section class="header">
                            <label>{{'GBG_TABLE_EPG' | translate}}:</label>
                            <span class="block">{{ getConsProvLabel(edge) }}</span>
                        </section>

                        <section ng-repeat="subject in edge.data">
                            <section ng-repeat="rule in subject['ui-rule']">
                                <label class="block">{{'GBP_SUBJECT' | translate}}:{{subject.name}} - {{'GBP_RULE' | translate}}:{{rule.name}}</label>
                                <section ng-repeat="classifier in rule['classifier-ref']">
                                    <span class="block">{{'GBP_CLASSIFIER' | translate}}:</span>
                                    <ul>
                                        <li ng-repeat="(key, value) in classifier">{{key}}: {{value}}</li>
                                    </ul>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
                
            </div>

        </section>

        <section>
            <sigma-topology drag-nodes="true" topology-data="topologyData" settings-sigma="settingsSigma" settings-atlas="settingsAtlas" topology-custfunc="topologyCustfunc"></sigma-toppology>
        </section>

        <div class="topoNav">
            <label class="block"><span>{{'GBP_TOPO_TYPE' | translate}}:</span></label>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" ng-click="loadTopology('CONFIG', { tenantId: selectedTenant.id })">{{'GBP_TOPO_CONFIG' | translate}}</button>
              <button type="button" class="btn btn-primary" ng-click="loadTopology('OPERATIONAL', { tenantId: selectedTenant.id })">{{'GBP_TOPO_OPER' | translate}}</button>
              <button type="button" class="btn btn-primary" ng-click="loadTopology('L2L3', { tenantId: selectedTenant.id, storage: 'config' })">{{'GBP_TOPO_L2L3' | translate}}</button>
            </div>
        </div>
        
    </section>

   <!-- RIGHT PANEL -->
   <aside class="col-md-3"> 
        <section class="inWrapper">
            <!-- <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('groupMenu')">Group Menu</button>
            <div class="content clearfix" ng-show="view.groupMenu">
                <div class="selectWrapper col-md-9">
                    <select class="form-control">
                        <option>--</option>
                    </select>
                </div>
                <button class="btn btn-primary col-md-3"><i class="icon-plus-sign"></i></button>
            </div> -->

            <div class="panelWrapper clearfix">
                <!-- Tenants list -->
                <div class="rowWrapper clearfix">
                    <label class="block"><span>{{'GBP_TENANTS_LIST' | translate}}</span></label>
                    <div class="selectWrapper col-md-12">
                        <select class="form-control" ng-model="selectedTenant" ng-change="setTenant()" ng-options="d.name for d in tenantList">
                            <option value="">{{ 'GBP_SEL_OP' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.basic">
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('policy')" >{{'GBP_POLICY' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('renderers')"  >{{'GBP_RENDERERS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('endpoints')"  >{{'GBP_ENDPOINTS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('docs')"  >{{'GBP_DOCS' | translate}}</button>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.policy">
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('tenants')" >{{'GBP_TENANTS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('l2l3')"  >{{'GBP_L2L3' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('epg')"  >{{'GBP_EPG' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('contracts')" >{{'GBP_CONTRACTS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('docs')"  >{{'GBP_DOCS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('basic')"  >{{'GBP_BACK' | translate}}</button>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.renderers">
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('classifiers')"  >{{'GBP_CLASSIFIERS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('actions')"  >{{'GBP_ACTIONS' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('basic')" >{{'GBP_BACK' | translate}}</button>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.endpoints">
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('registerEndpoint')"  >{{'GBP_REGISTER_ENDPOINT' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('registerL3PrefixEndpoint')"  >{{'GBP_REGISTER_L3_ENDPOINT' | translate}}</button>
                <button class="btn btn-primary col-md-12" ng-click="toggleExpanded('basic')" >{{'GBP_BACK' | translate}}</button>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.tenants">
                <div ng-include src="view_path+'tenants.tpl.html'"></div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.l2l3">
                <div ng-include src="view_path+'l2l3.tpl.html'"></div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.epg" ng-controller="epgCtrl">
                <div ng-include src="view_path+'epg.tpl.html'"></div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.contracts">
                <div ng-include src="view_path+'contracts.tpl.html'"></div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.docs">
                <div ng-include src="view_path+'docs.tpl.html'"></div>
            </div>

            <div ng-controller="renderersCtrl">
                <div class="panelWrapper clearfix" ng-show="view.classifiers" ng-controller="classifiersCtrl">
                    <div ng-include src="view_path+'classifiers.tpl.html'"></div>
                </div>

                <div class="panelWrapper clearfix" ng-show="view.actions" ng-controller="actionsCtrl">
                    <div ng-include src="view_path+'actions.tpl.html'"></div>
                </div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.registerEndpoint">
                <div ng-include src="view_path+'endpoint.tpl.html'"></div>
            </div>

            <div class="panelWrapper clearfix" ng-show="view.registerL3PrefixEndpoint">
                <div ng-include src="view_path+'l3-endpoint.tpl.html'"></div>
            </div>



        </section>
   </aside>

    <!-- <div class="rightPanel sliderPanel col-md-6 sample-show-hide" ng-show="view.slider" tooltip="{{'GBP_SHOW_BASIC_MENU_TT' | translate}}">
        <i class="left-icon" ng-click="toggleExpanded('basic')"></i>
    </div>

    <div class="rightPanel col-md-6 sample-show-hide" ng-show="view.basic">
        <div class="topButtons">
            <div style="position: absolute; right: 10px;">
                <button class="" ng-click="toggleExpanded('tenants')" tooltip="{{'GBP_SHOW_APP_TT' | translate}}" >{{'GBP_TENANTS' | translate}}</button>
                <button class="" ng-click="toggleExpanded('l2l3')" tooltip="{{'GBP_SHOW_APP_TT' | translate}}" >{{'GBP_L2L3' | translate}}</button>
                <button class="" ng-click="toggleExpanded('epg')" tooltip="{{'GBP_SHOW_APP_TT' | translate}}" >{{'GBP_EPG' | translate}}</button>
                <button class="" ng-click="toggleExpanded('contracts')" tooltip="{{'GBP_SHOW_APP_TT' | translate}}" >{{'GBP_CONTRACTS' | translate}}</button>
                <button class="" ng-click="toggleExpanded('docs')" tooltip="{{'GBP_SHOW_APP_TT' | translate}}" >{{'GBP_DOCS' | translate}}</button>
                <button class="" ng-click="toggleExpanded('slider')" tooltip="{{'GBP_HIDE_BASIC_MENU_TT' | translate}}" >{{'GBP_EXIT' | translate}}</button>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="widePanel col-md-6 sample-show-hide" ng-show="view.tenants">
        <div ng-include src="view_path+'tenants.tpl.html'"></div>
    </div>

    <div class="widePanel col-md-6 sample-show-hide" ng-show="view.l2l3">
        <div ng-include src="view_path+'l2l3.tpl.html'"></div>
    </div>

    <div class="widePanel col-md-6 sample-show-hide" ng-show="view.epg">
        <div ng-include src="view_path+'epg.tpl.html'"></div>
    </div>

    <div class="widePanel col-md-6 sample-show-hide" ng-show="view.contracts">
        <div ng-include src="view_path+'contracts.tpl.html'"></div>
    </div>

    <div class="widePanel col-md-6 sample-show-hide" ng-show="view.docs">
        <div ng-include src="view_path+'docs.tpl.html'"></div>
    </div> -->
</section>

