<div ng-controller="pnsCtrl" ng-init="init()">
    <!-- <h2 class="text-center">{{'GBP_CNS' | translate}}</h2> -->

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

    <section class="formWrapper clearfix" ng-show="view.pns">
        <i class="icon-remove align-right" ng-click="close()"></i>

        <div class="rowWrapper">
            <label class="block basicLabel"><span>{{ 'GBP_INPUT_NAME' | translate}}:</span></label>
            <input class="form-control" type="text" ng-model="newPNSObj.name" ng-disabled="view.edit" />
        </div>

        <div class="rowWrapper">
            <label class="basicLabel"><span>{{ 'GBP_CONTRACTS' | translate}}:</span></label>
            <button class="btn btn-primary btn-slim" ng-click="addNewElem()"><i class="icon-plus"></i></button>


            <div ng-repeat="contractRef in newPNSObj.contract track by $index">

                <div class="selectWrapper col-md-11">
                    <select class="form-control" ng-model="contractRef" ng-change="updateAt($index, contractRef)" ng-options="c.id as c.id for c in contracts">
                        <option>--</option>
                    </select>
                </div>
                <button class="btn btn-danger col-md-1" ng-click="deleteElemAt($index)"><i class="icon-remove"></i></button>

            </div>
        </div>

        <button class="btn btn-primary col-md-12" ng-click="save()">{{'GBP_SAVE' | translate}}</button>
    </section>

</div>