<div ng-controller="ChoiceCtrl as yangChoice"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}"
     ng-show="node.isFilled()">

    <!-- choice title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element" ng-click="yangChoice.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Choice label -->
        <p class="top-element" ym-info-box node="node" ng-click="yangChoice.toggleExpanded()">
            {{yangForm.getNodeName(node.localeLabel, node.label)}}
        </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangChoice.isActionMenu()"
                        augmentations="augmentations"
                        node="node"></yang-form-menu>

        <!-- Choice select -->
        <md-input-container>
            <input ng-model="node.choice.label" aria-label="{{node.choice.label}}" ng-disabled="true">
        </md-input-container>
    </div>

    <!-- choice's children -->
    <div ng-repeat="case in node.getChildren(null,null,constants.NODE_UI_DISPLAY)"
         ng-include="yangForm.viewPath + '/operational/' + case.type +'.tpl.html'"
         ng-show="node.choice.id === case.id && node.expanded"
         ng-if="!(case.augmentationId && !augmentations.getAugmentation(case.parent, case.augmentationId).expanded)"></div>
</div>