<div ng-controller="YMContainerCtrl as yangContainer"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}"
     ng-show="node.isFilled()">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons"
                 class="top-icon top-element pointer"
                 ng-click="yangContainer.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'YANGMAN_SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Container label -->
        <p class="top-element pointer" ng-click="yangContainer.toggleExpanded()" ym-info-box node="node">
            {{yangForm.getNodeName(node.localeLabel, node.label)}}
        </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangContainer.isActionMenu()"
                        augmentations="augmentations"
                        node="node"></yang-form-menu>

    </div>

    <!-- container's children -->
    <div ng-if="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY)"
             ng-include="yangForm.viewPath + '/operational/' + node.type+'.tpl.html'"
             ng-hide="node.augmentationId && !augmentations.getAugmentation(node.parent, node.augmentationId).expanded">
        </div>
    </div>
</div>
