<div ng-controller="LeafCtrl as yanfLeaf"
     layout="row"
     layout-align="start center"
     class="yangmanModule__right-panel__form__leaf-container"
     ng-show="node.isFilled()">

    <!-- Container label -->
    <p class="top-element" ym-info-box node="node"> {{yangForm.getNodeName(node.localeLabel, node.label)}} </p>

    <!-- Action menu -->
    <yang-form-menu is-action-menu="yanfLeaf.isActionMenu()"
                    augmentations="augmentations"
                    node="node"></yang-form-menu>

    <!-- Empty placeholder for better look -->
    <div class="menu-placeholder" ng-if="!yanfLeaf.isActionMenu() && !yanfLeaf.isNodeInfo()"></div>

    <md-input-container>
        <input ng-model="node.value" aria-label="{{node.value}}" ng-disabled="true">
    </md-input-container>
</div>