<div ng-controller="YMLeafListCtrl as yangLeafList"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}"
     ng-show="node.isFilled()">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element" ng-click="yangLeafList.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'YANGMAN_SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Container label -->
        <p class="top-element" ym-info-box node="node" ng-click="yangLeafList.toggleExpanded()">
            {{yangForm.getNodeName(node.localeLabel, node.label)}}
        </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangLeafList.isActionMenu()"
                        augmentations="augmentations"
                        node="node"></yang-form-menu>
    </div>

    <div ng-repeat="elem in node.value" ng-show="node.expanded">
        <!-- Leaf list values -->
        <md-input-container md-no-float  class="input-icon-container full_width">
            <!-- input -->
            <input ng-model="elem.value" aria-label="{{elem.value}}" ng-disabled="true">
        </md-input-container>
    </div>
</div>
