<div ng-controller="RpcCtrl as yangRpc"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}"
     ng-show="node.isFilled()">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label"
         ng-click="yangRpc.toggleExpanded()">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element">
            <md-tooltip md-direction="left">{{ 'SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Container label -->
        <p class="top-element" ym-info-box node="node"> {{yangForm.getNodeName(node.localeLabel, node.label)}} </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangRpc.isActionMenu()"
                        augmentations="augmentations"
                        node="node"></yang-form-menu>

    </div>

    <!-- Rpc's children -->
    <div ng-if="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY)"
             ng-include="yangForm.viewPath + '/operational/' + node.type + '.tpl.html'"></div>
    </div>
</div>