/* Palette color scheme variables */

@darkPrimaryColor:   #455A64;
@primaryColor:       #607D8B;
@lightPrimaryColor:  #CFD8DC;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #795548;
@primaryTextColor:   #212121;
@secondaryTextColor: #727272;
@dividerColor:       #B6B6B6;
<<<<<<< HEAD

// other variables
@background: #ffffff;

=======
>>>>>>> 295a001... Yangvisualizer - material design - BOWER INSTALL NEEDED!!
