<div ng-controller="containerCtrl" class="customContainer {{ node.expanded ? '' : 'withoutBorder' }}">
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node && (node.parent !== null)">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_CON' | translate }}" ng-click='toggleExpanded()'></button>
        <button class="btn-name btn-slim">
            {{getNodeName(node.localeLabel, node.label)}}
        </button>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>
    </div>

    <div ng-show="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY)" ng-include="currentPath+'/filter/'+node.type+'.tpl.html'">
    </div>
    
    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
</div>