<div class="yangVisualizer ">
    <div class="topLine col-md-12">
      <div class="clearfix">
        <div class="col-md-2">{{ 'YANGVISUALIZER_MODEL' | translate }} :</div>
        <div class="col-md-4">
          <select ng-model="currentTopologyNode" ng-change="updateTopologyData(null, true)" ng-options="node.label for node in filteredNodes | orderBy:'label'">
            <option value="">-</option>
          </select>
        </div>
      </div>

      <div class="clearfix">
        <div class="col-md-2">{{ 'YANGVISUALIZER_SET_LVL' | translate }} :</div>
        <div class="col-md-4 slider">
          <input ng-model="sliderValue" type="text" id="mySlider1" slider ng-change="updateTopologyData(null)" options="sliderSettings" />
        </div>
      </div>

      <div class="clearfix" ng-controller="layoutCtrl">
        <div class="col-md-4 col-md-offset-2">
          <button ng-show="currentTopologyNode" class="btn btn-orange btn-slim" ng-click="saveLayout()">{{ 'YANGVISUALIZER_SAVE_MODEL' | translate }}</button>
          <button ng-show="modelLayout" class="btn btn-orange btn-slim" ng-click="loadLayout()">{{ 'YANGVISUALIZER_LOAD_MODEL' | translate }}</button>
          <button ng-show="currentTopologyNode" class="btn btn-orange btn-slim" ng-click="resetLayout()">{{ 'YANGVISUALIZER_RESET_MODEL' | translate }}</button>
        </div>
      </div>



    </div>
    <div class="sigma col-md-12">
      <div class="viewNav">
        <ul class="navWrapper">
          <li>{{ 'YANGVISUALIZER_LABEL_VIEW' | translate }} : </li>

          <li><span class="active" ng-click="setColorScheme($event,'default')">{{ 'YANGVISUALIZER_SHOW_DEFAULT' | translate }}</span></li>
          <li><span  ng-click="setColorScheme($event,'type')">{{ 'YANGVISUALIZER_SHOW_TYPES' | translate }}</span></li>
          <li><span  ng-click="setColorScheme($event,'module')">{{ 'YANGVISUALIZER_SHOW_MODULES' | translate }}</span></li>
          <li><span  ng-click="setColorScheme($event,'namespace')">{{ 'YANGVISUALIZER_SHOW_NAMESPACES' | translate }}</span></li>
        </ul>
      </div>
      <div class="viewNav margin-legend">
        <div class="clear"></div>
        <div class="legend" ng-show="legend">
          <ul ng-init="showText = true">
            <li>
              <span>{{ 'YANGVISUALIZER_LABEL_LEGEND' | translate }} : </span>
            </li>
            <li>
              <button ng-show="isSelectedSpecificType" class="btn btn-orange btn-slim btn-graph" ng-click="resetSize()" tooltip="{{ 'YANGVISUALIZER_BTN_TT_REMOVE_HIGHLIGHTING_TYPE' | translate }}">
                <i class="icon-rotate-right"></i>
              </button>
              <span>{{ 'YANGVISUALIZER_SHOW_ALL' | translate }}</span><input class="showChckbx" type="checkbox" ng-model="showText"></li>
            <li ng-repeat="(key, value) in legend">
              <div class="itemWrapper left cursor-pointer" ng-click="clickLegend(value, key)" tooltip="{{ 'YANGVISUALIZER_BTN_TT_HIGHLIGHT_TYPE' | translate }}">
                <div class="color left" style="background: {{value}};"></div>
                <div class="left text" ng-hide="!showText">{{key}}</div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
      </div>
      <sigma-topology drag-nodes="true" topology-data="topologyData" trigger-resize-sigma="triggerResizeSigma" panel="panel" topology-custfunc="topologyCustfunc"></sigma-toppology>
    </div>

    <!-- RIGHT PANEL -->
    <div class="rightPanel {{ panel.show ? 'panel-show' : 'panel-hide' }} col-md-6">
      <div class="topButtons">
          <button class="btn btn-show add-row btn-orange btn-slim btn-show-custom" ng-click='triggerExpanded(panel, triggerResize)'>
              <i class="icon-caret-right" ng-show="panel.show"></i>
              <i class="icon-caret-left" ng-show="!panel.show"></i>
          </button>
          <div class="clear mt20"></div>
          <!-- <button class="btn add-row btn-orange btn-slim ng-scope" ng-click="expandAllNodes()">
            {{ expandedNodes ? 'YANGVISUALIZER_HIDE_NODES' : 'YANGVISUALIZER_SHOW_NODES' | translate }}
          </button> -->
          <button class="btn btn-orange btn-slim btn-graph" ng-click="sigma.resetZoom()">
            <i class="icon-resize-full"></i>
          </button>
      </div>

      <div class="inner-content">
        <table>
          <thead>
            <th colspan="2">{{ 'YANGVISUALIZER_SEL_NODE_DETAIL' | translate }}</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_ID' | translate }}</td>
              <td>{{ selectedNode.id }}</td>
            </tr>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_NAME' | translate }}</td>
              <td>{{ selectedNode.label }}</td>
            </tr>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</td>
              <td>{{ selectedNode.type }}</td>
            </tr>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</td>
              <td>{{ selectedNode.module }}</td>
            </tr>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_NAMESPACE' | translate }}</td>
              <td>{{ selectedNode.namespace }}</td>
            </tr>
            <tr>
              <td>{{ 'YANGVISUALIZER_TD_REVISION' | translate }}</td>
              <td>{{ selectedNode.moduleRevision }}</td>
            </tr>
          </tbody>
        </table>

        <label>{{ 'YANGVISUALIZER_LABEL_SEL_NODE' | translate }} :</label>
        <table>
          <thead>
            <tr>
              <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
              <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ selectedNode.id }}</td>
              <td>{{ selectedNode.label.length > 30 ? selectedNode.label.substring(0,26) + '...' : selectedNode.label }}</td>
              <td>{{ selectedNode.type }}</td>
              <td>{{ selectedNode.module.length > 30 ? selectedNode.module.substring(0,26) + '...' : selectedNode.module }}</td>
            </tr>
          </tbody>
        </table>

        <label>{{ 'YANGVISUALIZER_LABEL_PAR_NODE' | translate }} :</label>
        <table>
          <thead>
            <tr>
              <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
              <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="node in parentNodes.list track by $index">
              <td><span class="link" ng-click="zoomToNode(node.graphId)">{{ node.id }}</span></td>
              <td>{{ node.label.length > 30 ? node.label.substring(0,26) + '...' : node.label }}</td>
              <td>{{ node.type }}</td>
              <td>{{ node.module.length > 30 ? node.module.substring(0,26) + '...' : node.module }}</td>
            </tr>
          </tbody>
        </table>

        <label>{{ 'YANGVISUALIZER_LABEL_CHILD_NODE' | translate }} :</label>
        <table>
          <thead>
            <tr>
              <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
              <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
              <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="node in childrenNodes.list track by $index">
              <td><span class="link" ng-click="zoomToNode(node.graphId)">{{ node.id }}</span></td>
              <td>{{ node.label.length > 30 ? node.label.substring(0,26) + '...' : node.label }}</td>
              <td>{{ node.type }}</td>
              <td>{{ node.module.length > 30 ? node.module.substring(0,26) + '...' : node.module }}</td>
            </tr>
          </tbody>
        </table>

        <button ng-show="clickedNodesHistory.length > 1" ng-click="backToNode()" class="btn btn-orange btn-slim">{{ 'YANGVISUALIZER_BTN_BACK' | translate }}</button>
      </div>
    </div>

    <div class="clear"></div>

</div>