<div class="yangVisualizer">
    <div class="topLine col-md-12">
      <div class="">
        <div class="col-md-1">{{ 'YANGVISUALIZER_MODEL' | translate }} :</div>
        <div class="col-md-3">
          <select ng-model="currentTopologyNode" ng-change="updateTopologyData(null, true)" ng-options="node.label for node in filteredNodes | orderBy:'label'">
            <option value="">-</option>
          </select>
        </div>
      </div>

      <div class="">
        <div class="col-md-2 col-md-offset-1">{{ 'YANGVISUALIZER_SET_LVL' | translate }} :</div>
        <div class="col-md-3 slider">
          <input ng-model="sliderValue" type="text" id="mySlider1" slider ng-change="updateTopologyData(null)" options="sliderSettings" />
        </div>
      </div>


      <div class="" ng-controller="layoutCtrl" ng-init="showLayoutSubmenu = false;">
        <div class="col-md-1 layoutControls col-md-offset-1">
          <button class="intSubmenu" ng-click="showLayoutSubmenu = true">
            <i class="icon-reorder"></i>
          </button>
          <div class="submenu" ng-show="showLayoutSubmenu" ng-mouseleave="showLayoutSubmenu=false">
            <ul>
              <li ng-show="currentTopologyNode" ><a ng-click="saveLayout();showLayoutSubmenu=false;">{{ 'YANGVISUALIZER_SAVE_MODEL' | translate }}</a></li>
              <li ng-show="modelLayout" ><a ng-click="loadLayout();showLayoutSubmenu=false;">{{ 'YANGVISUALIZER_LOAD_MODEL' | translate }}</a></li>
              <li ng-show="currentTopologyNode"><a ng-click="resetLayout();showLayoutSubmenu=false;">{{ 'YANGVISUALIZER_RESET_MODEL' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-4 col-md-offset-2">
          <button ng-show="currentTopologyNode" class="btn btn-orange btn-slim" ng-click="saveLayout()">{{ 'YANGVISUALIZER_SAVE_MODEL' | translate }}</button>
          <button ng-show="modelLayout" class="btn btn-orange btn-slim" ng-click="loadLayout()">{{ 'YANGVISUALIZER_LOAD_MODEL' | translate }}</button>
          <button ng-show="currentTopologyNode" class="btn btn-orange btn-slim" ng-click="resetLayout()">{{ 'YANGVISUALIZER_RESET_MODEL' | translate }}</button>
        </div> -->
      </div>
      <div class="clearfix"></div>


    </div>
    <div class="yangVisCont">

      <div class="sigma col-md-12">
        <div class="viewNav">
          <ul class="navWrapper">
            <li>{{ 'YANGVISUALIZER_LABEL_VIEW' | translate }} : </li>

            <li><span class="active" ng-click="setColorScheme($event,'default')">{{ 'YANGVISUALIZER_SHOW_DEFAULT' | translate }}</span></li>
            <li><span  ng-click="setColorScheme($event,'type')">{{ 'YANGVISUALIZER_SHOW_TYPES' | translate }}</span></li>
            <li><span  ng-click="setColorScheme($event,'module')">{{ 'YANGVISUALIZER_SHOW_MODULES' | translate }}</span></li>
            <li><span  ng-click="setColorScheme($event,'namespace')">{{ 'YANGVISUALIZER_SHOW_NAMESPACES' | translate }}</span></li>
          </ul>
        </div>
        <div class="viewNav margin-legend">
          <div class="clear"></div>
          <div class="legend" ng-show="legend.view">
            <ul ng-init="showText = true">
              <li>
                <span>{{ 'YANGVISUALIZER_LABEL_LEGEND' | translate }} : </span>
              </li>
              <li>
                <button ng-show="isSelectedSpecificType" class="btn btn-orange btn-slim btn-graph" ng-click="resetSize()" tooltip="{{ 'YANGVISUALIZER_BTN_TT_REMOVE_HIGHLIGHTING_TYPE' | translate }}">
                  <i class="icon-rotate-right"></i>
                </button>
                <span>{{ 'YANGVISUALIZER_SHOW_ALL' | translate }}</span><input class="showChckbx" type="checkbox" ng-model="showText"></li>
                <li ng-repeat="(key, value) in legend.data">
                <div class="itemWrapper left cursor-pointer" ng-click="clickLegend(value, key)" tooltip="{{ 'YANGVISUALIZER_BTN_TT_HIGHLIGHT_TYPE' | translate }}">
                  <div class="color left" style="background: {{value}};"></div>
                  <div class="left text" ng-hide="!showText">{{key}}</div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </div>
        <sigma-topology drag-nodes="true" topology-data="topologyData" trigger-resize-sigma="triggerResizeSigma" panel="panel" topology-custfunc="topologyCustfunc"></sigma-toppology>
      </div>
      <!-- RIGHT PANEL -->
      <div class="rightPanel panel-{{ selectedNode ? panel.show : 'hide' }} col-md-6">
        <div class="topButtons">
            
            <!-- <button class="btn add-row btn-orange btn-slim ng-scope" ng-click="expandAllNodes()">
              {{ expandedNodes ? 'YANGVISUALIZER_HIDE_NODES' : 'YANGVISUALIZER_SHOW_NODES' | translate }}
            </button> -->
            <button class="btn btn-orange btn-slim btn-graph" ng-click="sigma.resetZoom()">
              <i class="icon-resize-full"></i>
            </button>
        </div>

          <button class="btn btn-show add-row btn-orange btn-slim btn-show-custom" ng-click='triggerExpanded(panel, triggerResize)' ng-show="selectedNode">
              <i class="icon-caret-right" ng-show="panel.show === 'show'"></i>
              <i class="icon-caret-left" ng-show="panel.show === 'prev'"></i>
          </button>
        
          <h2>{{ 'YANGVISUALIZER_SEL_NODE_DETAIL' | translate }}</h2>

          <div class="card">
            <table class="selectedNodePreview">
              <tbody>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
                  <td>{{ selectedNode.id }}</td>
                </tr>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
                  <td>{{ selectedNode.label }}</td>
                </tr>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
                  <td>{{ selectedNode.type }}</td>
                </tr>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
                  <td>{{ selectedNode.module }}</td>
                </tr>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_NAMESPACE' | translate }}</th>
                  <td>{{ selectedNode.namespace }}</td>
                </tr>
                <tr>
                  <th>{{ 'YANGVISUALIZER_TD_REVISION' | translate }}</th>
                  <td>{{ selectedNode.moduleRevision }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tabsPanel">
            <div class="tabsNav">
              <ul>
                <li class="{{ shownTab=='pathToRoot' ? 'active' : '' }}">
                  <a href="" ng-click="showPreviewTab('pathToRoot')">{{ 'YANGVISUALIZER_LABEL_PAR_NODE' | translate }}</a>
                </li>
                <li class="{{ shownTab=='childrenNodes' ? 'active' : '' }}">
                 <a href="" ng-click="showPreviewTab('childrenNodes')">{{ 'YANGVISUALIZER_LABEL_CHILD_NODE' | translate }}</a>
                </li>

              </ul>
            </div>
            <div class="tabsContent">
              <div class="tabContent" ng-show="shownTab==='pathToRoot'">
                <table>
                <tr ng-repeat="node in parentNodes.list track by $index">
                  <td class="bullet">
                    <div class="color left nodeTypeIcon" style="background-color: {{ legend.data[node.type] }};" ng-click="zoomToNode(node.graphId)"></div>
                  </td>
                  <td class="nodeDesc">
                    <strong ng-click="zoomToNode(node.graphId)">{{ node.label }}</strong><br />
                    {{ node.type }}<br />
                    {{ node.module }}
                  </td>
                </tr>
                </table>
              </div>
              <div class="tabContent" ng-show="shownTab==='childrenNodes'">
                <table>
                <tr ng-repeat="node in childrenNodes.list track by $index">
                  <td class="bullet">
                    <div class="color left nodeTypeIcon" style="background-color: {{ legend.data[node.type] }};" ng-click="zoomToNode(node.graphId)"></div>
                  </td>
                  <td>
                    <strong ng-click="zoomToNode(node.graphId)">{{ node.label }}</strong><br />
                    {{ node.type }}<br />
                    {{ node.module }}
                  </td>
                </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- <table>
            <thead>
              <th colspan="2">{{ 'YANGVISUALIZER_SEL_NODE_DETAIL' | translate }}</th>
            </thead>
            <tbody>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_ID' | translate }}</td>
                <td>{{ selectedNode.id }}</td>
              </tr>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_NAME' | translate }}</td>
                <td>{{ selectedNode.label }}</td>
              </tr>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</td>
                <td>{{ selectedNode.type }}</td>
              </tr>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</td>
                <td>{{ selectedNode.module }}</td>
              </tr>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_NAMESPACE' | translate }}</td>
                <td>{{ selectedNode.namespace }}</td>
              </tr>
              <tr>
                <td>{{ 'YANGVISUALIZER_TD_REVISION' | translate }}</td>
                <td>{{ selectedNode.moduleRevision }}</td>
              </tr>
            </tbody>
          </table> -->

          <!-- <label>{{ 'YANGVISUALIZER_LABEL_SEL_NODE' | translate }} :</label>
          <table>
            <thead>
              <tr>
                <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
                <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ selectedNode.id }}</td>
                <td>{{ selectedNode.label.length > 30 ? selectedNode.label.substring(0,26) + '...' : selectedNode.label }}</td>
                <td>{{ selectedNode.type }}</td>
                <td>{{ selectedNode.module.length > 30 ? selectedNode.module.substring(0,26) + '...' : selectedNode.module }}</td>
              </tr>
            </tbody>
          </table> -->

          <!-- <label>{{ 'YANGVISUALIZER_LABEL_PAR_NODE' | translate }} :</label>
          <table>
            <thead>
              <tr>
                <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
                <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="node in parentNodes.list track by $index">
                <td><span class="link" ng-click="zoomToNode(node.graphId)">{{ node.id }}</span></td>
                <td>{{ node.label.length > 30 ? node.label.substring(0,26) + '...' : node.label }}</td>
                <td>{{ node.type }}</td>
                <td>{{ node.module.length > 30 ? node.module.substring(0,26) + '...' : node.module }}</td>
              </tr>
            </tbody>
          </table> -->

          <!-- <label>{{ 'YANGVISUALIZER_LABEL_CHILD_NODE' | translate }} :</label>
          <table>
            <thead>
              <tr>
                <th>{{ 'YANGVISUALIZER_TD_ID' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_NAME' | translate }}</th>
                <th>{{ 'YANGVISUALIZER_TD_TYPE' | translate }}</th>
                <th class="bigger">{{ 'YANGVISUALIZER_TD_MODULE' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="node in childrenNodes.list track by $index">
                <td><span class="link" ng-click="zoomToNode(node.graphId)">{{ node.id }}</span></td>
                <td>{{ node.label.length > 30 ? node.label.substring(0,26) + '...' : node.label }}</td>
                <td>{{ node.type }}</td>
                <td>{{ node.module.length > 30 ? node.module.substring(0,26) + '...' : node.module }}</td>
              </tr>
            </tbody>
          </table> -->

          <button ng-show="clickedNodesHistory.length > 1" ng-click="backToNode()" class="btn btn-slim">{{ 'YANGVISUALIZER_BTN_BACK' | translate }}</button>
      </div>
    </div>

    <div class="clear"></div>

</div>