#page-wrapper {
	min-height: 0px !important; 
}

.btn-orange {
	background-color: orange;
}

.error {
	color: Red;
}

html, body, #wrapper, #page-wrapper {
	height: 100%;
}

.footable {
	margin-top: 25px;
}