<button class="yangButton icon-remove close" ng-click="close_popup(popupData)"></button>
<div>
  <label class="block classic">{{ 'YANGUI_API_PATH' | translate }}:</label>
  <input class="leaf-input form-control input-small" type="text" ng-model="apiToFill">
  <label class="block classic">{{ 'YANGUI_API_DATA' | translate }}:</label>
</div>
<textarea ng-model="dataToFill" ></textarea>
<button class="btn btn-primary ng-scope btn-slim" ng-click='fillApiAndData({path: apiToFill, sentData: dataToFill}, null, true)' style="position: absolute; bottom: 20px; right:20px;">
  <i class="icon-upload-alt "></i>
  {{ 'YANGUI_PUSH_CONFIG' | translate }}
</button>