<section ng-controller="paramsViewCtrl">
    <div class="api axisX" ng-show="req.sentData && req.api">
        <span class="input-sm">{{'YANGUI_API_PATH' | translate}}</span>

        <div class="pathWrapper"><!--
            --><span class="pathElem" ng-repeat="pathElem in req.api.clonedPathArray">{{pathElem.moduleChanged ? '/'+pathElem.module+':': '/'}}{{pathElem.name}}<!--
              --><span ng-show="pathElem.hasIdentifier()"><!--
                    --><span ng-repeat="identifier in pathElem.identifiers"><!--
                        -->/<input type="text" class="form-control input-small" ng-model="identifier.value" ng-change="fillRequestData(pathElem, identifier)"><!--
                    --></span><!--
                --></span><!--
            --></span>
        </div>
        <button clip-click-fallback="fallback(copyReqPathToClipboard(req))" clip-copy="copyReqPathToClipboard(req)" class="btn btn-primary" tooltip="{{ 'YANGUI_COPY_TO_CLIPBOARD' | translate }}"><i class="icon-paste"></i></button>
        <button class="btn btn-primary" ng-click="clearParametrizedData()">{{'YANGUI_CLEAR_PAR_DATA_BTN' | translate}}</button>
        <button class="btn btn-primary" ng-click="saveParametrizedData(rList)">{{'YANGUI_SAVE_PAR_DATA_BTN' | translate}}</button>
    </div>

    <div class="textareaWrapper">
        <button class="yangButton icon-remove close closeData ng-scope" ng-click="expandHistoryData()" tooltip="Close"></button>

        <!-- sent data -->
        <div ng-show="isSentData" ng-model="sDataForView" ui-codemirror ui-codemirror-opts="getDataEditorOptions(!req.availability, 'eclipse')"></div>
        <!-- received data -->
        <div ng-hide="isSentData" ng-model="rDataForView" ui-codemirror ui-codemirror-opts="getDataEditorOptions(true, 'eclipse-disabled')"></div>

        <div ng-show="paramsBoxView" class="paramsBox" >
            <div  ng-repeat="param in paramsArray" class="line">
                <strong><<{{param.name}}>></strong> : <span>{{param.value !== undefined ? param.value : 'YANGUI_PARAM_DONT_REPLACE' | translate}}</span>
            </div>
        </div>
    </div>
</section>