<div ng-controller="leafListCtrl" class="customContainer leaflist  {{ node.expanded ? '' : 'withoutBorder' }}" ng-show='node.isFilled()'>
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_ELEM' | translate }}" ng-click='toggleExpanded()'></button>
        <button class="btn-name ng-scope btn-slim">
            {{getNodeName(node.localeLabel, node.label)}}
        </button>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>
        <span ng-if="node.augmentationId" class="augmentIcon reversed" tooltip="{{ 'YANGUI_IS_AUGMENT' | translate }} {{ node.augmentationId }}">A</span>
    </div>

    <div class="leafListValue" ng-repeat="elem in node.value" ng-show="node.expanded">
        <span class="block"><strong>{{elem.value}}</strong></span>
    </div>

    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
</div>