<div>
  <pre ng-class="'previewContainer'" ng-show="previewVisible">{{previewValue}}</pre>

  
  
  <div class="simpleContainer">
    <div>
      <span>{{ 'MODULE' | translate }}</span>
      <select class="form-control col-md-4" id="idModulesSelection" ng-model="selApi" ng-options="api.module for api in apis">
        <option value="">-</option>
      </select>
    </div>
    <div>
      <span>{{ 'API' | translate }}</span>
      <select class="form-control col-md-4" id="idApisSelection" ng-model="selSubApi" ng-options="subApi.pathTemplateString for subApi in selApi.subApis" ng-change="setNode()">
        <option value="">-</option>
      </select>
    </div>
    <div>
      <span>{{ 'DEVICE' | translate }}</span>
      <select class="form-control col-md-4" id="idDeviceSelection" ng-model="selDevice" ng-options="device for device in devices" ng-change="getData()">
        <option value="">-</option>
      </select>
    </div>
    <div>
      <span>{{ 'ENTRY' | translate }}</span>
      <select class="form-control col-md-4" id="idFlowSelection" ng-model="selFlow" ng-options="flow.label for flow in flows">
        <option value="">-</option>
      </select>
    </div>
    <br><br>
    <div>
      <span ng-repeat="pathElem in selSubApi.pathArray">{{'/'+pathElem.name}}
        <span ng-show="pathElem.hasIdentifier()">/<input  type="text" ng-model="pathElem.identifierValue"></input></span>
      </span>
      <button ng-repeat="operation in selSubApi.operations" class="btn add-row btn-orange btn-slim ng-scope" style="margin-right: 5px" ng-click="executeOperation(operation)">{{operation}}</button>
    </div>
    <div>
      <span>{{ 'SHOW_PREVIEW' | translate }}</span>
      <input type="checkbox" ng-model="showPreview" ng-change="preview()">
    </div>
  </div>

  <!-- <button class="btn add-row btn-orange ng-scope" ng-click="getAPIs()" >{{ 'GET_APIS' | translate }}</button> -->
  <br>

  <alert type="status.type" ng-show="status.msg" close="dismissStatus()"><i ng-show="status.isWorking" class="icon-refresh icon-spin"></i><b> {{status.msg | translate }} </b><b>{{status.rawMsg}}</b></alert>

  <div class="form-inline">
    <div ng-include src="currentPath+'/'+node.type+'.tpl.html'"></div>
  </div>
</div>