<!-- Header -->
<section md-whiteframe="1"
         class="yangmanModule__right-panel__header"
         style="margin-bottom: 0px!important;"
         ng-include src="globalViewPath + 'rightpanel/request-header.tpl.html'">
</section>
<!-- /Header -->

<!-- Form section -->
<section class="yangmanModule__right-panel__form bottom-content"
         ng-show="rightPanelSection === main.constants.DISPLAY_TYPE_FORM"
         ng-if="node"
         ng-controller="YangFormCtrl as yangForm">
    <div ng-show="yangForm.errorMsg"><p class="error" id="form-error-message">{{ yangForm.errorMsg }}</p></div>
    <div ng-include src="yangForm.viewPath + '/' + selectedDatastore.label + '/' + node.type+'.tpl.html'"></div>
</section>
<!-- /Form section -->

<!-- JSON section -->
<section class="yangmanModule__right-panel__req-data bottom-content"
         ng-cloak
         ng-show="rightPanelSection === main.constants.DISPLAY_TYPE_REQ_DATA">

    <!-- Sent data -->
    <div ng-controller="RequestDataCtrl as requestData"
         layout="column"
         ng-show="main.jsonView.sent"
         ng-init="requestData.init('SENT')"
         ng-class="{'half-size': main.jsonView.received && main.jsonView.sent}"
         class="yangmanModule__right-panel__req-data__cm-SENT ym-resizable-s">

        <section class="yangmanModule__right-panel__req-data__header" layout="row">
            <h5 flex>{{'YANGMAN_SENT_DATA' | translate}}</h5>
            <md-button ng-click="requestData.enlargeCMFont()">
                <i class="material-icons bigger">text_format</i>
                <i class="material-icons additional">arrow_drop_up</i>
                <md-tooltip>
                    {{ 'YANGMAN_CM_ENLARGE_FONT_SIZE' | translate }}
                </md-tooltip>
            </md-button>
            <md-button ng-click="requestData.reduceCMFont()">
                <i class="material-icons smaller">text_format</i>
                <i class="material-icons additional">arrow_drop_down</i>
                <md-tooltip md-direction="bottom right">
                    {{ 'YANGMAN_CM_REDUCE_FONT_SIZE' | translate }}
                </md-tooltip>
            </md-button>
        </section>
        <div md-whiteframe="2" ng-include src="globalViewPath + 'rightpanel/request-data.tpl.html'" style="overflow-y: hidden;"></div>
    </div>

    <!-- Received data -->
    <div ng-controller="RequestDataCtrl as requestData"
         ng-show="main.jsonView.received"
         ng-init="requestData.init(main.constants.REQUEST_DATA_TYPE_RECEIVED)"
         ng-class="{'half-size': main.jsonView.received && main.jsonView.sent}"
         class="yangmanModule__right-panel__req-data__cm-RECEIVED ym-resizable-s">

        <section class="yangmanModule__right-panel__req-data__header" layout="row">
            <h5 flex>{{'YANGMAN_RECEIVED_DATA' | translate}}</h5>
            <md-button ng-click="requestData.enlargeCMFont()">
                <i class="material-icons bigger">text_format</i>
                <i class="material-icons additional">arrow_drop_up</i>
                <md-tooltip>
                    {{ 'YANGMAN_CM_ENLARGE_FONT_SIZE' | translate }}
                </md-tooltip>
            </md-button>
            <md-button ng-click="requestData.reduceCMFont()">
                <i class="material-icons smaller">text_format</i>
                <i class="material-icons additional">arrow_drop_down</i>
                <md-tooltip md-direction="bottom right">
                    {{ 'YANGMAN_CM_REDUCE_FONT_SIZE' | translate }}
                </md-tooltip>
            </md-button>
        </section>
        <div md-whiteframe="2" ng-include src="globalViewPath + 'rightpanel/request-data.tpl.html'" style="overflow-y: hidden;"></div>
    </div>
</section>
<!-- /JSON section -->
