<md-content layout="column" layout-wrap class="md-padding" ng-controller="RequestHeaderCtrl as requestHeader">
    <section layout="row">
        <!-- Methods selector -->
        <md-input-container flex="initial">
            <md-select ng-model="requestHeader.selectedOperation"
                       md-on-close="requestHeader.setJsonView()"
                       id="request-selected-operation"
                       placeholder="{{'YANGMAN_SEL_METHOD' | translate}}">

                <md-option ng-value="operation" ng-repeat="operation in requestHeader.selectedOperationsList">
                    {{ operation }}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Request url input -->
        <section flex layout="row" layout-wrap>
            <md-input-container flex md-no-float ng-if="rightPanelSection === requestHeader.constants.DISPLAY_TYPE_REQ_DATA">
                <input type="text"
                       ng-model="requestHeader.requestUrl"
                       id="request-url"
                       placeholder="{{'YANGMAN_REQ_URL' | translate}}"
                       spellcheck="false">
            </md-input-container>

            <div ng-repeat="pathElem in selectedSubApi.pathArray track by $index"
                 flex="nogrow"
                 id="path-elem-{{$index}}"
                 layout="row"
                 ng-init="parentIndex = $index"
                 ng-if="rightPanelSection === requestHeader.constants.DISPLAY_TYPE_FORM">

                <md-input-container flex="nogrow" md-no-float class="input-span nrp" >
                    <span class="md-input" disabled>
                        {{(pathElem.moduleChanged ? '/' + pathElem.module + ':' : '/') + pathElem.name}}
                        {{pathElem.hasIdentifier() ? '/' : ''}}
                    </span>
                </md-input-container>

                <!-- Identifier's inputs -->
                <md-input-container flex="nogrow" md-no-float
                                    ng-repeat="identifier in pathElem.identifiers"
                                    ng-show="pathElem.hasIdentifier()"
                                    layout="column"
                                    class="nrp">

                    <input type="text"
                           class="input-identifier"
                           ng-change="requestHeader.fillNodeData(pathElem, identifier)"
                           ng-model="identifier.value"
                           id="path-elem-{{parentIndex}}-value"
                           aria-label="{{identifier.value}}"
                           ng-class="{'md-has-error': !identifier.value.length}"
                           spellcheck="false">
                    <!-- input error message -->
                    <div ng-show="!identifier.value.length" class="md-custom-error">
                        {{'YANGMAN_INPUT_REQUIRED' | translate}}
                    </div>
                </md-input-container>
            </div>

            <md-input-container flex md-no-float
                                ng-if="rightPanelSection === requestHeader.constants.DISPLAY_TYPE_FORM"
                                class="input-span">

                <input type="text"
                       placeholder="{{!selectedSubApi ? ('YANGMAN_REQ_URL' | translate) : ''}}"
                       ng-disabled="true">
            </md-input-container>
        </section>

        <!-- Action buttons -->
        <md-input-container flex="nogrow" layout="row" layout-align="start start" class="action-buttons">
            <!-- Execute action button -->
            <md-button class="md-raised md-primary has-progress"
                       id="send-request"
                       ng-click="requestHeader.prepareDataAndExecute(
                            main.modulesTreeDisplayed() ? main.leftPanelShowModule : null
                       )">
                {{'YANGMAN_SEND' | translate}}
            </md-button>

            <!-- Save request -->
            <md-button class="md-raised md-warn" id="save-request" ng-click="requestHeader.saveRequestToCollection($event)">
                {{'YANGMAN_SAVE' | translate}}
            </md-button>

            <!-- Parameters button -->
            <md-button class="md-raised" id="show-parameters" ng-click="requestHeader.showParamsAdmin($event)">
                {{'YANGMAN_PARAMETERS' | translate}}
            </md-button>

            <!-- sub api custom functionality menu -->
            <!-- todo: add ids for testing -->
            <md-menu ng-show="selectedSubApi.custFunct.length || requestHeader.selectedPluginsButtons.length">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                    <md-tooltip md-direction="top">{{ 'YANGMAN_PLUGINS_MENU' | translate}}</md-tooltip>
                </md-button>

                <md-menu-content>
                    <!-- plugins buttons -->
                    <md-menu-item ng-repeat="pluginFunctionality in selectedSubApi.custFunct"
                                  ng-hide="requestHeader.selectedPlugin">
                        <md-button ng-click="requestHeader.executePluginFunctionality(pluginFunctionality)">
                            {{ pluginFunctionality.label | translate }}
                        </md-button>
                    </md-menu-item>

                    <!-- plugin own buttons -->
                    <md-menu-item ng-repeat="button in requestHeader.selectedPluginsButtons" ng-show="button.show()">
                        <md-button ng-click="button.onclick()">
                            {{ button.label | translate }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-input-container>
    </section>

    <md-divider flex="grow"></md-divider>

    <section layout="row" layout-align="center center" class="status-bar">
        <!-- Data type switcher - radio button -->
        <md-radio-group ng-model="requestHeader.selectedShownDataType"
                        class="type-switcher"
                        flex="50"
                        layout="row"
                        layout-align="start center"
                        ng-change="requestHeader.changeDataType()">
            <md-radio-button id="shown-data-type-form" value="form" aria-label="{{'YANGMAN_FORM' | translate}}">
                {{'YANGMAN_FORM' | translate}}
            </md-radio-button>

            <md-radio-button id="shown-data-type-json" value="req-data" aria-label="{{'YANGMAN_JSON' | translate}}">
                {{'YANGMAN_JSON' | translate}}
            </md-radio-button>
        </md-radio-group>

        <!-- Request info box -->
        <md-content flex="50"
                    layout="row"
                    layout-align="end center"
                    class="status-text">

            <!-- Status -->
            <span flex="30">
                {{'YANGMAN_STATUS' | translate}}:
                <span id="info-request-status" ng-if="requestHeader.statusObj && requestHeader.statusObj.statusText">
                    {{requestHeader.statusObj.status}} {{requestHeader.statusObj.statusText}}
                </span>
                <span id="info-request-status" ng-if="!(requestHeader.statusObj && requestHeader.statusObj.statusText)">
                    ...
                </span>
            </span>

            <!-- Request time -->
            <span flex="30">
                {{'YANGMAN_TIME' | translate}}:
                <span id="info-request-execution-time" ng-if="requestHeader.statusObj && requestHeader.statusObj.time">
                    {{requestHeader.statusObj.time}} ms
                </span>
                <span id="info-request-execution-time" ng-if="!(requestHeader.statusObj && requestHeader.statusObj.time)">
                    ...
                </span>
            </span>
        </md-content>
    </section>
</md-content>
<md-progress-linear md-mode="indeterminate" ng-show="main.executingRequestProgress"></md-progress-linear>
