<textarea ng-model="requestData.data"
          ui-codemirror
          id="request-data-{{requestData.type | lowercase}}"
          ui-codemirror-opts="requestData.dataEditorOptions"
          class="codemirror-container">
</textarea>

<div class="paramsBox" ng-show="requestData.paramsArray.length">
    <div  ng-repeat="param in requestData.paramsArray" class="line">
        <strong id= "code-mirror-param-name-{{$index}}">&lt;&lt;{{param.name}}&gt;&gt;</strong> :
        <span id="code-mirror-param-value-{{$index}}">{{param.value !== undefined ? param.value : 'YANGMAN_PARAM_DONT_REPLACE' | translate}}</span>
    </div>
</div>
