
<div class="navbar navbar-default" style="margin:0;" ui-view="topbar"></div>
<div id="red"></div>
<div id="gray"></div>
<div id="wrapper">
  <nav id="sideMenu" ui-view="navigation" role="navigation"></nav>
  <div id="page-wrapper-content">
    <div class="container-fluid">
      <div class="row content-row">
        <div class="col-xs-12" style="margin-bottom: 50px" ui-view="content">
          <!-- PAGE CONTENT BEGINS -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
