<section ng-controller="YMTypeBitCtrl as yangTypeBit"
         layout="row"
         flex="50"
         class="md-whiteframe-z2 box-container"
         layout-wrap
         layout-padding>

    <md-checkbox ng-model="type.bitsValues[$index]"
                 ng-repeat="bit in type.getChildren('bit')"
                 ng-true-value="1"
                 ng-false-value="0"
                 ng-change="yangTypeBit.valueChanged()"
                 ng-readonly="{{ yangOutput.notEditable }}"
                 aria-label="{{bit.label}}">
        {{bit.label}}
    </md-checkbox>
</section>
