<div class="leaf" ng-controller="leafCtrl" ng-show='node.isFilled()'>
    <span class="treeBullet" ng-show="node !== selSubApi.node">&#8226;</span>
    <span class="leaf-label col-md-2">
        {{node.localeLabel | translate}}
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="btn add-row btn-orange ng-scope btn-slim btn-show-custom inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" >
            <i class="icon-question-sign"></i> 
        </button>
    </span>
    <span class="leaf-label col-md-9"><strong>{{node.value}}</strong></span>
    <div class="clear"></div>
</div>