<div ng-controller="listCtrl" class="simpleContainer listContainer" ng-show='node.isFilled()'>

    <button ng-click="showPrevElem()" ng-show="showPrevButton()" class="btn add-row btn-orange ng-scope btn-slim"><</button>
    <button class="btn add-row btn-orange ng-scope btn-slim" ng-show="node.listData.length > 0? true: false">
        {{ node.localeLabel | translate}}&nbsp;{{node.createListName(node.actElemIndex)}}
    </button>
    <button ng-click="showNextElem()"  ng-show="showNextButton()" class="btn add-row btn-orange ng-scope btn-slim">></button>
    <div class="modalWrapper">
        <button ng-click="showModalWin()" ng-show="node.listData.length > 0? true: false" class="btn add-row btn-orange ng-scope btn-slim">{{ showModal ? 'HIDE_SHOW_ALL' : 'LIST_SHOW_ALL' | translate }}
        </button>
        <div class="listModal simpleContainer" ng-show="showModal">
            <button class="close" ng-click="showModalWin()">&times;</button>
            <ul>
                <li ng-repeat="_ in node.listData">
                    <button class="btn btn-orange {{ (node.actElemIndex === $index ? 'btn-selected':'') }} {{ ((node.doubleKeyIndexes.indexOf($index)>-1) ? 'btn-red':'') }} add-row ng-scope btn-slim" style="margin-right: 5px" ng-click="node.changeActElementData($index)">
                        {{node.localeLabel | translate}}&nbsp;{{node.createListName($index)}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
    


    <!-- <button ng-repeat="_ in node.listData" class="btn btn-orange {{ (node.actElemIndex === $index ? 'btn-selected':'') }} {{ ((node.doubleKeyIndexes.indexOf($index)>-1) ? 'btn-red':'') }} add-row ng-scope btn-slim" style="margin-right: 5px" ng-click="node.changeActElementData($index)">
        {{node.localeLabel | translate}}&nbsp;{{node.createListName($index)}}
    </button> -->

    <div class="clear"></div>
    <button class="btn add-row btn-orange ng-scope btn-slim mt10" ng-click='toggleExpanded()'>
        <i class="icon-caret-down" ng-show="node.expanded"></i>
        <i class="icon-caret-right" ng-show="!node.expanded"></i>
        {{ node.expanded ? 'HIDE' : 'SHOW' | translate }}
    </button>

    <div class="simpleContainer" ng-if="node.actElemStructure" ng-show="node.expanded">
        <div ng-repeat="node in node.actElemStructure.children | filter:filterNodes" ng-include="currentPath+'/operational/'+node.type+'.tpl.html'" ></div>
    </div>

    

</div>
