<div ng-controller="listCtrl" class="customContainer listContainer {{ node.expanded ? '' : 'withoutBorder' }}" ng-show='node.isFilled()'>

    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node">&#8226;</span>
        <button class="btn add-row btn-orange ng-scope btn-slim btn-show-custom inlineBlock" tooltip="{{ 'SHOW_HIDE_LIST' | translate }}" ng-click='toggleExpanded()'>
            <i class="icon-caret-down" ng-show="node.expanded"></i>
            <i class="icon-caret-right" ng-show="!node.expanded"></i>
        </button>
        <button class="btn-slim btn-name inlineBlock">
            {{ node.localeLabel | translate}}&nbsp;{{ 'YANGUI_LIST_LABEL' | translate }}
        </button>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="btn add-row btn-orange ng-scope btn-slim btn-show-custom inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" >
            <i class="icon-question-sign"></i> 
        </button>

        <div class="modalWrapper">
            <button ng-click="showModalWin()" ng-show="node.listData.length > 0" tooltip="{{ 'LIST_SHOW_ALL' | translate }}" class="btn add-row btn-orange ng-scope btn-slim btn-show-custom">
                <i class="icon-list"></i>
            </button>
            <div class="listModal simpleContainer" ng-show="showModal">
                <button class="close" ng-click="showModalWin()">&times;</button>
                <div class="listWrapper">
                    <ul>
                        <li ng-repeat="_ in node.listData" class="pl30">
                            <button class="btn btn-md btn-orange btn-slim btn-show-custom btn-view" ng-if="[currentDisplayIndex, currentDisplayIndex + 1, currentDisplayIndex - 1].indexOf($index) !== -1">
                                <i class="icon-eye-open"></i> 
                            </button>
                            <button class="btn btn-orange {{ (node.actElemIndex === $index ? 'btn-selected':'') }} {{ ((node.doubleKeyIndexes.indexOf($index)>-1) ? 'btn-red':'') }} add-row ng-scope btn-slim" style="margin-right: 5px" ng-click="node.changeActElementData($index)">
                                {{node.localeLabel | translate}}&nbsp;{{node.createListName($index)}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="listItemWrapper">
            <button ng-click="shiftDisplayPrev()" ng-show="showPrevButton()" tooltip="{{ 'LIST_PREV_ITEM' | translate }}" class="btn add-row btn-orange ng-scope btn-slim btn-show-custom">
                <i class="icon-circle-arrow-left"></i>
            </button>
            <div class="listButtonWrapper" ng-repeat="offset in displayOffsets" ng-if="currentDisplayIndex + offset > -1 && node.listData.length > currentDisplayIndex + offset">
                <button  class="btn listElemButton add-row btn-orange {{ (currentDisplayIndex + offset === node.actElemIndex ? 'btn-selected':'') }} ng-scope btn-slim" ng-click="node.changeActElementData(currentDisplayIndex + offset)" tooltip="{{getListName(offset, false).tooltip}}">
                    {{ node.localeLabel | translate}}&nbsp;{{ getListName(offset, false).name }}
                </button>
            </div>
            <button ng-click="shiftDisplayNext()"  ng-show="showNextButton()" tooltip="{{ 'LIST_NEXT_ITEM' | translate }}" class="btn add-row btn-orange ng-scope btn-slim btn-show-custom">
                <i class="icon-circle-arrow-right"></i>
            </button>
        </div>
        
        
    </div>
    


    <!-- <button ng-repeat="_ in node.listData" class="btn btn-orange {{ (node.actElemIndex === $index ? 'btn-selected':'') }} {{ ((node.doubleKeyIndexes.indexOf($index)>-1) ? 'btn-red':'') }} add-row ng-scope btn-slim" style="margin-right: 5px" ng-click="node.changeActElementData($index)">
        {{node.localeLabel | translate}}&nbsp;{{node.createListName($index)}}
    </button> -->


    <div ng-if="node.actElemStructure" ng-show="node.expanded"><!-- class="simpleContainer"  -->
        <div ng-repeat="node in node.actElemStructure.children | filter:filterNodes" ng-include="currentPath+'/operational/'+node.type+'.tpl.html'" ></div>
    </div>

    
    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
</div>
