<div ng-controller="containerCtrl" class="customContainer {{ node.expanded ? '' : 'withoutBorder' }}" ng-show='node.isFilled()'>
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-if="node !== selSubApi.node">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_CON' | translate }}" ng-click='toggleExpanded()'></button>
        <button class="btn-name btn-slim">
            {{getNodeName(node.localeLabel, node.label)}}
        </button>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>

        <!-- Augmentation control -->
        <div class="modalWrapper" ng-if="node.augmentionGroups.length" ng-include src="currentPath + 'modal/augmentation-modal.tpl.html'"></div>
        <span ng-if="node.augmentationId" class="augmentIcon reversed" tooltip="{{ 'YANGUI_IS_AUGMENT' | translate }} {{ node.augmentationId }}">A</span>
        <!-- Augmentation control end -->
    </div>
    
    <div ng-if="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY) | filter:filterNodes" ng-include="currentPath+'/operational/'+node.type+'.tpl.html'" ng-hide="node.augmentationId && !augmentations.getAugmentation(node.parent, node.augmentationId).expanded"></div>
    </div>

    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
</div>