.yangVisualizer{
  height: 100%;

  .card{
    margin-bottom: 14px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07),1px 2px 5px 0 rgba(0,0,0,.06);
    position: relative;
    background-color: @cardBackground;
    box-sizing: border-box;
    border-radius: 2px;
  }

}
.yangVisualizerWrapper.col-xs-12{
  margin-bottom: 0px!important;
  background: @cardBackground;
  color: @textDark;
  height: 100%;
  padding: 0;
  position: relative;
  font-family: Roboto,'Helvetica Neue',sans-serif;

  .yangVisCont{
    background-color: @backgroundLight;
    float: left;
    width: 100%;
  }

  .btn-graph{
    min-width: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0!important;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  div.rightPanel{
    background-color: @backgroundDark;
    position: absolute;
    height: calc(~'100% - 102px');
    margin-top: 2px;
    &.panel-hide{
      right: auto;
      // left: calc(~'100% - 155px');
      left: 100%;
    }
    &.panel-prev{
      right: auto;
      left: calc(~'100% - 350px');
      width: 350px;
    }
    &.panel-show{
      right: 0;
      left: auto;
    }
    .tabsPanel .tabsContent{
      height: 468px;
      overflow-y: auto;
      span.info{
        font-size: 13px;
        padding-left: 15px;
        line-height: 45px;
      }
      .btn{
        margin-left: 15px;
        margin-top: 8px;
      }
    }
    .card{
      width: 100%;
    }
    div.topButtons{
      position: absolute;
      top: 14px;
      right: 100%;
      .boxSizing;
      padding-right: 10px;
      width: 200px;
      text-align: right;
    }
    .btn{
      background-color: @buttonBackground;
      color: @backgroundDark;
      font-weight: 400;
      outline: none;
    }
    .add-row{
      margin-top: 15px;
    }
    h2{
      color: @textLight;
      font-size: 17px;
      margin: 18px 0 35px 35px;
      font-weight: 400;
      line-height: 1.1;
    }
    .card{
      
      .selectedNodePreview{
        width: 100%;
        tbody th, td{
          color: @textDark;
          font-weight: 400;
          font-size: 13px;
          padding: 10px 20px 10px 20px;
          border-top: 1px solid @backgroundLight;
          line-height: 14px;
        }
      }
      &:first-child{
        padding-top: 30px;
      }
    }

    .tabsPanel{
      display: block;
      margin-top: 30px;
      width: 100%;
      clear: both;
      .tabsNav{
        ul{
          border-bottom: 1px solid @textLighter;
          list-style: none;
          height: 30px;
          padding-left: 0px;
          li{
            float: left;
            margin-top: -1px;
            background-color: transparent !important;
            a{
              background: transparent;
              line-height: 30px;
              display: block;
              padding-left: 15px;
              padding-right: 15px;
              color: @textLight !important;
              text-decoration: none;
          
            }
          }.active, :hover{
            box-shadow: inset 0 -2px 0 @linkColor;
            a{
              color: @linkColor !important;
              cursor: default;
            }
          }

          
        }
      }
      .tabsContent{

        table{
          margin: 20px 0 20px 0;
        }
        td{
          vertical-align: top;
          padding-bottom: 20px;
          strong,div{
            cursor: pointer;
          }
        }
        .color{
          width: 18px;
          height: 18px;
          -webkit-border-radius: 9px;
          border-radius: 9px;
          cursor: pointer;
          margin: 20px;
          margin-top:10px;
        }
        span{
          color: @textDark;
        }
      }
    }
    div.inner-content{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }
    
  }
  div.main{
    top: 0;
  }
  div.topLine{
    box-shadow: 0 0 1px @textLight;
    border-width: 0 0 1px;
    line-height: 35px;
    padding-top: 10px;
    min-height: 100px;
    background-color: @backgroundDark;
    h2{
      margin: 10px 0px;
      color: @textLight;
      font-size: 17px;
      font-weight: 400;
    }
    select{
      background: transparent;
      color: @textDark;
      border: 0;
      height: 30px;
      border-bottom: 4px solid @buttonBackground;
      outline: none;
      option{
        color: @textDark;
        background: @backgroundLight;
      }
    }
  }
  div.sigma{
    position: relative;
    div.viewNav{
      position: absolute;
      z-index: 1;
      top: 17px;
      left: 15px;
      &.margin-legend{
        margin-top: 40px;
      }
      ul.navWrapper{
        margin: 0;
        padding: 0;
        li{
          .inlineBlock;
          span{
            .transition(150ms);
            cursor: pointer;
            color: @textDark;
            outline: 0 none;
            text-decoration: none;
            margin-left: 10px;
            background-color: @backgroundDark;
            padding: 5px 10px;
            &:hover, &.active{
              background-color: @buttonBackground;
              color: @backgroundDark;
            }
          }
        }
      }
      div.legend{
        padding: 15px;

        .btn{
          background-color: @buttonBackground;
          color: @backgroundDark;
          padding: 0 10px 0 10px !important;
          font-weight: 400;
          margin: 0 0 12px;
        }
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
        }
        li{
          margin-bottom: 5px;
          span{
            color: @textDark;
          }
          .textHidden{
            display: none;
          }
          .text{
            margin-left: 10px;
            line-height: 18px;
          }
          .showChckbx{
            position: relative;
            margin-left: 22px;
            float: right;
            }
          .itemWrapper{
            &:hover{
              .text{
                display: block !important;
              }
            }
          }
          
        }
        div.color{
          /*margin-right: 15px;*/
          width: 18px;
          height: 18px;
          -webkit-border-radius: 9px;
          border-radius: 9px;
          cursor: pointer;
        }
      }
    }
  }

  .jslider_round.sliderCSS.jslider{
    

    .jslider-value{
      color: @textDark;
      background-color: transparent;
      font-size: 14px;
      span{
        color: @textDark;
      }
    }

    .jslider-label{
      color: @textDark;
      font-size: 14px;
      .opacityDeph(1);
      span{
        color: @textDark;
      }
    }
  }

  .slider{
    padding-top: 21px;
  }

  .layoutControls{
    margin-top: 15px;
    .intSubmenu{
      background-color: @buttonBackground;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      box-shadow: none;
      border: none;
      color: @cardBackground;
      font-size: 20px;
      outline: none;
    }

    .submenu{
      box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07),1px 2px 5px 0 rgba(0,0,0,.06);
      position: absolute;
      background-color: @cardBackground;
      box-sizing: border-box;
      border-radius: 2px;
      overflow: hidden;
      width: 200px;
      top: -25px;
      left: -60px;
      z-index: 1000;
      ul{
        float: left;
        display: block;
        list-style: none;
        width: 100%;
        padding: 0px;
        margin: 0px;
        li{
          cursor: pointer;
          padding-left: 30px;
          a{
            text-decoration: none;
          }
          &:hover{
            background-color: @backgroundLight;
          }
        }
      }
    }
  }
}


#graph-container {
  min-height: 795px;
  height: 100%;
}


body{
  position: relative;
  overflow-x: hidden;
}