.yangVisualizerWrapper.col-xs-12{
  margin-bottom: 0px!important;
  background: #000;
  color: #f4f3f5;
  height: 100%;
  padding: 0;
  position: relative;

  .btn-graph{
    min-width: 22px;
    line-height: 22px;
    text-align: center;
    padding: 0!important;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  div.rightPanel{
    background: #000;
    position: absolute;
    height: calc(~'100% - 143px');
    padding-bottom: 20px;
    padding-top: 20px;
    top: 143px;
    border-left: 1px solid #7e8083;
    &.panel-show{
      right: 0;
      left: auto;
    }
    &.panel-hide{
      right: auto;
      left: calc(~'100% - 150px');
    }
    div.inner-content{
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }
    div.topButtons{
      position: absolute;
      top: 15px;
      right: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 10px;
      width: 200px;
      text-align: right;
      button.btn-show{
        background: #f4f3f5!important;
      }
    }
    label{
      font-weight: normal;
      padding-left: 15px;
    }
    table{
      width: 100%;
      margin-bottom: 30px;
      thead{
        th{
          font-weight: normal;
          padding-left: 15px;
          min-width: 150px;
          border-bottom: 1px solid #7e8083;
          text-transform: uppercase;
          &.bigger{
            min-width: 230px;
          }
        }
      }
      tbody{
        td{
          padding: 0 15px;
          vertical-align: top;
          span.link{
            color: #009ee3;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  div.main{
    top: 0;
  }
  div.topLine{
    border-bottom: 1px solid #7e8083;
    line-height: 44px;
    padding-top: 10px;
    min-height: 100%;
    select{
      background: transparent;
      color: #f4f3f5;
      border: 0;
      option{
        color: #000;
        background: #fff;
      }
    }
  }
  div.sigma{
    position: relative;
    div.viewNav{
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 15px;
      &.margin-legend{
        margin-top: 40px;
      }
      ul.navWrapper{
        margin: 0;
        padding: 0;
        li{
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          *display: inline;
          span{
            .transition(150ms);
            cursor: pointer;
            color: #f4f3f5;
            outline: 0 none;
            text-decoration: none;
            margin-left: 10px;
            &:hover, &.active{
              color: #f6a000;
            }
          }
        }
      }
      div.legend{
        ul{
          padding: 0;
          margin: 0;
          list-style: none;
        }
        li{
          margin-bottom: 5px;
          .textHidden{
            display: none;
          }
          .text{
            margin-left: 10px;
            line-height: 18px;
          }
          .showChckbx{
            position: relative;
            top: 2px;
            left: 5px;
            }
          .itemWrapper{
            &:hover{
              .text{
                display: block !important;
              }
            }
          }

        }
        div.color{
          /*margin-right: 15px;*/
          width: 18px;
          height: 18px;
          -webkit-border-radius: 9px;
          border-radius: 9px;
          cursor: pointer;
        }
      }
    }
  }
  .yangVisualizer{
    .childrenForm{
      color: #fff;
    }
    .portlet{
      border: 1px solid orange;
      .title{
        padding: 5px 10px;
        background: orange;
        color: #fff;
        line-height: 22px;
      }
      .bodyWrapper{
        padding: 10px;
      }
    }
  }

  .jslider_round.sliderCSS.jslider{
    .jslider-pointer{
      border: 1px solid #88838A;
      -webkit-box-shadow:inset 0 0 1px 1px #88838A;
      box-shadow:inset 0 0 1px 1px #88838A;
    }

    .jslider-value{
      color: buttontext;

      span{
        color: buttontext;
      }
    }

    .jslider-label{
      color: #fff;
      -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity=" 1*100 ~")'";
      filter: ~"alpha(opacity=" 1*100 ~")";
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1;
    }
  }

  .slider{
    padding-top: 15px;
  }
}



#graph-container {
  min-height: 550px;
  height: 100%;
  background: #000;
  /*width: 100%;*/
}


body{
  position: relative;
  overflow-x: hidden;
}
