<section class="yangmanModule" id="yangmanModule" layout="row">

    <!-- LEFT SIDE -->
    <md-content layout="column" style="width: 400px; height: 100%;" class="yangmanModule__left-panel ym-resizable-e" id="left-panel">
        <!-- module arrow button -->
        <md-icon md-font-set="material-icons "
                 class="arrow-switcher"
                 id="toggle-module-detail"
                 ng-click="main.toggleLeftPanel(); main.initModuleDetailHeight();"
                 ng-class="{'arrow-switcher__left' : main.leftPanelTab === 0}"
                 ng-show="selectedDatastore || selectedPlugin"> play_arrow </md-icon>
                 <!--ng-show="!main.selectedMainTab && selectedDatastore"> play_arrow </md-icon>-->
        <!-- content -->
        <md-tabs md-border-bottom md-selected="main.leftPanelTab" class="yangmanModule__left-panel__detail-list-tabs-container">
            <md-tab label="models tree">
                <md-content>

                    <!-- MODULES HISTORY COLLECTION TABS -->
                    <md-tabs class="yangmanModule__mhc-tabs inline-tabs" md-no-pagination md-dynamic-height md-stretch-tabs="always">
                        <!-- Modules tab -->
                        <md-tab label="{{'YANGMAN_MODULES' | translate}}" md-on-select="main.switchedTab(0)" id="tab-modules">
                            <div ng-include src="globalViewPath + 'leftpanel/modules-tab.tpl.html'" class="h100"></div>
                        </md-tab>
                        <!-- History tab -->
                        <md-tab label="{{'YANGMAN_HISTORY' | translate}}" md-on-select="main.switchedTab(1)" id="tab-history">
                            <div ng-include src="globalViewPath + 'leftpanel/history-tab.tpl.html'" class="historyTab"></div>
                        </md-tab>
                        <!-- Collection tab -->
                        <md-tab label="{{'YANGMAN_COLLECTIONS' | translate}}" md-on-select="main.switchedTab(2)" id="tab-collections">
                            <div ng-include src="globalViewPath + 'leftpanel/collections-tab.tpl.html'" class="collectionsTab"></div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-tab>

            <!-- MODULE TREE DETAIL -->
            <md-tab label="model detail" md-on-select="main.initModuleDetailHeight()">
                <md-content class="yangmanModule__module-detail">
                    <div ng-include src="globalViewPath + 'leftpanel/module-detail.tpl.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <!-- RIGHT SIDE -->
    <md-content layout="column" flex
                class="md-whiteframe-3dp md-padding yangmanModule__right-panel"
                ng-include src="globalViewPath + 'rightpanel/detail.tpl.html'"></md-content>
</section>
