<section class="yangmanModule" id="yangmanModule" layout="row">

    <!-- LEFT SIDE -->
    <md-content layout="column" style="width: 400px; height: 100%;" class="yangmanModule__left-panel">
        <!-- module arrow button -->
        <md-icon md-font-set="material-icons "
                 class="arrow-switcher"
                 ng-click="vm.toggleLeftPanel()"
                 ng-class="{'arrow-switcher__left' : vm.leftPanelTab === 0}"
                 ng-show="!vm.selectedMainTab && selectedModule"> play_arrow </md-icon>
        <!-- content -->
        <md-tabs md-border-bottom md-selected="vm.leftPanelTab">
            <md-tab label="models tree">
                <md-content>

                    <!-- MODULES HISTORY COLLECTION TABS -->
                    <md-tabs class="yangmanModule__mhc-tabs" md-no-pagination md-dynamic-height md-stretch-tabs="always">
                        <!-- Modules tab -->
                        <md-tab label="{{'YANGMAN_MODULES' | translate}}" md-on-select="vm.switchedTab(0)">
                            <div ng-include src="vm.currentPath + 'leftpanel/modules-tab.tpl.html'" class="scrollableY"></div>
                        </md-tab>
                        <!-- History tab -->
                        <md-tab label="History" md-on-select="vm.switchedTab(1)">
                            <div ng-include src="vm.currentPath + 'leftpanel/history-tab.tpl.html'" class="md-padding"></div>
                        </md-tab>
                        <!-- Collection tab -->
                        <md-tab label="Collections" md-on-select="vm.switchedTab(2)">
                            <div ng-include src="vm.currentPath + 'leftpanel/collections-tab.tpl.html'" class="md-padding"></div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </md-tab>

            <!-- MODULE TREE DETAIL -->
            <md-tab label="model detail">
                <md-content class="yangmanModule__module-detail">
                    <div ng-include src="vm.currentPath + 'leftpanel/module-detail.tpl.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <!-- RIGHT SIDE -->
    <md-content layout="column" flex
                class="md-whiteframe-3dp md-padding"
                ng-include src="vm.currentPath + 'rightpanel/detail.tpl.html'"></md-content>
</section>
