
<a class="btn btn-info add-row" href="index.html#/sfc/servicenode/create">
    {{ 'SFC_NODE_ADD' | translate }}
</a>

<div class="sfc-node-main">
    <div class="col-md-2" ng-repeat="nodeGraph in snsGraph">
        <button class="btn btn-sm btn-danger" ng-click="deleteServiceNode({name: nodeGraph.name})" popover-trigger="mouseenter" popover="{{ 'SFC_NODE_DELETE' | translate }}"><i class="icon-trash"></i></button>
        <service-nodes-topology tree-view-data="nodeGraph"></service-nodes-topology>
    </div>


</div>

<script type="text/javascript">
		$('.footable').footable();
</script>
