<div class="modal-header warning">
    <h4 class="modal-title warning">Info: service function with name '{{sf.name}}' already exists in chain
        '{{sfc.name}}'!</h4>
</div>
<div class="modal-body" style="text-align: center;">
    <p>You can add this service function with prefix/sufix:</p>

    <div class="form-group">
        <input type="text" class="input-sm" style="text-align: right;" ng-model="data.prefix" id="prefix" placeholder="prefix">
        -{{sf.type}}-
        <input type="text" class="input-sm" ng-model="data.sufix" id="sufix" placeholder="sufix">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-orange" ng-disabled="!(!!data.sufix || !!data.prefix)"  ng-click="save()"><i class="icon-ok-sign"></i> OK</button>
    <button class="btn btn-danger" ng-click="dismiss()"><i class="icon-remove-sign"></i> Cancel</button>
</div>