<div>
  <pre ng-class="'previewContainer'" ng-show="previewVisible">{{previewValue}}</pre>
  <div ng-show='topologyData.nodes.length > 0' class='topologyContainer'>
    <button class="btn add-row btn-orange ng-scope" ng-click="clearTopologyData()" >Exit topology view</button>
    <topology-simple topology-data="topologyData"></topology-simple>
  </div>

  <div class="simpleContainer">
    <div>
      <span>{{ 'MODULE' | translate }}</span>

      <abn-tree tree-data="treeApis" on-select="setApiNode(branch)"></abn-tree>
    </div>
    
    <div sticky class="selSubApiPath">
      <div class="in">
        <span ng-repeat="pathElem in selSubApi.pathArray">{{'/'+pathElem.name}}
          <span ng-show="pathElem.hasIdentifier()">/<input  type="text" class="form-control input-small" ng-model="pathElem.identifierValue"></input></span>
        </span>
        <button ng-repeat="operation in selSubApi.operations" class="btn add-row btn-orange btn-slim ng-scope" style="margin-right: 5px" ng-click="executeOperation(operation)">{{operation}}</button>
        <button ng-repeat="custFunct in selSubApi.custFunct" class="btn add-row btn-orange btn-slim ng-scope" style="margin-right: 5px" ng-click="executeCustFunctionality(custFunct)">{{custFunct.label}}</button>
      </div>
    </div>
    
    <div>
      <span>{{ 'SHOW_PREVIEW' | translate }}</span>
      <input type="checkbox" ng-model="showPreview" ng-change="preview()">
    </div>
  </div>

  <!-- <button class="btn add-row btn-orange ng-scope" ng-click="getAPIs()" >Export locales</button> -->
  <br>

  <alert type="status.type" ng-show="status.msg" close="dismissStatus()"><i ng-show="status.isWorking" class="icon-refresh icon-spin"></i><b> {{status.msg | translate }} </b><b>{{status.rawMsg}}</b></alert>

  <div class="form-inline">
    <div ng-if="node" ng-include src="currentPath+'/'+ apiType + node.type+'.tpl.html'"></div>
  </div>

</div>