/*PLUGINS importing*/
@import 'assets/js/codemirror/lib/codemirror.less';
@import 'assets/js/codemirror/theme/eclipse.less';
@import 'assets/js/codemirror/theme/eclipse-disabled.less';
@import 'assets/js/codemirror/addon/hint/show-hint.less';
/*PLUGINS importing END*/

@iconsNewRootPath : '../src/app/yangui/assets/images/';

/******** WINDOW SCROLLBARS *****/
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-corner {
  background: #000;
}

::-webkit-scrollbar-corner:window-inactive {
  background: #fff;
}

::-webkit-scrollbar-track-piece:disabled {
  display: none !important;
}

::-webkit-scrollbar-button:disabled {
  display: none !important;
}

::-webkit-scrollbar-track:disabled {
  margin: 6px;
}

/* Horizontal Scrollbar Styles */

::-webkit-scrollbar:horizontal {
  background: #b3b2b3;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #807f80;
  min-width: 20px;
}

/* Vertical Scrollbar Styles */

::-webkit-scrollbar:vertical {
  background: #b3b2b3;
}


::-webkit-scrollbar-thumb:vertical {
  background: #807f80;
  min-height: 20px;
}
/******** WINDOW SCROLLBARS END *****/

.simpleContainer {
    border: 1px solid #7a7a7a;
    margin: 5px;
    padding: 10px;
    z-index: 11;
    width:auto;
    position: relative;

    &.treeContainer{
      height: 450px;
      position: relative;
    }
}

/*.previewContainer {
    border: 2px solid #7a7a7a;
    margin: 5px;
    padding: 5px;
    position: fixed;
    top: 150px;
    right: 10px;
    width: 35%;
    height: 50%;
    z-index: 1000;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}*/

.previewContainer{
  min-width:204px; 
  min-height:97px;
}

.leaf {
    margin: 5px;
    padding-left: 5px;
    position: relative;
}

.leaf-label {
    margin-right: 10px;
    font-weight: bold;
    .inlineBlock;
    /*width: 170px;*/
    padding-top: 6px;
    button.iconQuestion{
      margin-top: -2px;
    }

    i.icon-key {
      font-size: 1.3em;
      padding-left:  5px;
    }
}

.yangInput{
  border: 2px solid #ebecec;
  .roundedCorners(0px);
  margin: 0 3px 0 5px;
}

.leaf-input {
  width: 300px;
  .inlineBlock;
  border: 2px solid #ebecec;
  .roundedCorners(0px);
}

.dataPopup {
  top: 160px;
  left: calc(~"100% - 850px");
  min-height: 322px;

  .leaf-input {
    width: 100%;
  }
}

INPUT.leaf-input{
//  height: 30px;
}

.clear{
    clear: both;
}

.floatRight {
    position: relative;
    float: right;
    display:inline-block;
}

.btn-slim {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-filter{
  margin: 2px 0px;
}

.btn-filter-high{
  margin-top: 3px !important;
}

.btn-filter-right{
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

input[type="file"].upload-collection{
  display: inline-block;
}

.filterBitsIcon{
  position: absolute !important;
  left: 130px;
  bottom: 55px;
}

.filterBitsValue{
  margin-top: 10px;
  margin-bottom: 20px;
}

.bitCheckbox{
  float: left;
  margin: 4px 3px 0px 0px !important;
}

.form-inline select.form-control.adv-fil-sel{
  width:80px;
  height: 34px;

  background-color: #58595B;
  color: white;
  border: 2px solid #ebecec;
  border-radius: 0px;
}


.adv-fil-range{
  width:148px !important;
}

.iconFilterOver{
  position: absolute !important;
  top:  9px;
  left: -15px;
}

.btn-red {
    background: red;
}

.btn-selected {
    background: rgb(255,69,0);
}

/* --------------------------------------------------------------------------------- COMMON OWN RULES */
.opacityDeph(@opacity: 0.5){
  -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity=" @opacity*100 ~")'";  
  filter: ~"alpha(opacity=" @opacity*100 ~")";
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  opacity: @opacity;
}

.roundedCorners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.transition (@time: 500ms){
  -webkit-transition: all @time linear;
  -moz-transition: all @time linear;
  -ms-transition: all @time linear;
  -o-transition: all @time linear;
  transition: all @time linear;
}

.left{ float: left;}
.right{ float: right;}
.clear{ clear: both; float: none!important;}
.outline{ outline: 0 none;}
.block{ display: block;}
.blockNone{ display: none;}
.displayTable{
  display: table;
}
.inlineBlock {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.classicLink{
    .outline;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.boxSizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.nmb{margin-bottom: 0!important}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr60{padding-right: 60px;}
.pl30{padding-left: 30px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}

.inline{
  display: inline;
}
/* --------------------------------------------------------------------------------- COMMON OWN RULES - END */




/* --------------------------------------------------------------------------------- YANG UI */
.yangUIwrapper{

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .alert{
    .roundedCorners(0px);

    .close{
      span{
        color: @text-color;
      }
    }
  }

  .btn, .form-control{
    .roundedCorners(3px);
  }

  input[type=text].form-control{
    .roundedCorners(0px);
  }

  .btn-orange{
    background: orange;
    color: #fff;
    font-weight: bold;
  }

  button.btn-like-tab{
    //line-height: 1em;
    outline: 0 none;
    //height: 30px;
    margin: 0;
    border: none;
    font-weight: bold;
    background: transparent;
    .transition(100ms);
    color: #fff;
    margin-bottom: 2px;
    padding-top: 0;

    &:hover, &.active, &.btn-selected{
      border-bottom: 2px solid orange;
      margin-bottom: 0px;
    }

  }

  li.btn-like-tab{
    line-height: 1em;
    outline: 0 none;
    margin: 0;
    border: none;
    font-weight: bold;
    .transition(100ms);
    color: buttontext;
    background: transparent;

    &.btn-selected, &:hover{
      border-bottom: 2px solid orange;
    }
  }

  .form-control {
    &.inline {
      width: 100px;
      display: inline;
    }
  }

  .btn-primary{
    font-weight: bold;
    background: #fff;
    .roundedCorners(0px);
    .transition(100ms);
    color: buttontext;
    border-bottom: 3px solid orange;
    border-width: 0 0 3px 0;

    &:hover{
      background: orange;
      color: #fff;
    }

    &.btn-selected{
      background: #ffa500;
    }

    &.disabled, &[disabled] {
      background: #ebecec;
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    &:focus {
      background: #ebecec;
      color: buttontext;
    }
  }
}



.leaflist{
    .leafListValue{
        margin-top: 5px;
        margin-left: 10px;
        input[type=text], button{
            .inlineBlock;
        }
        input[type=text]{
            width: 20%;
            border: 2px solid #ebecec;
            /*background-color: #414042;*/
            .roundedCorners(0px);
        }
        button{
            margin-top: 4px;
            margin-left: 5px;
        }
    }
}

.mainTabsWrapper{

  .simpleContainer{
    margin: 5px 0;

    &.treeContainer{
      margin-top: 0;
    }
  }

  .nav-tabs{
    border-bottom: 0;
    margin: 0 5px;

    li{
      .roundedCorners(0px);
      margin-right: 3px;

      &:hover{
        // background-color: #e4e6e9;
      }

      a{
        background: none;
        border: 0;
        .outline;
      }
    }
  }

  .tab-panel{
    height: 100%;
  }

}

.treeWrapper{
  height: calc(~"100% - 20px");
  margin: 10px 0;

  .treeList{
    margin: 10px 0;
    height: calc(~"100% - 40px");
    overflow-y: auto;
  }
}

.actionBtnApiPathWrapper{

  &.simpleContainer{
    margin: 5px 0;
  }

  &.is-sticky{
    width: 100%;
    .boxSizing;
    padding: 0 20px 0 270px;
    right: 0;
    z-index: 100;
    margin: 0;
    border: 0;

    div.in{
      border: 1px solid #7a7a7a;
      background: #414042;
      padding-left: 15px;
      padding-top: 10px;
      }
  }

}

label.classic{
  color: #fff;
  min-width: 120px;
}

.actionButtons, .api{
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
  //padding-bottom: 10px;
  height: 50px;

  input[type="text"]{
    width: 150px;
    display: inline!important;
    margin: 0 5px;
    height: 34px;
    .roundedCorners(0px);
    border: 0;
  }
  
  label.classic{
    min-width: 90px;
  }

  span.input-sm{
    line-height: 34px;
    .inlineBlock;
    padding: 0 10px;
  }

  .input-sm{
    height: 34px;
    display: inline;
    line-height: 34px;
    background: @text-color;
    color: #fff;
    border: 0;
    width: 100px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
  }

  .btn{
    display: inline;
  }

  .pathWrapper{
    //display: inline;
    .inlineBlock;
    background: #58595B;
    padding: 0 5px;
    margin-right: 5px;
    height: 34px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;

    input[type=text]{
      border: 2px solid #ebecec;
    }

    .pathElem{
      line-height: 33px;
    }
  }

  div.in{
    padding: 0 10px;
  }
}

//.api{
//  .input-sm{
//    padding-top: 0;
//    padding-bottom: 0;
//    font-weight: bold;
//    width: auto;
//  }
//}

.dataPopupWrapper{
  position: relative;
  .dataPopup{
    position: absolute;
    right: auto;
  }
}

.nav-tabs li a{
  cursor: pointer;
}

div.overlay{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
}

div.popUpWrapperFix{
  position: fixed;
  //width: calc(~"100% - 250px");
  height: 100%;
  //margin-left: 250px;
  z-index: 11;
  top: 0;
  left: 0;
}

.collBox{
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -127px;
  z-index: 5;
}

div.requestActions{
  width: 150px;
  position: relative;

  .historyRequestBox{
    position: relative;
    
    .changeGroup{
        left: -365px;
    }
  }
}

.paramBox{
    position: absolute;
    width: 450px;
    top: 0;
    left: -360px;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -98px;
}

.parameterEditBox{
  position: relative;
  
}

div.mountPoints{
  // color: #fff!important;
  height: auto;
  min-height: 0;
  .leaf-label{
    cursor:pointer;
  }
  .mpInner{
    overflow-y: scroll;
    margin-top: 20px;
    height: 100%;
    margin-bottom: 20px;
    .mpApi{
      padding-right: 10px;
      a{
        color: #FFFFFF !important;
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
        &:hover{
          background: #808285;
        text-decoration: none;
        cursor: pointer;
        .roundedCorners(4px);
          /*i, span{
            color: @blue;
          }*/
      }
        &.mpApiLink{
        font-weight: bold;
        padding-left: 10px;
      }
      }
      span{
        padding-left: 5px;
      }
      .mpSubApi{
        a{
          padding-left: 30px;
        }
      }
    }
  }
}

/* --------------------------------------------------------------------------------- YANG UI - END */





/* --------------------------------------------------------------------------------- YANG UI TREE */

.listContainer{
  position: relative;
}

.listModal{
  position: absolute;
  top: 0px;
  margin: 0 0 0 20px!important;
  left: 100%;
  background: #393939;
  z-index: 99;
  /*width: 245px;*/
  .btn{
    /*width: 200px;*/
  }
  button.iconView{
    position: absolute;
    left: 0px;
    top: 0;
    margin: 0;
  }
  li{
    margin: 5px 0;
    position: relative;
    .btn-remove,.btn-filter-active{
      position: absolute;
      right: 29px;
      top: 0;
      margin: 0;
    }
    .btn-filter-active{
      right: 20px;
    }
    .btn-double-index{
      position: absolute;
      right: 3px;
      top: 0;
      margin: 0;
    }
    .btn-view{
      position: absolute;
      left: 0px;
      top: 0;
    }

  }
  ul{
    padding: 0 15px 0 10px;
  }
  button.close{
    position: absolute;
    top: 0px;
    right: 5px;
    color: #ebecec;
    opacity: 1;
  }
  .listWrapper{
    overflow-y: scroll;
    max-height: 200px;
  }

  &.augmentationModal{
    padding-left: 15px;
    left: -6px;
    top: -10px;
    border: 1px solid #7a7a7a;
  }
}

.popupContainer{
  background: #414042;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  padding: 20px;
}

.historyPopUp{
  height: 100%;
  color: #fff;

  .groupWrapper{
    .groupHeader{
      font-weight: bold;
      border-bottom: 2px solid #dddddd;
      padding: 8px;
      cursor: pointer;
    }
  }


  .tableWrapper{
    margin-bottom: 10px;
    max-height: calc(~"100% - 51px");
    height: 90000px;

    .reqHistory,.reqParams{

      width:100%;
      height: 100%;
      display:block;

      .tddiv{
        /*border: 1px dotted brown;*/
        display: inline-block;
      }

      .thdiv{
        border-bottom: 2px solid #dddddd;

        .tddiv{
          padding: 8px;
          text-align: left;
          vertical-align: bottom;
          font-weight: bold;
        }

        .rh-col3{
          width: calc(~"100% - 660px");
        }

        .rh-col3c{
          width: calc(~"100% - 804px");
        }
      }

      .scroll{
        overflow-y: auto;
        position: relative;
        height: calc(~"100% - 50px"); 
      }


      .trdiv{
        border-top: 2px solid #dddddd;

        &:first-child{
          border-top: 0;
        }

        &.no-border{
          border: 0;
        }
        .tddiv{
          padding: 8px;
          text-align: left;
          vertical-align: top;
          word-wrap: break-word;
          line-height: 26px;
        }
        &.pre-div{
          position: relative;
          border: 0;
          margin: 10px 0 20px;
          padding: 0px 10px;

          button.close{
            color: #000;
            right: 30px;
            top: 10px;
            z-index: 3;
            width: 15px;
            height: 15px;
            background: transparent url('@{iconsNewRootPath}icon-close-small.png') no-repeat center center;
            .opacityDeph(1);

            &:before{
              content: "";
            }

            &:hover{
              background-position: center center!important;
              .opacityDeph(1);
            }
          }

          button.white-cross{
            color: #fff;
          }

          .textareaWrapper{
            position: relative;
            border: 1px solid silver;

            span{
              color: auto;
            }
            
            pre span{
                color: auto;
            }
            
            
            textarea{
              width: 100%;
              min-height: 50px;
              overflow-y: scroll;
              height: 200px;
              max-width: 100%;
            }

            .paramsBox{
              position: absolute;
              right: 55px;
              top: 12px;

              z-index: 4;
              color: @text-color;

              .line{
                color: @text-color;
                padding: 4px 30px 4px 20px;
                background: #cdcdce;
                margin-bottom: 1px;
                font-size: 12px;
              }
              
              span{
                color: @text-color;
              }

            }
          }
        }
      }

      .rh-col1{
        width: 27px;
      }
      .rh-col2{
        width: 90px;
      }
      .rh-col3{
        width: calc(~"100% - 641px");
      }
      .rh-col3c{
        width: calc(~"100% - 786px");
        min-width: 100px;
      }
      .rh-col4{
        width: 80px;
      }
      .rh-col5{
        width: 110px;
      }
      .rh-col6{
        width: 140px;
      }
      .rh-col7{
        width: 170px;
      }
      .rh-col8{
        width: 140px;
      }
    }


    .reqParams {
          
      .thdiv{
        .rh-col3{
          width: calc(~"100% - 450px");
        }
      }
        
      .rh-col2{
        width: 235px;
      }
      .rh-col3{
        width: calc(~"100% - 433px");
      }
      .rh-col4{
        width: 100px;
      }
    }
  }

  .btn-like-tab{
    .roundedCorners(0);
    margin-left: 2px;
  }

  .nav-tabs li a{
    margin-right: 0;
  }

  td{
    textarea{
      width: 100%;
      min-height: 400px;
    }
  }

  table{
    color: #fff;
    th{
      &.actions{
        width: 150px;
      }
    }
  }
  pre{
    position: relative;
    button.close{
      color: #000;
    }
  }
}

.topologyContainer{
  position: fixed !important;
  width: 800px;
  height: 500px;
  top: 150px;
  left: calc(~"100% - 900px");
  // z-index: 1100;
  overflow: hidden;
  background: #393939;
  border: 1px solid #7a7a7a;
  padding: 20px;
  z-index: 15;
  button.close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #C4C4C4;
    z-index: 1;
  }
  .graph-frame{
    width: 100%!important;
  }
  #graph-container{
    min-height: 460px;
    padding: 0;
    background: #414042;
  }
  &.previewContainer{
    width: 40%;
    height: 40%;
    .previewWrapper{
      overflow-y: scroll;
      min-height: 30px;
      min-width: 162px;
      height: calc(~"100% - 25px");

      pre{
        -webkit-border-radius: 0;
        border-radius: 0;
        margin: 0;
        min-height:100%;
      }
    }
    .restUrl{
      margin-bottom: 10px;
      .title{
        display: block;
      }
    }
    &.dataPopup{
      min-width: 320px;
      textarea{
        width: 100%;
        min-height: 150px;
        margin: 0px 0 10px;
        resize: none;
        height: calc(~"100% - 130px");
      }
      input{
        margin: 0px 0 10px;
      }
    }
  }
}

.mountPointsContainer{
 background: #393939;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  padding: 20px;
  position: fixed !important;
  width: 430px;
  height: 45%;
  min-height: 215px;
  min-width: 430px;
  top: 150px;
  left: calc(~"100% - 700px");
  z-index: 100;
  //overflow: hidden;

  button.close{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #C4C4C4;
  }

  i.icon-refresh {
    color: white;
  }
}

i.icon-spinner{
  margin: 3px 3px 0px 0px;
}

.alertInner{
  margin-bottom: 10px;
  span{
    margin-left: 10px;
  }
}

.modalWrapper{
  position: relative;
  .inlineBlock;
  /*z-index: 20;*/
}

.list-title{
  line-height: 14px;
  margin-bottom: 10px;
}

.customContainer{
  border-left: 1px solid #7a7a7a;
  margin: 35px 5px 5px 15px;
  padding: 5px;
  /*z-index: 10;*/
  width:auto;
  position: relative;
  &.withoutBorder{
    border-left: 0;
    padding-bottom: 0;
    .treeBullet.containerBullet{
      left: -25px;
      top: -25px;
    }
  }
}



.btn-show-custom{
  width: 22px;
  line-height: 22px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  text-align: center;
  padding: 0!important;
}

.btn-double-index{
  /*cursor: auto;
  &:hover, &:focus{
    background: #d9534f!important;
    border-color: #d9534f!important;
  }*/
}

.btn-view{
  cursor: auto;
  &:hover, &:focus{
    background: orange!important;
    border-color: orange!important;
  }
}

.topContainerPart{
  margin-left: -19px;
  margin-top: -28px;
  margin-bottom: 10px;
}

.listItemWrapper{
  margin: 0 10px 0 20px;
  .inlineBlock;
  .listButtonWrapper{
    margin: 2px 15px 0 5px;
    .inlineBlock;
    
    button.yangButton{
      margin: 0px;
    }

    &:last-child{
      margin-right: 0;
    }



    .iconClose, .iconDanger{
      padding: 0;
    }

    // button.yangButton{
    //   margin: 4px 0;
    // }

    // .iconDanger{
    //   width: 10px;
    //   margin: 4px 0;
    //   height: 24px;
    //   border: 0;
    // }
    // .iconClose{
    //   width: 16px;
    // }
  }
}

.btn-name{
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  font-weight: bold;
  color: #ebecec;
  border: 2px solid #ebecec;
  cursor: auto;
}

.borderArrow{
  color: #7a7a7a;
  position: absolute;
  bottom: -6px;
  left: -6px;
  font-size: 1.3em;
}

.btn.btn-arrow{
  /*font-size: 12px;*/
}

.treeBullet{
  font-size: 25px;
  color: #7a7a7a;
  position: absolute;
  left: -15px;
  top: 0;
  &.containerBullet{
/*    margin: 0 0px 0 -14px;
    line-height: 25px;*/
    top: -25px; 
    left: -25px;
  }
}

.tooltip-inner{
  color: #fff;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.listElemButton{
  /*max-width: 250px;*/
  /*overflow: hidden;*/
}

.listFilterWindow{
  left: -6px;
  top: -10px;
  border: 2px solid #ebecec;
}

.filterContainer .leaf{
  min-width: 585px;
}

.filterContainer{
  margin-top:20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.filterContainer .col-md-2{
  width: 150px;
}
/* --------------------------------------------------------------------------------- YANG UI TREE - END */








@iconsRootPath : 'images/yang-ui-icons/';
/* --------------------------------------------------------------------------------- YANG UI BUTTONS */
button, div{
  &.yangButton{
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    border: 0;
    margin: 2px;
    .inlineBlock;
    &.iconClose{
      opacity: 1;
      width: 24px;
      background: transparent url('@{iconsRootPath}icon-close.png') no-repeat center top;

      &.active{
        background-position: 0 -24px!important;
      }
    }
    &.closeData{
      position: absolute;
      top: 5px;
      right: 22px;
    }
    &.iconNext{
      background: transparent url('@{iconsRootPath}icon-next.png') no-repeat center top;
      &.disabled{
        background-position: center top!important;
        .opacityDeph(0.6);
      }
    }
    &.iconPlus{
      background: transparent url('@{iconsRootPath}icon-plus.png') no-repeat center top;
    }
    &.iconChangeGroup{
      background: transparent url('@{iconsRootPath}icon-expand-bits.png') no-repeat center top;
    }
    &.iconArrowUp{
      background: transparent url('@{iconsRootPath}icon-arrow-up.png') no-repeat center top;
    }
    &.iconArrowDown{
      background: transparent url('@{iconsRootPath}icon-arrow-down.png') no-repeat center top;
    }
    &.iconFillData{
      background: transparent url('@{iconsRootPath}icon-fill-data.png') no-repeat center top;
      &.disabled{
        background-position: center top!important;
        .opacityDeph(0.6);
      }
    }
    &.iconArrowRight{
      background: transparent url('@{iconsRootPath}icon-arrow-right.png') no-repeat center top;
    }
    &.iconFilterEmpty{
      background: transparent url('@{iconsRootPath}icon-filter-empty.png') no-repeat center top;
    }
    &.iconFilterFull{
      background: transparent url('@{iconsRootPath}icon-filter-full.png') no-repeat center top;
    }
    &.iconFilterFullBck{
      background: transparent url('@{iconsRootPath}icon-filter-full.png') no-repeat center top;
    }
    &.iconList{
      background: transparent url('@{iconsRootPath}icon-list.png') no-repeat center top;
    }
    &.iconListBck{
      background: transparent url('@{iconsRootPath}icon-list-bck.png') no-repeat center top;
    }
    &.iconQuestion{
      background: transparent url('@{iconsRootPath}icon-question.png') no-repeat center top;
    }
    &.iconExpandBits{
      background: transparent url('@{iconsRootPath}icon-expand-bits.png') no-repeat center top;
    }
    &.iconCollapseBits{
      background: transparent url('@{iconsRootPath}icon-collapse-bits.png') no-repeat center top;
    }
    &.iconPrev{
      background: transparent url('@{iconsRootPath}icon-prev.png') no-repeat center top;
    }
    &.iconEdit{
      /*background: none;
      span{
        vertical-align: text-top;
      }*/
      background: transparent url('@{iconsRootPath}icon-edit.png') no-repeat center top;
    }
    &.iconDanger{
      background: transparent url('@{iconsRootPath}icon-danger.png') no-repeat center top;
      &:hover{
        background-position: 0 0!important;
      }
    }
    &.iconView{
      background: transparent url('@{iconsRootPath}icon-view.png') no-repeat center top;
      &:hover{
        background-position: 0 0!important;
      }
    }
    &:hover{
      background-position: 0 -24px!important;
    }
    /*&:hover{
      .opacityDeph(0.8);
    }*/
  }
}

.augmentIcon{
  .inlineBlock;
  background: transparent;
  font-weight: bold;
  color: #ebecec;
  border: 2px solid #ebecec;
  cursor: pointer;
  width: 26px;
  height: 26px;
  line-height: 22px;
  .boxSizing;
  .roundedCorners(13px);
  text-align: center;
  margin-left: 5px;

  &:hover, &.active{
    color: #000;
    border-color: orange;
    background: orange;
  }

  &.reversed{
    color: #F5F5F5;
    // background: #393939;
    border-color:orange;
    width: 20px;
    height: 20px;
    line-height: 16px;
    margin-top: 4px;
    font-size: 12px;
  }
}

.modalIconOver{
  position: absolute!important;
  top: 9px;
  left: -16px;
}
/* --------------------------------------------------------------------------------- YANG UI BUTTONS - END */



/* --------------------------------------------------------------------------------- YANG UI TYPE UNION */
.unionType.tabs{
  margin: 10px 0;

  .nav-tabs{
    border: 0;

    li{
      margin-right: 2px;

      a{
        border: 0;
      }

      &.btn-selected, &:hover{

        a{
          background: transparent;
        }
      }
    }
  }

  div.tab-content{
    margin: 0;
  }
}
/* --------------------------------------------------------------------------------- YANG UI TYPE UNION - END */


@media screen and (max-height: 700px) {
  .topologyContainer.previewContainer.historyPopUp{
    height: 80%;

    .tab-content{
      height: 82%;
      .tab-pane{
        height: 100%;
      }
    }

    .tabs{
      height: 95%;
    }

    .tab-pane .tableWrapper{
      max-height: 100%;
      height: 100%;
    }
  }
}

.resizable-s {
  > .ui-resizable-e{
    display: none!important;
  }

  > .ui-resizable-se{
    display: none!important;
  }
}



.ui-resizable-handle {
  &.ui-resizable-se{
    width: 20px;
    height: 20px;
    position: absolute;
    background: transparent url('images/resize_handle.gif') no-repeat;
    cursor: se-resize;
  }
}
  

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0;
}

.ui-resizable-se {
  right: 5px;
  bottom: 5px;
}

.mountPointsWrapper {
  height: calc(~"100% - 45px");
}
