<div ng-controller="containerCtrl" class="simpleContainer">
    <button class="btn add-row btn-orange ng-scope btn-slim" ng-click='toggleExpanded()'>
        <i class="icon-caret-down" ng-show="node.expanded"></i>
        <i class="icon-caret-right" ng-show="!node.expanded"></i>
        {{node.localeLabel | translate}}
    </button>
    <div ng-show="node.expanded">
        <div ng-repeat="node in node.children" ng-include="currentPath+'/'+node.type+'.tpl.html'">
    </div>
    
</div>