<div ng-controller="choiceCtrl" class="customContainer {{ node.expanded ? '' : 'withoutBorder' }}">
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_ELEM' | translate }}" ng-click='toggleExpanded()'></button>
        <span>{{getNodeName(node.localeLabel, node.label)}}</span>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>
        <!-- Augmentation control -->
        <div class="modalWrapper" ng-if="node.augmentionGroups.length" ng-include src="currentPath + 'modal/augmentation-modal.tpl.html'"></div>
        <span ng-if="node.augmentationId" class="augmentIcon reversed" tooltip="{{ 'YANGUI_IS_AUGMENT' | translate }} {{ node.augmentationId }}">A</span>
        <!-- Augmentation control end -->
        <select class="form-control input-sm" style="width:300px" ng-model="node.choice" ng-options="node.label for node in node.getChildren(null, null, constants.NODE_UI_DISPLAY) | filter:caseShowing">
            <option value="">-</option>
        </select>
    </div>
    
    <div ng-repeat="case in node.getChildren(null,null,constants.NODE_UI_DISPLAY) | onlyConfigStmts" ng-include="currentPath+'/'+case.type+'.tpl.html'" ng-show="node.choice.id === case.id && node.expanded" ng-if="!(case.augmentationId && !augmentations.getAugmentation(case.parent, case.augmentationId).expanded)"></div>

    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
<div>