<div class="mt20">

  <!-- History modal -->
  <div class="requestModal inline" ng-include src="currentPath+'/modal/request-modal.tpl.html'"></div>

  <div ng-show='previewVisible' class='topologyContainer previewContainer draggablePopup resizable-se' style='min-width:204px; min-height:97px;'>
    <label class="classic">Preview: </label>
    <button class="yangButton icon-remove close" ng-click="hidePreview()"></button>
    <div class="previewWrapper">
      <pre>{{previewValue.length ? previewValue : 'YANGUI_NO_DATA' | translate}}</pre>
    </div>
  </div>

  <!-- Custom plugins views -->
  <div ng-show="selCustFunct && selCustFunct.viewStr">
    <div ng-include src="selCustFunct.viewStr"></div>
  </div>

  <!-- ABN TREE -->
  <div class="simpleContainer resizable-s treeContainer">

    <span><strong>{{ 'MODULE' | translate }}</strong></span>
    <abn-tree tree-data="treeApis" tree-rows="treeRows" on-select="setApiNode(branch.indexApi, branch.indexSubApi)"></abn-tree>
  </div>

  <!-- ACTIONS BUTTON -->
  <div sticky class="actionBtnApiPathWrapper simpleContainer">

    <div class="in">

      <div class="actionButtons">
        <label class="classic">{{ 'YANGUI_ACTIONS' | translate }}: </label>

        <div class="selSubApiPath" ng-show="selSubApi.pathArray.length">
          <span class="pathElem" ng-repeat="pathElem in selSubApi.pathArray">{{pathElem.moduleChanged ? '/'+pathElem.module+':': '/'}}{{pathElem.name}}
            <span ng-show="pathElem.hasIdentifier()">
                <span ng-repeat="identifier in pathElem.identifiers">
                  /<input  type="text" class="form-control input-small" ng-model="identifier.value" ng-change="changePathInPreview(); fillNodeData(pathElem, identifier)">
                </span>
            </span>
        </span>

        <select class="form-control input-sm inline" style="width:100px" ng-hide="node === null" ng-model="selectedOperation" ng-change="updateAt($index, contractRef)" ng-options="operation for operation in selSubApi.operations">
        </select>
        <button ng-hide="node === null || selectedOperation === null" class="btn btn-default btn-slim" style="margin-right: 5px" ng-click="executeOperation(selectedOperation)">{{ 'YANGUI_SEND' | translate }}</button>

        <button ng-repeat="custFunct in selSubApi.custFunct" ng-show="showCustFunctButton()" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px" ng-click="executeCustFunctionality(custFunct)">{{ custFunct.label | translate }}</button>
      </div>

        <button ng-click="showPreview()" class="btn btn-default ng-scope btn-slim">{{ 'SHOW_PREVIEW' | translate }}</button>

        <!-- HISTORY REQUEST BUTON -->
        <button class="btn btn-default ng-scope btn-slim" ng-click='showModalRequestWin()'>{{ 'YANGUI_SHOW_HISTORY' | translate }}</button>

        <!-- WIN FOR ADDING DATA + BUTTON -->
        <div class="dataPopupWrapper inline">
              <button class="btn btn-default ng-scope btn-slim" ng-click='show_add_data_popup()'>
                  {{ 'YANGUI_SET_CUSTOM_API' | translate }}
              </button>
              <div id="customApi" ng-show='popupData.show' class='topologyContainer previewContainer dataPopup draggablePopup resizable-se' style="min-height: 322px;">
                  <button class="yangButton icon-remove close" ng-click="close_popup(popupData)"></button>
                  <div>
                    <label class="block classic">{{ 'YANGUI_API_PATH' | translate }}:</label>
                    <input class="leaf-input form-control input-small" type="text" ng-model="apiToFill">
                    <label class="block classic">{{ 'YANGUI_API_DATA' | translate }}:</label>
                  </div>
                  <textarea ng-model="dataToFill" ></textarea>
                  <button class="btn btn-default ng-scope btn-slim" ng-click='fillApiAndData({path: apiToFill, sentData: dataToFill})' style="position: absolute; bottom: 20px; right:20px;">
                    <i class="icon-upload-alt "></i>
                    {{ 'YANGUI_PUSH_CONFIG' | translate }}
                  </button>
              </div>
        </div>
      </div>

    </div>

  </div>

  <alert type='status.type' ng-show="status.msg" close="dismissStatus()">
    <i ng-show="status.isWorking" class="icon-refresh icon-spin"></i>
    <b> {{status.msg | translate }}</b>
    <b>{{ status.rawMsg ? (' - ' + status.rawMsg) : ''}}</b>
  </alert>

  <div class="form-inline">
    <div ng-if="node" ng-include src="currentPath+'/'+ apiType + node.type+'.tpl.html'"></div>
  </div>

</div>