<div class="mt20">

  <div class="tabs mainTabsWrapper">
    <ul class="nav nav-tabs">
        <li class="btn-like-tab {{ mainTabs['api'] ? 'btn-selected' : '' }}" ng-click="showTabs(mainTabs, 'api')">
            <a><span>{{'API' | translate}}</span></a>
        </li>
        <li class="btn-like-tab {{ mainTabs['history'] ? 'btn-selected' : '' }}" ng-click="showTabs(mainTabs, 'history')">
            <a><span>{{'YANGUI_HISTORY_TAB' | translate}}</span></a>
        </li>
        <li class="btn-like-tab {{ mainTabs['collection'] ? 'btn-selected' : '' }}" ng-click="showTabs(mainTabs, 'collection')">
            <a><span>{{'YANGUI_COLLECTION_TAB' | translate}}</span></a>
        </li>
        <li class="btn-like-tab {{ mainTabs['parameters'] ? 'btn-selected' : '' }}" ng-click="showTabs(mainTabs, 'parameters')">
            <a><span>{{'YANGUI_PARAMETERS_TAB' | translate}}</span></a>
        </li>
    </ul>

    <div class="tab-content simpleContainer resizable-s treeContainer">
      <!-- APIS -->
      <div class="tab-panel" ng-include src="currentPath + 'parts/apis-tab.tpl.html'" ng-show="mainTabs.api"></div>

      <section ng-controller="requestHistoryCtrl" class="historyPopUp" ng-hide="mainTabs.api">
        <!-- HISTORY -->
        <div class="tab-panel" ng-include src="currentPath + 'parts/history-tab.tpl.html'" ng-show="mainTabs.history"></div>
        <!-- COLLECTION -->
        <div class="tab-panel" ng-include src="currentPath + 'parts/collection-tab.tpl.html'" ng-show="mainTabs.collection"></div>
        <!-- PARAMETERS -->
        <div class="tab-panel" ng-include src="currentPath + 'parts/parameters-tab.tpl.html'" ng-show="mainTabs.parameters"></div>
      </section>
      
    </div>
  </div>




  <!-- Preview box -->
  <div ng-show="previewVisible" class="topologyContainer previewContainer draggablePopup resizable-se" ng-include src="currentPath+'/parts/preview-box.tpl.html'"></div>

  <!-- Custom plugins views -->
  <div ng-show="selCustFunct && selCustFunct.viewStr">
    <div ng-include src="selCustFunct.viewStr"></div>
  </div>

  <!-- ACTIONS BUTTON -->
  <div sticky class="actionBtnApiPathWrapper simpleContainer">

    <div class="in">

      <div class="actionButtons">
        <label class="classic">{{ 'YANGUI_PATH' | translate }}: </label>
        <div class="selSubApiPath" ng-show="selSubApi.pathArray.length">
            <span class="pathElem" ng-repeat="pathElem in selSubApi.pathArray">{{pathElem.moduleChanged ? '/'+pathElem.module+':': '/'}}{{pathElem.name}}
                <span ng-show="pathElem.hasIdentifier()">
                    <span ng-repeat="identifier in pathElem.identifiers">
                      /<input  type="text" class="form-control input-small" ng-model="identifier.value" ng-change="changePathInPreview(); fillNodeData(pathElem, identifier)">
                    </span>
                </span>
            </span>

            <select class="form-control input-sm inline" style="width:100px" ng-hide="node === null" ng-model="selectedOperation" ng-change="updateAt($index, contractRef)" ng-options="operation for operation in selSubApi.operations">
            </select>
            <button ng-hide="node === null || selectedOperation === null" class="btn btn-default btn-slim" style="margin-right: 5px" ng-click="executeOperation(selectedOperation)">{{ 'YANGUI_SEND' | translate }}</button>

            <!--<button ng-repeat="custFunct in selSubApi.custFunct" ng-show="showCustFunctButton()" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px" ng-click="executeCustFunctionality(custFunct)">{{ custFunct.label | translate }}</button>-->
            <button ng-repeat="custFunct in selSubApi.custFunct" ng-show="showCustFunctButton() || !custFunct.hideButtonOnSelect" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px" ng-click="executeCustFunctionality(custFunct)">{{ custFunct.label | translate }}</button>
        </div>
        <button ng-repeat="selCustFuncButt in selCustFunctButts" ng-show="selCustFuncButt.show()" ng-click="selCustFuncButt.onclick()" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px">{{ selCustFuncButt.label | translate }}</button>
        <button ng-click="showPreview()" class="btn btn-default ng-scope btn-slim">{{ 'SHOW_PREVIEW' | translate }}</button>

        <!-- WIN FOR ADDING DATA + BUTTON -->
        <div class="dataPopupWrapper inline">
              <button class="btn btn-default ng-scope btn-slim" ng-click='show_add_data_popup()'>
                  {{ 'YANGUI_CUSTOM_API_REQUEST' | translate }}
              </button>
              <div ng-show="popupData.show" ng-include src="currentPath + 'parts/custom-request-box.tpl.html'" class="topologyContainer previewContainer dataPopup draggablePopup resizable-se"></div>
        </div>
        <!-- WIN FOR ADDING DATA + BUTTON - END -->
      </div>

    </div>

  </div>

  <alert type='status.type' ng-show="status.msg" close="dismissStatus()">
    <i ng-show="status.isWorking" class="icon-refresh icon-spin"></i>
    <b> {{status.msg | translate }}</b>
    <b>{{ status.rawMsg ? (' - ' + status.rawMsg) : ''}}</b>
  </alert>

  <div class="form-inline">
    <div ng-if="node" ng-include src="currentPath+'/'+ apiType + node.type+'.tpl.html'"></div>
  </div>

</div>