<md-dialog aria-label="{{'YANGMAN_PARAMETERS_ADMINISTRATION'| translate}}"  ng-cloak>
    <form name="paramsAdmin.paramsForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'YANGMAN_PARAMETERS_ADMINISTRATION'| translate}}</h2>
                <span flex></span>
                <md-button aria-label="{{'YANGMAN_CLOSE'| translate}}"
                           id="params-admin-close-cross"
                           ng-click="paramsAdmin.close()">
                    <md-icon class="material-icons clickable" >
                        close
                    </md-icon>
                    <md-tooltip md-direction="bottom">{{'YANGMAN_CLOSE'| translate}}</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="paramsAdminDialog" layout="column">
            <div class="md-dialog-content" layout="column">
                <!-- top part for search and sort bar -->
                <div class="paramsAdminDialog__searchBox" layout="row">

                    <!-- search icon, form, clear button -->
                    <md-icon class="material-icons">search</md-icon>
                    <input class=""
                           id="params-admin-search-field"
                           type="text"
                           flex
                           ng-change="paramsAdmin.filterChange()"
                           placeholder="{{'YANGMAN_SEARCH' | translate}}"
                           ng-model="paramsAdmin.search"
                           aria-invalid="false" />
                    <md-button aria-label="{{'YANGMAN_CLEAR_SEARCH'| translate}}"
                               id="params-admin-search-clear"
                               ng-click="paramsAdmin.clearFilter()"
                               ng-if="paramsAdmin.search">
                        <md-icon class="material-icons clickable" >
                            close
                        </md-icon>
                        <md-tooltip md-direction="bottom">{{'YANGMAN_CLEAR_SEARCH'| translate}}</md-tooltip>
                    </md-button>
                    <!-- /search icon, form, clear button -->

                    <!-- sorting menu -->
                    <md-menu md-offset="35 15" layout-align="center start">
                        <md-button aria-label="{{'YANGMAN_SORT'| translate}}"
                                   class=""
                                   id="params-admin-sort-menu"
                                   ng-click="$mdOpenMenu()">
                            <i class="material-icons">sort</i>
                            <md-tooltip md-direction="bottom">
                                {{'YANGMAN_SORTING' | translate}}
                            </md-tooltip>
                        </md-button>
                        <md-menu-content>
                            <!-- sort by name -->
                            <md-menu-item>
                                <md-button aria-label="{{'YANGMAN_PARAMS_KEY'| translate}}"
                                           id="params-admin-sort-name-{{paramsAdmin.sortAsc ? 'desc' : 'asc'}}"
                                           ng-click="paramsAdmin.sortBy('_name', '_value')">
                                    {{'YANGMAN_SORT_BY'| translate}}
                                    {{'YANGMAN_PARAMS_KEY'| translate}}
                                    {{paramsAdmin.sortAsc ? 'YANGMAN_SORT_DESC' : 'YANGMAN_SORT_ASC' | translate}}
                                </md-button>
                            </md-menu-item>
                            <!-- /sort by name -->

                            <!-- sort by value -->
                            <md-menu-item>
                                <md-button aria-label="{{'YANGMAN_PARAMS_VALUE'| translate}}"
                                           id="params-admin-sort-value-{{paramsAdmin.sortAsc ? 'desc' : 'asc'}}"
                                           ng-click="paramsAdmin.sortBy('_value', '_name')">
                                    {{'YANGMAN_SORT_BY'| translate}}
                                    {{'YANGMAN_PARAMS_VALUE'| translate}}
                                    {{paramsAdmin.sortAsc ? 'YANGMAN_SORT_DESC' : 'YANGMAN_SORT_ASC' | translate}}
                                </md-button>
                            </md-menu-item>
                            <!-- /sort by value -->

                        </md-menu-content>
                    </md-menu>
                    <!-- /sorting menu -->

                    <!-- menu for import and export parameters -->
                    <input type="file" accept=".json" id="importParameters" on-read-file="paramsAdmin.importParameters($fileContent)">
                    <md-menu md-offset="35 15" layout-align="center start">
                        <md-button aria-label="{{ 'YANGMAN_PARAMS_IMPORT_EXPORT' | translate }}"
                                   id="params-admin-import-export-menu"
                                   ng-click="$mdOpenMenu()">
                            <i class="material-icons">import_export</i>
                            <md-tooltip md-direction="bottom">
                                {{ 'YANGMAN_PARAMS_IMPORT_EXPORT' | translate }}
                            </md-tooltip>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button id="params-admin-import-parameters">
                                    <label for="importParameters">
                                        {{'YANGMAN_IMPORT_PARAMS'| translate}}
                                    </label>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button aria-label="{{'YANGMAN_EXPORT_PARAMETERS' | translate}}"
                                           id="params-admin-export-parameters"
                                           ng-click="paramsAdmin.exportParameters()">
                                    {{'YANGMAN_EXPORT_PARAMETERS' | translate}}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <!-- /menu for import and export parameters -->

                </div>

                <md-divider></md-divider>
                <!-- /top part for search and sort bar -->

                <!-- parameters list -->
                <md-content class="paramsAdminDialog__paramsList scrollableY" layout="column">

                    <div layout="row"
                         ng-repeat="param in paramsAdmin.parametersList.list |
                                        filter: paramsAdmin.filterParam |
                                        orderBy: paramsAdmin.sortFunc : !paramsAdmin.sortAsc
                                        track by $index">
                        <!-- name input -->
                        <md-input-container>
                            <label>{{'YANGMAN_PARAM_KEY' | translate}}</label>
                            <input name="name_{{$index}}"
                                   id="params-admin-list-name-{{$index}}"
                                   ng-model="param.name"
                                   ng-required="param.value"
                                   ng-change="paramsAdmin.validateNamesUnique()"
                                   ng-focus="$last && paramsAdmin.createEmptyParam()"
                                   autocomplete="off">
                            <div ng-messages="paramsAdmin.paramsForm['name_'+$index].$error" multiple md-auto-hide="false">
                                <div ng-message="required"
                                     id="params-admin-name-required">
                                    {{'YANGMAN_PARAM_KEY_REQUIRED'| translate}}
                                </div>
                                <div ng-message="unique"
                                     id="params-admin-name-unique">
                                    {{'YANGMAN_PARAM_EXISTING_KEY'| translate}}
                                </div>
                            </div>
                        </md-input-container>
                        <!-- / name input -->

                        <!-- value input -->
                        <md-input-container flex>
                            <label>{{'YANGMAN_PARAM_VALUE' | translate}}</label>
                            <input ng-model="param.value"
                                   id="params-admin-value-list-{{$index}}"
                                   ng-focus="$last && paramsAdmin.createEmptyParam()">
                        </md-input-container>
                        <!-- /value input -->

                        <!-- remove param button -->
                        <md-button aria-label="{{'YANGMAN_REMOVE_PARAM' | translate}}"
                                   id="params-admin-list-remove-{{$index}}"
                                   class=""
                                   ng-if="!$last"
                                   ng-click="paramsAdmin.removeParam(param)">
                            <md-tooltip md-direction="bottom">
                                {{'YANGMAN_REMOVE_PARAM' | translate}}
                            </md-tooltip>
                            <i class="material-icons">close</i>
                        </md-button>
                        <!-- /remove param button -->


                    </div>
                </md-content>
                <!-- /parameters list -->

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button id="params-admin-close-button" ng-click="paramsAdmin.close()">
                {{'YANGMAN_CLOSE'| translate}}
            </md-button>
            <md-button ng-click="paramsAdmin.save()"
                       id="params-admin-save-button"
                       ng-disabled="!paramsAdmin.paramsForm.$valid">
                {{'YANGMAN_SAVE'| translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
