<div class="inline position-relative align-left">
	<a href="#" class="btn-message btn btn-xs dropdown-toggle" data-toggle="dropdown">
		<span class="bigger-110">Action</span>
		<i class="icon-caret-down icon-on-right"></i>
	</a>
	<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
		<li><a href="#"><i class="icon-mail-reply blue"></i>&nbsp; Reply</a></li>
		<li><a href="#"><i class="icon-mail-forward green"></i>&nbsp; Forward</a></li>
		<li><a href="#"><i class="icon-folder-open orange"></i>&nbsp; Archive</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="icon-eye-open blue"></i>&nbsp; Mark as read</a></li>
		<li><a href="#"><i class="icon-eye-close green"></i>&nbsp; Mark unread</a></li>
		<li><a href="#"><i class="icon-flag-alt red"></i>&nbsp; Flag</a></li>
		<li class="divider"></li>
		<li><a href="#"><i class="icon-trash red bigger-110"></i>&nbsp; Delete</a></li>
	</ul>
</div>

<div class="inline position-relative align-left">
	<a href="#" class="btn-message btn btn-xs dropdown-toggle" data-toggle="dropdown">
		<i class="icon-folder-close-alt bigger-110"></i>
		<span class="bigger-110">Move to</span>
		<i class="icon-caret-down icon-on-right"></i>
	</a>
	<ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
		<li><a href="#"><i class="icon-stop pink2"></i>&nbsp; Tag#1</a></li>
		<li><a href="#"><i class="icon-stop blue"></i>&nbsp; Family</a></li>
		<li><a href="#"><i class="icon-stop green"></i>&nbsp; Friends</a></li>
		<li><a href="#"><i class="icon-stop grey"></i>&nbsp; Work</a></li>
	</ul>
</div>

<a href="#" class="btn btn-xs btn-message">
	<i class="icon-trash bigger-125"></i>
	<span class="bigger-110">Delete</span>
</a>