<div class="message-list" id="message-list">
 {{#page.messages}}
	<div class="message-item{{#unread}} message-unread{{/unread}}">
		<label class="inline">
			<input type="checkbox" class="ace" />
			<span class="lbl"></span>
		</label>

		<i class="message-star {{#starred}}icon-star orange2{{/starred}}{{^starred}}icon-star-empty light-grey{{/starred}}"></i>
		<span class="sender" title="{{sender}}">{{sender}} {{#count}}<span class="light-grey">({{count}})</span>{{/count}}</span>
		<span class="time">{{time}}</span>
		{{#attachment}}
		<span class="attachment">
			<i class="icon-paper-clip"></i>
		</span>
		{{/attachment}}

		<span class="summary">
			{{#flags}}
			<span class="message-flags">
				{{#replied}}
				<i class="icon-reply light-grey"></i>
				{{/replied}}
				{{#forwarded}}
				<i class="icon-mail-forward light-grey"></i>
				{{/forwarded}}
				{{#flag}}
				<i class="icon-flag icon-flip-horizontal light-grey"></i>
				{{/flag}}
			</span>
			{{/flags}}
			{{#tag}}
			<span class="badge badge-{{tag}} mail-tag"></span>
			{{/tag}}
			<span class="text">
			{{subject}}
			</span>
		</span>
	</div>
 {{/page.messages}}
</div>