<div class="messagebar-item-right">
	<div class="inline position-relative">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">
			Sort &nbsp;<i class="icon-caret-down bigger-125"></i>
		</a>

		<ul class="dropdown-menu dropdown-lighter pull-right dropdown-100">
			<li><a href="#"><i class="icon-ok green"></i> Date </a></li>
			<li><a href="#"><i class="icon-ok invisible"></i> From</a></li>
			<li><a href="#"><i class="icon-ok invisible"></i> Subject</a></li>
		</ul>
	</div>
</div>