<div id="id-message-list-navbar" class="message-navbar align-center clearfix">
	<div class="message-bar">
		<div class="message-infobar" id="id-message-infobar">
			<span class="blue bigger-150">Inbox</span>
			<span class="grey bigger-110">(2 unread messages)</span>
		</div>

		<div class="message-toolbar hide">
			{{> page.message_actions}}
		</div>
	</div>


	<div>
		{{> page.message_select}}
		{{> page.message_sort}}


		<div class="nav-search minimized">
			<form class="form-search">
			  <span class="input-icon">
				<input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ...">
				<i class="icon-search nav-search-icon"></i>
			  </span>
			</form>
		</div>
	</div>
</div>





<div id="id-message-item-navbar" class="hide message-navbar align-center clearfix">
	<div class="message-bar">
		<div class="message-toolbar">
			{{> page.message_actions}}
		</div>
	</div>
	
	<div>
		<div class="messagebar-item-left">
			<a href="#" class="btn-back-message-list">
				<i class="icon-arrow-left blue bigger-110 middle"></i>
				<b class="bigger-110 middle">Back</b>
			</a>
		</div>
		<div class="messagebar-item-right">
			<i class="icon-time bigger-110 orange middle"></i>
			<span class="time grey">Today, 7:15 pm</span>
		</div>
	</div>
	
</div>




<div id="id-message-new-navbar" class="hide message-navbar align-center clearfix">

	<div class="message-bar">
		<div class="message-toolbar">
			<a href="#" class="btn btn-xs btn-message">
				<i class="icon-save bigger-125"></i>
				<span class="bigger-110">Save Draft</span>
			</a>
			<a href="#" class="btn btn-xs btn-message">
				<i class="icon-remove bigger-125"></i>
				<span class="bigger-110">Discard</span>
			</a>
		</div>
	</div>

	
	<div class="message-item-bar">
		<div class="messagebar-item-left">
			<a href="#" class="btn-back-message-list no-hover-underline">
				<i class="icon-arrow-left blue bigger-110 middle"></i>
				<b class="middle bigger-110">Back</b>
			</a>
		</div>
		<div class="messagebar-item-right">
		   <span class="inline btn-send-message">
			<button type="button" class="btn btn-sm btn-primary no-border">
				<span class="bigger-110">Send</span>
				<i class="icon-arrow-right icon-on-right"></i>
			</button>
		   </span>
		</div>
	</div>
	
</div>