<ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">

  <li class="li-new-mail pull-right">
	<a data-toggle="tab" href="#write" data-target="write" class="btn-new-mail">
	  <span class="btn bt1n-small btn-purple no-border">
		 <i class=" icon-envelope bigger-130"></i>
		 <span class="bigger-110">Write Mail</span>
	  </span>
	</a>
  </li><!-- ./li-new-mail -->

  <li class="active">
	<a data-toggle="tab" href="#inbox" data-target="inbox">
		<i class="blue icon-inbox bigger-130"></i>
		<span class="bigger-110">Inbox</span>
	</a>
  </li>
  <li>
	<a data-toggle="tab" href="#sent" data-target="sent">
		<i class="orange icon-location-arrow bigger-130 "></i>
		<span class="bigger-110">Sent</span>
	</a>
  </li>
  <li>
	<a data-toggle="tab" href="#draft" data-target="draft">
		<i class="green icon-pencil bigger-130"></i>
		<span class="bigger-110">Draft</span>
	</a>
  </li>

  <li class="dropdown">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="pink icon-tags bigger-130"></i>
		<span class="bigger-110">Tags<i class="icon-caret-down"></i></span>
	</a>

	<ul class="dropdown-menu dropdown-light-blue dropdown-125">
	  <li>
		<a data-toggle="tab" href="#tag-1" data-target="tag-1">
			<span class="mail-tag badge badge-pink"></span>
			<span class="pink">Tag#1</span>
		</a>
	  </li>
	  <li>
		<a data-toggle="tab" href="#tag-family" data-target="tag-family">
			<span class="mail-tag badge badge-success"></span>
			<span class="green">Family</span>
		</a>
	  </li>
	  <li>
		<a data-toggle="tab" href="#tag-friends" data-target="tag-friends">
			<span class="mail-tag badge badge-info"></span>
			<span class="blue">Friends</span>
		</a>
	  </li>
	  <li>
		<a data-toggle="tab" href="#tag-work" data-target="tag-work">
			<span class="mail-tag badge badge-grey"></span>
			<span class="grey">Work</span>
		</a>
	  </li>
	</ul>
  </li><!-- /.dropdown -->

</ul>