<div>
  <br>

  <alert type="status.type" ng-show="status.msg" close="dismissStatus()"><i ng-show="status.isWorking" class="icon-refresh icon-spin"></i><b> {{status.msg | translate }}</b>
      <b>{{ status.rawMsg ? (' - ' + status.rawMsg) : ''}}</b>
  </alert>

  <div ng-show='previewVisible' class='topologyContainer previewContainer draggablePopup'>
    <button class="yangButton iconClose close" ng-click="hidePreview()"></button>
    <div class="previewWrapper">
      <pre>{{previewValue.length ? previewValue : 'YANGUI_NO_DATA' | translate}}</pre>
    </div>
  </div>


  <!-- <div ng-show='topologyData.nodes.length > 0' class='topologyContainer'>
    <button class="close" ng-click="clearTopologyData()">&times;</button>
    <topology-simple topology-data="topologyData"></topology-simple>
  </div> -->
  <div ng-show="selCustFunct && selCustFunct.viewStr" class="draggablePopup" ng-class="selCustFunct && selCustFunct.label === 'YANGUI_CUST_MOUNT_POINTS' ? 'mountPointsContainer' : 'topologyContainer'">
    <div class="alertInner" ng-show="status.isWorking">
      <i class="icon-refresh icon-spin ng-scope"></i><span>{{ 'OF_LOADING_DATA' | translate }}</span>
    </div> 
    <button class="yangButton iconClose close" ng-click="unsetCustomFunctionality()"></button>
    <div ng-include src="selCustFunct.viewStr"></div>
  </div>

  <div class="simpleContainer">
    <div>
      <span><strong>{{ 'MODULE' | translate }}</strong></span>

      <abn-tree tree-data="treeApis" tree-rows="treeRows" on-select="setApiNode(branch.indexApi, branch.indexSubApi)"></abn-tree>
    </div>
    
    <div sticky class="selSubApiPath">
      <div class="in" ng-show="selSubApi.pathArray.length">
        <label class="classic">{{ 'YANGUI_API_OP' | translate }}: </label>
        <span ng-repeat="pathElem in selSubApi.pathArray">{{pathElem.module ? '/'+pathElem.module+':': '/'}}{{pathElem.name}}
            <span ng-show="pathElem.hasIdentifier()">/<input  type="text" class="form-control input-small" ng-model="pathElem.identifierValue" ng-change="changePathInPreview()"></span>
        </span>
        <button ng-repeat="operation in selSubApi.operations" ng-hide="selCustFunct && selCustFunct.label === 'YANGUI_CUST_MOUNT_POINTS' && node === null" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px" ng-click="executeOperation(operation)">{{operation}}</button>
        <button ng-repeat="custFunct in selSubApi.custFunct" class="btn btn-default btn-slim ng-scope" style="margin-right: 5px" ng-click="executeCustFunctionality(custFunct)">{{ custFunct.label | translate }}</button>
      </div>
    </div>

    <div class="actionButtons">
      <div class="in">
        <label class="classic">{{ 'YANGUI_ACTIONS' | translate }}: </label>
        <button ng-click="showPreview()" class="btn btn-default ng-scope btn-slim">{{ 'SHOW_PREVIEW' | translate }}</button>
        <!-- HISTORY REQUEST COLLECTIONS -->
        <div ng-controller="requestHistoryCtrl" class="requestModal inlineBlock" ng-include src="currentPath+'/modal/request-modal.tpl.html'"></div>

        <!-- WIN FOR ADDING DATA + BUTTON -->
        <div class="inlineBlock dataPopupWrapper">
              <button class="btn btn-default ng-scope btn-slim" ng-click='show_add_data_popup()'>
                  {{ 'YANGUI_SET_CUSTOM_API' | translate }}
              </button>
              <div ng-show='popupData.show' class='topologyContainer previewContainer dataPopup draggablePopup'>
                  <button class="yangButton iconClose close" ng-click="close_popup(popupData)"></button>
                  <label class="block classic">{{ 'YANGUI_API_PATH' | translate }}:</label>
                  <input class="leaf-input form-control input-small" type="text" ng-model="apiToFill">
                  <label class="block classic">{{ 'YANGUI_API_DATA' | translate }}:</label>
                  <textarea ng-model="dataToFill" ></textarea>
                  <button class="btn btn-default ng-scope btn-slim" ng-click='fillApiAndData(apiToFill, dataToFill)'>
                    <i class="icon-upload-alt "></i>
                    {{ 'YANGUI_PUSH_CONFIG' | translate }}
                  </button>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline">
    <div ng-if="node" ng-include src="currentPath+'/'+ apiType + node.type+'.tpl.html'"></div>
  </div>

</div>