<div ng-controller="ChoiceCtrl as yangChoice"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}">

    <!-- choice title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element" ng-click="yangChoice.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Choice label -->
        <p class="top-element" ng-click="yangChoice.toggleExpanded()"> {{yangForm.getNodeName(node.localeLabel, node.label)}} </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangChoice.isActionMenu()"
                        augmentations="augmentations"
                        is-node-info="yangChoice.isNodeInfo()"
                        node="node"></yang-form-menu>

        <!-- Choice select -->
        <md-input-container>
            <md-select ng-model="node.choice">
                <md-option ng-repeat="node in node.getChildren(null, null, constants.NODE_UI_DISPLAY) | filter:caseShowing" ng-value="node">
                    {{node.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <!-- choice's children -->
    <div ng-repeat="case in node.getChildren(null,null,constants.NODE_UI_DISPLAY) | ymOnlyConfigElem"
         ng-include="yangForm.viewPath + '/config/' + case.type +'.tpl.html'"
         ng-show="node.choice.id === case.id && node.expanded"
         ng-if="!(case.augmentationId && !augmentations.getAugmentation(case.parent, case.augmentationId).expanded)"></div>
</div>