<div ng-controller="YMLeafCtrl as yangLeaf"
     layout="row"
     layout-align="start {{yangLeaf.getLeafCentering()}}"
     class="yangmanModule__right-panel__form__leaf-container {{yangLeaf.getLeafType()}}">

    <!-- Container label -->
    <p class="top-element" ym-info-box node="node"> {{yangForm.getNodeName(node.localeLabel, node.label)}} </p>

    <!-- Action menu -->
    <yang-form-menu is-action-menu="yangLeaf.isActionMenu()"
                    augmentations="augmentations"
                    node="node"></yang-form-menu>

    <!-- Empty placeholder for better look -->
    <div class="menu-placeholder" ng-if="!yangLeaf.isActionMenu() && !yangLeaf.isNodeInfo()"></div>

    <div ng-controller="YMTypeCtrl as yangType"
         ng-repeat="type in node.getChildren('type')"
         ng-include="yangForm.viewPath + '/config/types/' + yangLeaf.getLeafType() + '.tpl.html'"
         {{yangLeaf.getLeafType() === 'union' ? 'flex="grow"' : ''}}
         layout="row"
         class="full_width">
    </div>
</div>
