<div ng-controller="YMLeafListCtrl as yangLeafList"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element" ng-click="yangLeafList.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'YANGMAN_SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Container label -->
        <p class="top-element" ng-click="yangLeafList.toggleExpanded()" ym-info-box node="node">
            {{yangForm.getNodeName(node.localeLabel, node.label)}}
        </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangLeafList.isActionMenu()"
                        augmentations="augmentations"
                        add-list-item-func="yangLeafList.addListElem()"
                        add-list-item="true"
                        node="node"></yang-form-menu>
    </div>

    <div ng-repeat="elem in node.value" ng-show="node.expanded">
        <!-- Leaf list values -->
        <md-input-container md-no-float  class="input-icon-container full_width">
            <!-- input -->
            <input  ng-change="yangLeafList.changed()" ng-model="elem.value" aria-label="{{elem.value}}" class="full_width">

            <!-- remove Icon -->
            <md-icon md-font-set="material-icons" class="top-icon top-element pointer" ng-click="yangLeafList.removeListElem(elem)">
                <md-tooltip md-direction="right">{{ 'REMOVE_ELEM' | translate }}</md-tooltip>
                remove_circle_outline
            </md-icon>
        </md-input-container>
    </div>
</div>
