<div ng-controller="YMListCtrl as yangList"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}"
     ng-init="yangList.init()">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="container-label">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element pointer" ng-click="yangList.toggleExpanded()">
            <md-tooltip md-direction="left">{{ 'YANGMAN_SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- list label -->
        <p class="top-element pointer list-label" ng-click="yangList.toggleExpanded()" ym-info-box node="node">
            {{yangForm.getNodeName(node.localeLabel, node.label)}}
        </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangList.isActionMenu()"
                        augmentations="augmentations"
                        add-list-item-func="yangList.addListElem()"
                        add-list-item="!yangList.disableAddingListElement"
                        yang-form="yangForm"
                        yang-list="yangList"
                        node="node"></yang-form-menu>

        <!--<ng-include src="currentPath+'/filter.tpl.html'"></ng-include>-->

        <section layout="row"
                 layout-align="start center"
                 class="yangmanModule__right-panel__form__list__paginator"
                 ng-include="yangForm.viewPath + '/list-data-top.tpl.html'"
                 ng-if="!(node.filteredListData && node.filteredListData.length)"></section>

        <div class="listItemWrapper"
             ng-include="yangForm.viewPath + '/config/list-filtered-data-top.tpl.html'"
             ng-if="(node.filteredListData && node.filteredListData.length)"></div>

    </div>

    <!-- list's children -->
    <div ng-if="node.actElemStructure" ng-show="node.expanded">
        <div ng-repeat="node in node.actElemStructure.getChildren(null,null,constants.NODE_UI_DISPLAY) | ymOnlyConfigElem"
             ng-include="yangForm.viewPath + '/config/' + node.type+'.tpl.html'"
             ng-hide="node.augmentationId && !augmentations.getAugmentation(node.parent, node.augmentationId).expanded">
        </div>
    </div>
</div>
