<div ng-controller="OutputCtrl as yangOutput"
     class="yangmanModule__right-panel__form__element-container"
     ng-class="{'expanded' : node.expanded}">

    <!-- container title -->
    <div layout="row"
         layout-align="start center"
         class="pointer container-label"
         ng-click="yangOutput.toggleExpanded()">

        <!-- Expand Icon -->
        <md-icon md-font-set="material-icons" class="top-icon top-element">
            <md-tooltip md-direction="left">{{ 'SHOW_HIDE_CON' | translate }}</md-tooltip>
            {{node.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
        </md-icon>

        <!-- Container label -->
        <p class="top-element" ym-info-box node="node"> {{yangForm.getNodeName(node.localeLabel, node.label)}} </p>

        <!-- Action menu -->
        <yang-form-menu is-action-menu="yangOutput.isActionMenu()"
                        augmentations="augmentations"
                        node="node"></yang-form-menu>

    </div>

    <!-- output's children -->
    <div ng-if="node.expanded">
        <div ng-repeat="node in node.getChildren(null,null,constants.NODE_UI_DISPLAY) | ymOnlyConfigElem"
             ng-include="yangForm.viewPath + '/config/' + node.type+'.tpl.html'"
             ng-hide="node.augmentationId && !augmentations.getAugmentation(node.parent, node.augmentationId).expanded">
        </div>
    </div>
</div>