<div id="user-profile-1" class="user-profile row">

	<div class="col-xs-12 col-sm-3 center">
		<div>
			<span class="profile-picture">
				<img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="{{{path.assets}}}/avatars/profile-pic.jpg" />
			</span>
			
			<div class="space-4"></div>
			
			<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
			  <div class="inline position-relative">
				<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
					<i class="icon-circle light-green middle"></i> &nbsp;<span class="white">Alex M. Doe</span>
				</a>
				<ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
					<li class="dropdown-header">
						Change Status
					</li>
					<li><a href="#"><i class="icon-circle green"></i>&nbsp; <span class="green">Available</span></a></li>
					<li><a href="#"><i class="icon-circle red"></i>&nbsp; <span class="red">Busy</span></a></li>
					<li><a href="#"><i class="icon-circle grey"></i>&nbsp; <span class="grey">Invisible</span></a></li>
				</ul>
			  </div>
			</div>
		</div>
		
		<div class="space-6"></div>

		<div class="profile-contact-info">
			<div class="profile-contact-links align-left">
				<a class="btn btn-link" href="#"><i class="icon-plus-sign bigger-120 green"></i> Add as a friend</a>
				<a class="btn btn-link" href="#"><i class="icon-envelope bigger-120 pink"></i> Send a message</a>
				<a class="btn btn-link" href="#"><i class="icon-globe bigger-125 blue"></i> www.alexdoe.com</a>
			</div>
			
			<div class="space-6"></div>
			
			<div class="profile-social-links center">
				<a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook"><i class="middle icon-facebook-sign icon-2x blue"></i></a>
				<a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter"><i class="middle icon-twitter-sign icon-2x light-blue"></i></a>
				<a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest"><i class="middle icon-pinterest-sign icon-2x red"></i></a>
			</div>
		</div>

		
		<div class="hr hr12 dotted"></div>
		<div class="clearfix">
			<div class="grid2">
				<span class="bigger-175 blue">25</span>
				<br />
				Followers
			</div>
			
			<div class="grid2">
				<span class="bigger-175 blue">12</span>
				<br />
				Following
			</div>
		</div>
		<div class="hr hr16 dotted"></div>
	</div>


	<div class="col-xs-12 col-sm-9">
		<div class="center">
			{{> page.stats}}
		</div>

		<div class="space-12"></div>
		
		<div class="profile-user-info profile-user-info-striped">
			{{#page.info1}}
			<div class="profile-info-row">
				<div class="profile-info-name">
					{{{title}}}
				</div>
				
				<div class="profile-info-value">
					{{#icon}}
						<i class="{{icon}} light-orange bigger-110"></i>
					{{/icon}}
					{{#content}}
					<span class="editable" id="{{id}}">{{value}}</span>
					{{/content}}
				</div>
			</div>
			{{/page.info1}}
		</div>


		<div class="space-20"></div>
		
		<div class="widget-box transparent">
			<div class="widget-header widget-header-small">
				<h4 class="blue smaller"><i class="icon-rss orange"></i> Recent Activities</h4>
				<div class="widget-toolbar action-buttons">
					<a href="#" data-action="reload"><i class="icon-refresh blue"></i></a>&nbsp;
					<a href="#" class="pink"><i class="icon-trash"></i></a>
				</div>
			</div>
			
			<div class="widget-body">
			 <div class="widget-main padding-8">
				<div id="profile-feed-1" class="profile-feed">
					{{#page.activities.first_five}}
						{{> page.activity}}
					{{/page.activities.first_five}}
					{{#page.activities.second_five}}
						{{> page.activity}}
					{{/page.activities.second_five}}
				</div>
			 </div>
			</div>
		</div>

		<div class="hr hr2 hr-double"></div>
		<div class="space-6"></div>
		<div class="center">
			<a href="#" class="btn btn-sm btn-primary">
				<i class="icon-rss bigger-150 middle"></i>
				<span class="bigger-110">View more activities</span>
				<i class="icon-on-right icon-arrow-right"></i>
			</a>
		</div>
	</div>

</div>