<div class="col-md-10">
  <div class="well well-sm">
    <a ui-sref="network.subnets.create()" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
  </div>

  <div class="form-group">
    <div class="form-inline">
      <label class="control-label" for="search">Search</label>

      <div class="form-group">
        <input class="form-control input-sm" id="search" placeholder="Search" type="text" ng-model="search">
      </div>
    </div>
  </div>

  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subnet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subnet in data.subnetConfig | filter:search">
        <td>{{subnet.name}}</td>
        <td>{{subnet.subnet}}</td>
      </tr>
    </tbody>
  </table>
</div>
