<!--<div class="col-md-10">
  <div class="well well-sm">
    <a href="index.html#/network/subnet/create" class="btn btn-xs btn-primary"><i class="icon-plus-sign"></i> Create</a>
  </div>

  <div class="form-group">
    <div class="form-inline">
      <label class="control-label" for="search">Search</label>

      <div class="form-group">
        <input class="form-control input-sm" id="search" placeholder="Search" type="text" ng-model="search">
      </div>
    </div>
  </div>

  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subnet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="subnet in data.subnetConfig | filter:search">
        <td>{{subnet.name}}</td>
        <td>{{subnet.subnet}}</td>
      </tr>
    </tbody>
  </table>
</div>
-->


<a class="btn btn-info add-row" href="#/network/subnet/create">
    Add Subnet
</a>

<table class="footable table" data-page-size="5" page-navigation="pagination">
  <thead>
    <tr>
        <th>Name</th>
        <th data-hide="phone">Subnet</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="subnet in data.subnetConfig | filter:search" on-finish-render>
        <td>{{subnet.name}}</td>
        <td>{{subnet.subnet}}</td>
        <td><a href="#/network/subnet/{{subnet.name}}/edit"><i class="icon-edit"></i></a></td>
        <td>
          <a class="row-delete" href="">
          <i class="icon-remove"></i>
      </a>
    </td>
      </tr>
  </tbody>
  <tfoot class="hide-if-no-paging">
    <tr>
      <td colspan="5">
        <div class="pagination pagination-centered"></div>
      </td>
    </tr>
  </tfoot>
</table>





<script type="text/javascript">
    
    $('.footable').footable();
</script>
