<span ng-click="toggleExpandedAugModal()" class="augmentIcon" tooltip="{{'YANGUI_HAS_AUGMENT' | translate}}">A</span>
<div class="listModal simpleContainer augmentationModal" ng-if="augModalView">
    <button class="augmentIcon active modalIconOver" ng-click="toggleExpandedAugModal()">A</button>
    <div class="leaf ng-scope">
        <span class="leaf-label list-title">{{ 'YANGUI_LIST_OF_AUGMENTATIONS' | translate }}</span>
        <button class="yangButton icon-remove close" ng-click="toggleExpandedAugModal()"></button>
    </div>
    <div class="listWrapper">
        <ul>
            <li ng-repeat="augmentation in node.augmentionGroups" class="pr50 pl30">
                <button ng-show="augmentations.getAugmentation(node, augmentation).expanded" class="yangButton iconView"></button>
                <button ng-click="augmentations.getAugmentation(node, augmentation).toggleExpand()" class="btn btn-like-tab" style="margin-right: 5px">
                    {{augmentation}}
                </button>
            </li>
        </ul>
    </div> 
</div>