<div ng-show="mountPointsStructure.length > 0" class="mountPoints" ng-init="showMP=true">
    <span class="leaf-label list-title" ng-click="showMP = !showMP"">{{ 'YANGUI_MOUNT_POINT' | translate }}</span>

    <div class="mpInner" ng-show="showMP">
        <div class="mpApi" ng-repeat="mountPoint in mountPointsStructure">
            <a class="mpApiLink" ng-click="expand(mountPoint)">
                <i class="icon-plus" ng-class="mountPoint.expanded ? 'icon-minus' : 'icon-plus'"></i>
                <span>{{mountPoint.module}}</span>
            </a>

            <div class="mpSubApi" ng-show="mountPoint.expanded" ng-repeat="ch in mountPoint.children track by $index">
                <a ng-click="showMountPoint(ch)">
                    <i class="icon-minus"></i>
                    <span>{{ch.label}}</span>
                </a>
            </div>
        </div>
    </div>
</div>