/target/
/node/
/src/app/connection_manager
/src/app/container
/src/app/core
/src/app/flow
/src/app/network
/src/app/node
/src/app/topology
/src/app/yangui
/src/app/app.controller.js
/src/app/app.module.js
/src/app/routingConfig.js
/src/common/authentification
/src/common/config
/src/common/general
/src/common/layout
/src/common/login
/src/common/navigation
/src/common/topbar
/src/common/yangutils
/src/main/resources
/src/feature_verification.js
/src/main.js
/src/test-main.js
/src/index.html