<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title ng-bind="'ODL UI - ' + $state.current.name"></title>

    <!-- compiled CSS <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    -->
    <link rel="stylesheet" type="text/css" href="assets/dlux-0.0.1.css"></style>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>

<body>
  <div id="top" ng-if="authed" ng-controller="TopNavCtrl">
    <div id="logo">
      <a ui-sref="index">Open<span><u>D</u>ay<u>l</u>ight <u>U</u>ser<u>E</u>xperience</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- containers-->
      <li class="dropdown" ng-if="containers">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Container: {{currentContainer ? currentContainer.container : 'Please select'}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="container in containers | orderBy:'container'" ng-click="setContainer(container)">
            <a href="">{{container.container}}</a>
          </li>
        </ul>
      </li>
      <!-- end container-->

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User: {{user.username}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a ui-sref="user.preferences">Preferences</a></li>
          <li><a ui-sref="logout">Logout</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="https://wiki.opendaylight.org/view/OpenDaylight_dlux:Main">Wiki</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="main" ng-if="authed">
    <div id="left-cover">
      <div id="left">
        <div ng-controller="LeftNavCrl">
          <div class="top pane">
            <div class="title">Menu</div>
            <ul class="nav nav-pills nav-stacked">
              <li is-active state="node">
                <brd-anchor label="Nodes" state="node.index"></brd-anchor>
              </li>
              <li is-active state="connection_manager">
                <brd-anchor label="Connection Manager" state="connection_manager.index">
              </brd-anchor>
              <li is-active state="flow">
                <brd-anchor label="Flows" state="flow.index"></brd-anchor>
              <li>
              <li is-active state="topology">
                <brd-anchor label="Topology" state="topology"></brd-anchor>
              </li>
              <li is-active state="network">
                <brd-anchor label="Network" state="network"></brd-anchor>
              </li>
              <li is-active state="container">
                <brd-anchor label="Container" state="container.index"></brd-anchor>
              </li>
            </ul>
          </div>

          <div class="bottom pane">
            <div ng-if="menu">
              <div class="title">
                <h4>{{subMenuTitle}}</h4>
                <input ng-model="search" name="search" placeholder="Search" class="input-xs"/>
              </div>
              <div id="submenu" class="navbar navbar-default">
                <ul class="nav nav-tabs nav-stacked">
                  <li ng-repeat="item in menu | filter:search | orderBy:'name'">
                    <brd-anchor label="{{item.name}}" state="{{item.state}}" state-params="item.params"></brd-anchor>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- This is the "main" content div, it holds a contextual menu for the current view on the top and shows useful things underneith-->
    <div id="center-cover">
      <div id="center" ui-view>
      </div>
    </div>

    <div id="right-cover">
      <div id="right" ui-view="right">
        <span>Current state path: {{$state.current.name}}</span><br/>
        <span>stateParams: {{$stateParams}}</span>
      </div>
    </div>
  </div>

  <div ng-if="!authed" ui-view>
  </div>
</body>
</html>
