<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- To remove / convert to LESS -->
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>


    <link rel="stylesheet" href="assets/css/font-awesome.min.css" /> <!-- the font-awesome is different from the 'official' one -->
    <!--<link rel="stylesheet" href="assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />-->
    <link rel="stylesheet" href="assets/css/sb-admin.css" />
  </head>

  <body ng-app="common.login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div mc-login></div>
            </div>
        </div>
    </div>
    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script type="text/javascript">
      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
      function show_box(id) {
       jQuery('.widget-box.visible').removeClass('visible');
       jQuery('#'+id).addClass('visible');
      }
    </script>




      <script src="assets/js/bootstrap.min.js"></script>
      <script src="assets/js/typeahead-bs2.min.js"></script>

      <!-- <script src="assets/js/ace-elements.min.js"></script>
      <script src="assets/js/ace.min.js"></script> 
      <script src="assets/js/ace-extra.min.js"></script>-->
      <script src="assets/js/sb-admin.js"></script>
      <script src="assets/js/jquery.metisMenu.js"></script>
  </body>
</html>
