<head>
	<meta charset="utf-8" />
	<title>{{page.title}} - {{site.title}}</title>
	<meta name="description" content="{{page.description}}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- basic styles -->
	<link href="{{{path.assets}}}/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="{{{path.assets}}}/css/font-awesome.min.css" />
	<!--[if IE 7]>
	  <link rel="stylesheet" href="{{{path.assets}}}/css/font-awesome-ie7.min.css" />
	<![endif]-->


	<!-- page specific plugin styles -->
	{{#page.styles}}
	<link rel="stylesheet" href="{{{path.assets}}}/css/{{{.}}}" />
	{{/page.styles}}
	
	<!-- fonts -->
	{{> layout._template.fonts}}
	
	<!-- ace styles -->
	<link rel="stylesheet" href="{{{path.assets}}}/css/ace.min.css" />
	<link rel="stylesheet" href="{{{path.assets}}}/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="{{{path.assets}}}/css/ace-skins.min.css" />
	<!--[if lte IE 8]>
	  <link rel="stylesheet" href="{{{path.assets}}}/css/ace-ie.min.css" />
	<![endif]-->
	
	<!-- inline styles related to this page -->
	{{#page.inline_styles}}
	<style>
	{{{page.inline_styles}}}
	</style>
	{{/page.inline_styles}}

	<!-- ace settings handler -->
	<script src="{{{path.assets}}}/js/ace-extra.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{{{path.assets}}}/js/html5shiv.js"></script>
	<script src="{{{path.assets}}}/js/respond.min.js"></script>
	<![endif]-->

</head>
