<div ng-controller="leafListCtrl" class="customContainer leaflist {{ node.expanded ? '' : 'withoutBorder' }}">
    <div class="topContainerPart">
        <span class="treeBullet containerBullet" ng-show="node !== selSubApi.node && (node.parent !== null)">&#8226;</span>
        <button class="yangButton {{ node.expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="{{ 'SHOW_HIDE_ELEM' | translate }}" ng-click='toggleExpanded()'></button>
        <button class="btn-name ng-scope btn-slim">
            {{getNodeName(node.localeLabel, node.label)}}
        </button>
        <button ng-if="node.getChildren('description', null, null, 'label').length > 0" class="yangButton iconQuestion inlineBlock" tooltip="{{node.getChildren('description', null, null, 'label')[0]}}" ></button>
        <button class="yangButton iconPlus inlineBlock" ng-click='addListElem()' tooltip="{{ 'LIST_ADD_ITEM' | translate }}" title="{{ 'LEAF_LIST_ADD_ELEM' | translate }}"></button>
    </div>

    <div class="leafListValue" ng-repeat="elem in node.value" ng-show="node.expanded">
        <input type="text" class="leaf-list-value form-control input-small" ng-model="elem.value" ng-change="changed()" />
        <!-- <button class="btn btn-md btn-danger btn-slim" ng-click='removeListElem(elem)'><i class="icon-remove-sign"></i> {{ 'REMOVE_ELEM' | translate }}</button> -->
        <button class="yangButton iconClose" tooltip="{{ 'REMOVE_ELEM' | translate }}" ng-click='removeListElem(elem)'></button>
    </div>

    <i class="icon-caret-down borderArrow" ng-show="node.expanded"></i>
</div>