<div ng-controller="collBoxCtrl">
    <button class="yangButton icon-remove close" ng-click="hideCollBox()"></button>

    <label>{{'YANGUI_HISTORY_NAME' | translate}}:</label>
    <input class="form-control" ng-model="collection.name" type="text">
    
    <label>{{'YANGUI_HISTORY_SELECT_GROUP' | translate}}:</label>
    <select class="form-control" ng-model="collection.group" ng-options="group for group in collectionList.groupsKeys">
        <option value="">{{ 'YANGUI_SEL_OPTION' | translate }}</option>
    </select>
    
    <label>{{'YANGUI_HISTORY_ADD_GROUP' | translate}}:</label>
    <input class="form-control" ng-model="collection.group" type="text">
    
    <button class="btn btn-primary btn-slim mt10" ng-click="addHistoryItemToColl(req)">{{ editBox ? 'YANGUI_SAVE_PARAMETER' : 'YANGUI_HISTORY_ADD_BUTTON' | translate}}</button>
</div>