<div class="tableWrapper">
    <div class="table dataTable reqHistory">
        <div class="thdiv">
            <div class="tddiv rh-col1"></div>
            <div class="tddiv rh-col2">{{ 'YANGUI_HISTORY_METHOD' | translate }}</div>
            <div class="tddiv rh-col8">{{ 'YANGUI_HISTORY_NAME_CAPITAL' | translate }}</div>
            <div class="tddiv rh-col3c">{{ 'YANGUI_HISTORY_PATH' | translate }}</div>
            <div class="tddiv rh-col4">{{ 'YANGUI_HISTORY_STATUS' | translate }}</div>
            <div class="tddiv rh-col5"></div>
            <div class="tddiv rh-col6"></div>
            <div class="actions tddiv rh-col7">{{ 'YANGUI_HISTORY_ACTION' | translate }}</div>
        </div>

        <div class="scroll">
            <div ng-repeat="req in collectionList.ungrouped track by $index" class="trdiv">
                <div ng-controller="reqInHistoryCtrl" ng-init="init(collectionList)">
                    <div class="tddiv rh-col1"><button class="yangButton iconDanger" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_API_NOT_AVAILABLE' | translate }}" ng-hide="req.availability"></button></div>
                    <div class="tddiv rh-col2"><span>{{ req.method }}</span></div>
                    <div class="tddiv rh-col8"><span>{{ req.name }}</span></div>
                    <div class="tddiv rh-col3c"><span>{{ req.path }}</span></div>
                    <div class="tddiv rh-col4"><span>{{ req.status }}</span></div>
                    <div class="tddiv rh-col5">
                        <div tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.sentData ? '' : 'YANGUI_HISTORY_NO_SEND_DATA_TT' | translate }}">
                            <button class="btn btn-primary ng-scope btn-slim {{!req.sentData ? 'disabled' : ''}}" ng-click='showShistoryData()'>
                                {{ 'YANGUI_HISTORY_SEND_DATA' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="tddiv rh-col6">
                        <div tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.receivedData ? '' : 'YANGUI_HISTORY_NO_REC_DATA_TT' | translate }}">
                            <button class="btn btn-primary ng-scope btn-slim {{!req.receivedData ? 'disabled' : ''}}" ng-click='showRhistoryData()'>
                                {{ 'YANGUI_HISTORY_REC_DATA' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="tddiv rh-col7">
                        <div class="requestActions">

                            <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.availability ? 'YANGUI_RUN' : 'YANGUI_API_NA_ERROR_TT' | translate }}">
                                <button ng-disabled="!req.availability" class="yangButton iconNext {{ req.availability ? '' : 'disabled' }}" ng-click='executeCollectionRequest(req, dataForView, showData)'>
                                </button>
                            </div>

                            <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.availability ? (req.receivedData || req.sentData) ? 'YANGUI_FILL_DATA_TT' : 'YANGUI_REC_SENT_DATA_ERROR_TT' : 'YANGUI_API_NA_ERROR_TT' | translate }}">
                                <button class="yangButton iconFillData {{ req.availability && (req.receivedData || req.sentData) ? '' : 'disabled' }}" ng-click='fillApiAndData(req, dataForView)'>
                                </button>
                            </div>

                            <div class="inlineBlock historyRequestBox" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_CHANGE_GROUP' | translate }}">
                                <div class="yangButton iconEdit inlineBlock" ng-click="showCollBox(req, true)"></div>
                            </div>
                            <button class="yangButton iconClose" ng-click="deleteRequestItem(req, 'collectionList')" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_DELETE' | translate }}"></button>
                        </div>
                    </div>

                    <div ng-show="showData" class="trdiv pre-div" ng-include src="currentPath + 'parts/history-dataview-part.tpl.html'"></div>
                </div>





            </div>

            <div ng-repeat="(key, value) in collectionList.groups track by $index" class="groupWrapper" ng-init="setGroupView(key)">
                <section class="groupHeader" ng-click="toggleExpanded(key)">
                    {{key}} <i class="{{groupView[key] ? 'icon-caret-down':'icon-caret-right'}}"></i>
                </section>

                <section ng-repeat="req in value" ng-show="groupView[key]" class="trdiv groupList">
                    <div ng-controller="reqInHistoryCtrl" ng-init="init(collectionList)">
                        <div class="tddiv rh-col1"><button class="yangButton iconDanger" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_API_NOT_AVAILABLE' | translate }}" ng-hide="req.availability"></button></div>
                        <div class="tddiv rh-col2"><span>{{ req.method }}</span></div>
                        <div class="tddiv rh-col8"><span>{{ req.name }}</span></div>
                        <div class="tddiv rh-col3c"><span>{{ req.path }}</span></div>
                        <div class="tddiv rh-col4"><span>{{ req.status }}</span></div>
                        <div class="tddiv rh-col5">
                            <div tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.sentData ? '' : 'YANGUI_HISTORY_NO_SEND_DATA_TT' | translate }}">
                                <button class="btn btn-primary ng-scope btn-slim {{!req.sentData ? 'disabled' : ''}}" ng-click='showShistoryData()'>
                                    {{ 'YANGUI_HISTORY_SEND_DATA' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="tddiv rh-col6">
                            <div tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.receivedData ? '' : 'YANGUI_HISTORY_NO_REC_DATA_TT' | translate }}">
                                <button class="btn btn-primary ng-scope btn-slim {{!req.receivedData ? 'disabled' : ''}}" ng-click='showRhistoryData()'>
                                    {{ 'YANGUI_HISTORY_REC_DATA' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="tddiv rh-col7">
                            <div class="requestActions">
                                <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.availability ? 'YANGUI_RUN' : 'YANGUI_API_NA_ERROR_TT' | translate }}">
                                        <button ng-disabled="!req.availability" class="yangButton iconNext {{ req.availability ? '' : 'disabled' }}" ng-click='executeCollectionRequest(req, dataForView, showData)'>
                                        </button>
                                    </div>

                                <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ req.availability ? (req.receivedData || req.sentData) ? 'YANGUI_FILL_DATA_TT' : 'YANGUI_REC_SENT_DATA_ERROR_TT' : 'YANGUI_API_NA_ERROR_TT' | translate }}">
                                    <button class="yangButton iconFillData {{ req.availability && (req.receivedData || req.sentData) ? '' : 'disabled' }}" ng-click='fillApiAndData(req, dataForView)'>
                                    </button>
                                </div>

                                <div class="inlineBlock historyRequestBox" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_CHANGE_GROUP' | translate }}">
                                    <div class="yangButton iconEdit inlineBlock" ng-click="showCollBox(req, true)"></div>
                                </div>

                                <button class="yangButton iconClose" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" ng-click="deleteRequestItem(req, 'collectionList')" tooltip="{{ 'YANGUI_DELETE' | translate }}"></button>
                            </div>
                        </div>

                        <div ng-show="showData" class="trdiv pre-div" ng-include src="currentPath + 'parts/history-dataview-part.tpl.html'"></div>
                    </div>


                </section>

            </div>
        </div>


    </div>
    <button class="btn btn-primary ng-scope btn-slim" ng-click='clearHistoryData("collectionList")'>
        {{ 'YANGUI_CLEAR_COLLECTION' | translate }}
    </button>
    <span class="ml30">
        {{ 'YANGUI_IMPORT_COLLECTION' | translate }} :
    </span>
    <input class="btn btn-primary ng-scope btn-slim upload-collection" id="upload-collection" type="file" on-read-file="readCollectionFromFile($fileContent)"/>
    <button class="btn btn-primary ng-scope btn-slim" ng-click='exportHistoryData()' ng-href="{{ url }}">
        {{ 'YANGUI_EXPORT_COLLECTION' | translate }}
    </button>
</div>