<div class="tableWrapper" ng-controller="historyParamCtrl">
    <!-- Box -->
    <div ng-include src="currentPath + 'parts/param-box.tpl.html'"></div>

    <!-- Table -->
    <div class="table dataTable reqParams">
        <div class="thdiv">
            <div class="tddiv rh-col1"></div>
            <div class="tddiv rh-col2">{{ 'YANGUI_PARAMETER_NAME' | translate }}</div>
            <div class="tddiv rh-col3">{{ 'YANGUI_PARAMETER_VALUE' | translate }}</div>
            <div class="tddiv actions rh-col4">{{ 'YANGUI_ACTION' | translate }}</div>
        </div>
        
        <perfect-scrollbar class="scroll">
            <div ng-repeat="param in parameterList.list track by $index" class="trdiv" ng-class="$index === 0 ? 'no-border' : ''">
                <div>
                    <div class="tddiv rh-col1"><span></span></div>
                    <div class="tddiv rh-col2"><span>&lt;&lt;{{ param.name }}&gt;&gt;</span></div>
                    <div class="tddiv rh-col3"><span>{{ param.value }}</span></div>
                    <div class="tddiv rh-col4">
                        <div class="requestActions">
                            <div >
                                <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_EDIT' | translate }}">
                                    <button class="yangButton iconEdit" ng-click="showParamBox(param)"></button>
                                </div>
                                <div class="inlineBlock" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_DELETE' | translate }}">
                                    <button class="yangButton iconClose" ng-click="deleteRequestItem(param, 'parameterList')" tooltip-placement="{{ $index ? 'top' : 'bottom' }}" tooltip="{{ 'YANGUI_DELETE' | translate }}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>


    </div>
    <div>
        <button class="btn btn-primary ng-scope btn-slim" ng-click="showParamBox(createNewParam())">
            {{ 'YANGUI_ADD_PARAMETER' | translate }}
        </button>
        <button class="btn btn-primary ng-scope btn-slim" ng-click='clearHistoryData("parameterList")'>
            {{ 'YANGUI_CLEAR_PARAMETERS' | translate }}
        </button>
        <span class="ml30">
            {{ 'YANGUI_IMPORT_PARAMETERS' | translate }} :
        </span>
        <input class="btn btn-primary ng-scope btn-slim upload-collection" id="upload-parameters" type="file" on-read-file="readParametersFromFile($fileContent)"/>
        <button class="btn btn-primary ng-scope btn-slim" ng-click='exportParametersData()' ng-href="{{ url }}">
            {{ 'YANGUI_EXPORT_PARAMETERS' | translate }}
        </button>
    </div>
</div>