<md-dialog aria-label="{{'YANGMAN_COLLECTION_NAME'| translate}}"  ng-cloak>
    <form name="collectionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{(dialog.duplicate ? 'YANGMAN_COLLECTION_DUPLICATE' : 'YANGMAN_COLLECTION_CHANGE_NAME')| translate}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:300px;">
            <div class="md-dialog-content" layout="column">
                <div layout="row">
                    <md-input-container flex>
                        <label>{{(dialog.duplicate ? 'YANGMAN_COLLECTION_NEW_NAME' : 'YANGMAN_COLLECTION_NAME') | translate}}</label>
                        <input name="collectionName"
                               ng-model="dialog.collectionName"
                               autocomplete="off"
                               ng-required="true">
                        <div ng-messages="collectionForm.collectionName.$error" multiple md-auto-hide="false">
                            <div ng-message="required">
                                {{'YANGMAN_COLLECTION_NAME_REQUIRED'| translate}}
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="dialog.cancel()">
                {{'YANGMAN_CANCEL'| translate}}
            </md-button>
            <md-button ng-click="dialog.save()" ng-disabled="!collectionForm.$valid">
                {{'YANGMAN_SAVE'| translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
