<md-list class="yangmanModule__requests-list h100"
         ng-cloak
         ng-init="reqList.init('history')"
         ng-controller="RequestsListCtrl as reqList">

    <md-content class="searchBox yangmanModule__left-panel__search" layout="row">

        <!-- searching -->
        <md-input-container layout="row" md-no-float class="modules-list-search" flex>
            <!-- search icon, form, clear button -->
            <md-icon class="material-icons">search</md-icon>
            <input class="ng-pristine ng-valid ng-touched"
                   type="text"
                   flex
                   placeholder="{{'YANGMAN_SEARCH' | translate}}"
                   ng-model="reqList.search"
                   aria-invalid="false" />
            <md-button aria-label="{{'YANGMAN_CLEAR_SEARCH'| translate}}" flex="none"
                       ng-click="reqList.clearFilter()"
                       ng-if="reqList.search">
                <md-icon class="material-icons clickable">
                    close
                </md-icon>
                <md-tooltip md-direction="bottom">{{'YANGMAN_CLEAR_SEARCH'| translate}}</md-tooltip>
            </md-button>
            <!-- /search icon, form, clear button -->
        </md-input-container>

        <!-- save -->
        <md-button  ng-click="reqList.showDgSaveReq($event)"
                    ng-disabled="!reqList.mainList.getSelectedItems(reqList.filterReq).length">
            <md-icon class="material-icons clickable">
                save
            </md-icon>
            <md-tooltip md-direction="bottom">{{'YANGMAN_REQS_SAVE_TO_COL'| translate}}</md-tooltip>
        </md-button>
        <!-- /save -->

        <!-- menu for deleting and clearing-->
        <md-menu layout-align="center start">
            <md-button ng-disabled="!reqList.mainList.list.length" aria-label="menu"  ng-click="$mdOpenMenu()">
                <md-icon class="material-icons clickable"> delete</md-icon>
                <md-tooltip md-direction="bottom">{{'YANGMAN_DELETE_OPTIONS' | translate}}</md-tooltip>
            </md-button>
            <md-menu-content>
                <!-- delete selected -->
                <md-menu-item>
                    <md-button aria-label="{{'YANGMAN_REQS_DELETE'| translate}}"
                               ng-click="reqList.showDgDeleteRequests($event)"
                               ng-disabled="!reqList.mainList.getSelectedItems(reqList.filterReq).length">
                        <md-icon class="material-icons clickable"> delete</md-icon>
                        {{'YANGMAN_REQS_DELETE'| translate}}
                    </md-button>
                </md-menu-item>
                <!-- / delete selected -->
                <!-- clear history -->
                <md-menu-item>
                    <md-button aria-label="{{'YANGMAN_DELETE_HISTORY' | translate}}"
                               ng-click="reqList.clearHistoryList($event)"
                               ng-disabled="!reqList.mainList.list.length">
                        <md-icon class="material-icons clickable"> delete_forever</md-icon>
                        {{'YANGMAN_DELETE_HISTORY' | translate}}
                    </md-button>
                </md-menu-item>
                <!-- / clear history -->
            </md-menu-content>
        </md-menu>
        <!-- / menu for deleting and clearing -->

        <!-- menu for selecting and deselecting-->
        <md-menu layout-align="center start">
            <md-button ng-disabled="!reqList.mainList.list.length" aria-label="menu"  ng-click="$mdOpenMenu()">
                <md-icon class="material-icons clickable">
                    playlist_add_check
                </md-icon>
                <md-tooltip md-direction="bottom">{{'YANGMAN_SELECT_OPTIONS' | translate}}</md-tooltip>
            </md-button>
            <md-menu-content>
                <!-- select all -->
                <md-menu-item>
                    <md-button aria-label="{{'YANGMAN_SELECT_ALL' | translate}}"
                               ng-click="reqList.selectAllFilteredRequests()">
                        <md-icon class="material-icons clickable">
                            done
                        </md-icon>
                        {{'YANGMAN_SELECT_ALL' | translate}}
                    </md-button>
                </md-menu-item>
                <!-- /select all -->
                <!-- deselect all -->
                <md-menu-item>
                    <md-button aria-label="{{'YANGMAN_DESELECT_ALL' | translate}}"
                               ng-click="reqList.deselectAllFilteredRequests()" ng-disabled="reqList.mainList.getSelectedItems(reqList.filterReq).length === 0">
                        <md-icon class="material-icons clickable">
                            close
                        </md-icon>
                        {{'YANGMAN_DESELECT_ALL' | translate}}
                    </md-button>
                </md-menu-item>
                <!-- / deselect all -->
            </md-menu-content>
        </md-menu>
        <!-- / menu for selecting and deselecting -->

        <!-- button for settings -->
        <md-button  ng-click="reqList.showHistorySettings($event)"
                    id="history-settings">
            <md-icon class="material-icons clickable">
                settings
            </md-icon>
            <md-tooltip md-direction="bottom">{{'YANGMAN_HISTORY_SETTINGS'| translate}}</md-tooltip>
        </md-button>

    </md-content>
    <md-divider></md-divider>

    <!-- list of items grouped by date -->
    <md-content class="scrollableY">
        <md-list-item ng-repeat="group in reqList.mainList.dateGroups | orderBy: 'name': true"
                      class="yangmanModule__requests-list__group"
                      ng-if="(group.requests | filter:reqList.filterReq).length">

            <div layout="column" flex>

                <!-- date group header -->
                <md-subheader class="md-no-sticky">
                    {{group.longName}}
                </md-subheader>
                <!-- /date group header -->

                <!-- list of requests in current group -->
                <md-list>
                    <div ng-repeat="request in group.requests | filter: reqList.filterReq  | orderBy: '-timestamp' track by $index"
                         layout="row"
                         class="yangmanModule__requests-list__item-container"
                         ng-include src="globalViewPath + 'leftpanel/request-item.tpl.html'">
                    </div>
                </md-list>
                <!-- /list of requests in current group -->

            </div>

            <md-divider></md-divider>

        </md-list-item>
    </md-content>
    <!-- /list of items grouped by date -->

</md-list>
