<section ng-cloak ng-controller="ModulesListCtrl as modulesList" class="h100">
    <!-- searching -->
    <section class="yangmanModule__left-panel__search">
        <md-input-container layout="row" md-no-float class="modules-list-search">
            <md-icon class="material-icons">search</md-icon>
            <input class="ng-pristine ng-valid ng-touched"
                   type="text"
                   flex
                   id="search-modules"
                   placeholder="{{'YANGMAN_SEARCH' | translate}}"
                   ng-model="modulesList.search"
                   aria-invalid="false" />

            <!-- search clear button -->
            <md-button aria-label="{{'YANGMAN_CLEAR_SEARCH'| translate}}" flex="none"
                       id="search-modules-clear"
                       ng-click="modulesList.clearFilter()"
                       ng-if="modulesList.search">
                <md-icon class="material-icons clickable">
                    close
                </md-icon>
                <md-tooltip md-direction="bottom">{{'YANGMAN_CLEAR_SEARCH'| translate}}</md-tooltip>
            </md-button>
        </md-input-container>

    </section>

    <!-- divider -->
    <md-divider ng-hide="modulesList.showLoadingBox"></md-divider>

    <!-- modules list -->
    <md-list ng-cloak class="yangmanModule__modules-list scrollableY">

        <!-- Loading bar -->
        <md-progress-linear md-mode="indeterminate" ng-show="modulesList.showLoadingBox"></md-progress-linear>

        <!-- Mount point title -->
        <section ng-show="modulesList.moduleListTitle.length">
            <h4>{{ modulesList.moduleListTitle }}</h4>
            <!-- Line -->
            <md-divider></md-divider>
        </section>

        <!-- Modules list -->
        <md-list-item ng-repeat="module in modulesList.treeApis | filter: modulesList.customSearch | orderBy: 'label' track by $index"
                      class="yangmanModule__modules-list__item"
                      ng-class="{'expanded' : module.expanded, 'selected' : modulesList.checkSelectedModule(module)}"
                      id="module_{{$index}}"
                      ng-init="parentIndex = $index"
                      ng-hide="modulesList.showLoadingBox"
                      ng-click="modulesList.setModule(module, $event)">
            <!-- Item content -->
            <div layout="column" flex>
                <!-- Module title -->
                <div layout="row" layout-align="center center"  class="pointer title">
                    <md-icon md-font-set="material-icons" class="top-icon top-element">
                        {{module.expanded ? 'keyboard_arrow_down':'keyboard_arrow_right'}}
                    </md-icon>
                    <p flex class="top-element" md-highlight-text="modulesList.search" md-highlight-flags="i"> {{module.label}} </p>
                </div>

                <!-- Datastore && rpc -->
                <md-list flex class="yangmanModule__datastore-list" ng-show="module.expanded">
                    <md-list-item ng-repeat="item in module.children track by $index" id="module-{{parentIndex}}-portion-{{$index}}">
                        <div flex
                             layout="row"
                             layout-align="center center"
                             class="pointer"
                             ng-click="modulesList.setDataStore(item, module)">
                            <md-icon md-font-set="material-icons">keyboard_arrow_right</md-icon>
                            <p flex> {{item.label}} </p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
            <!-- Line -->
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</section>
