<md-content ng-controller="ModuleDetailCtrl as moduleDetail">
    <!-- Module title -->
    <h4 class="text-center"><small>module</small> {{selectedModule.label}}</h4>

    <!-- DATA STORE || RPC TABS -->
    <md-tabs md-no-pagination md-dynamic-height
             md-stretch-tabs="always"
             md-selected="moduleDetail.selectedDataStoreIndex"
             class="tabs inline-tabs">
        <md-tab ng-repeat="item in selectedModule.children track by $index">
            <md-tab-label>
                <div layout="row">
                    <span flex="grow" ng-click="moduleDetail.setDataDetailStore(item)"  id="selected-module-portion-{{$index}}">{{item.label}}</span>
                </div>
            </md-tab-label>

            <md-tab-body>
                <div class="scrollableY scrollableX">
                    <abn-api-tree tree-data="moduleDetail.treeApis"
                                  tree-rows="moduleDetail.treeRows"
                                  on-select="moduleDetail.setApiNode(branch.indexApi, branch.indexSubApi)"></abn-api-tree>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>
